[2021-10-25 15:25] #772 closed, assigned to nobody

[2021-10-25 15:42] phillipuniverse opened #775 "Add Datadog Propagator automatically to propagators"
**Is your feature request related to a problem?**
Feature Request

**Describe the solution you'd like**
The `DatadogFormat` exporter includes the `DatadogFormat` propagator to read in Datadog-specific trace/span information. This is not added as an `opentelemetry_propagator` entrypoint and is thus not hooked up by default into the `CompositePropagator`:

https://github.com/open-telemetry/opentelem

[2021-10-25 21:50] mattoberle opened #778 "Should "setuptools" be a runtime dependency of "opentelemetry-instrumentation"?"
**Describe your environment**

I'm running `Python 3.8.10` on `Ubuntu 20.04` (but it shouldn't make a difference here).

**Additional Context**

I believe that `setuptools` recently moved from a buildtime dependency to a runtime dependency in https://github.com/open-telemetry/opentelemetry-python-contrib/pull/738.

Direct references to `pkg_resources` were added outside of the build context here:

[2021-10-25 22:35] NathanielRN opened #779 "Give instrumentations of stdlib packages a separate symbol so know when to use instrumentation pkg"
This came up in a comment on my recent PR: https://github.com/open-telemetry/opentelemetry-python-contrib/pull/739#discussion_r735728575

**Is your feature request related to a problem?**
The `aws_lambda` instrumentation does not need to have any dependency packages installed for it to instrument AWS Lambda, but obviously is only applicable in the AWS Lambda environment.

This means with no depend

[2021-10-27 22:53] #778 closed, assigned to nobody

[2021-10-31 08:55] homholueng opened #784 "Celery instrument didn't propagate baggage"
**Describe your environment**
- Platform: `Darwin-20.3.0-x86_64-i386-64bit`
- Python Version: `Python 3.6.7`
- Installed Dependencies:
[code]

**Steps to reproduce**

Code Sample:

[code]

1. start celery worker with command: `celery -A my_tasks worker`
2. send task with command: `python my_tasks.py`

**What is the expected behavior?**

The worker should output:

[code]

**What is the actual behav

[2021-11-02 11:32] fynjah commented on #165
Still have same problem. `0.25b2` is installed with `asgi` extra.

`pip install -U opentelemetry-instrumentation-django[asgi] --no-cache-dir`
:/

[2021-11-02 12:32] mat-rumian opened #785 "boto3 invoke method can not be instrumented"
In case of lambda function invoking other function there is a problem with instrumentation of the `invoke()` method.

**Describe your environment**
- https://github.com/open-telemetry/opentelemetry-lambda/tree/main/python
- AWS Lambda Python 3.8 runtime
- opentelemetry-instrumentation 0.24b0 (tested also on 0.25b2)
- opentelemetry-instrumentation-boto 0.24b0 (tested also on 0.25b2)
- opentelemetry

[2021-11-02 12:46] adamantike commented on #165
@fynjah, do you have an application example I can use to test why it fails? Or, at least, which Python/Django versions are being installed, and how the project is instrumented and executed?

[2021-11-02 13:33] fynjah commented on #165
[code]

[code]

@adamantike Unfortunately I don't have example app:/ I will try to repeat this issue on example project asap.
The project - huge REST API backend for mobile app.
Anyway, right now I'm in research and just trying to start using opentelemetry on local environment.

[2021-11-02 14:26] phillipuniverse opened #786 "Add support for RQ (Redis Queue)"
It would be great to have out-of-the-box support for [RQ](https://python-rq.org/) which is a simple job runner built on top of Redis. It doesn't have as many knobs or options as something like Celery but my organization uses it pretty heavily.

We also specifically use the [Django integration](https://github.com/rq/django-rq) which is relatively light and gives some additional admin functionality

[2021-11-02 17:37] phillipuniverse opened #787 "Use __name__ instead of __file__ for logging statements"
I am trying to turn on logging for `opentelemetry.instrumentation.auto_instrumentation.sitecustomize`. However, this uses `__file__` in the `getLogger()` call:

https://github.com/open-telemetry/opentelemetry-python-contrib/blob/671aea32f9bbf53ace776c17ef2a80424d730fbb/opentelemetry-instrumentation/src/opentelemetry/instrumentation/auto_instrumentation/sitecustomize.py#L30-L33

Because of this, th

[2021-11-02 20:16] adamantike opened #789 "Add support for generic OTEL_PYTHON_EXCLUDED_URLS variable"
**Is your feature request related to a problem?**
Right now, to exclude URLs from being traced using environment variables, the `OTEL_PYTHON_{instrumentation}_EXCLUDED_URLS` naming convention must be used.
However, considering that the inner workings of the excluded URLs are independent of the running integration, and actually related to the `ExcludedList` implementation, having support for a gene

[2021-11-02 20:18] owais commented on #789
Sounds good to me. We should create an issue per instrumentation to track this.

[2021-11-03 15:47] owais opened #791 "Add support for PyMySQL v1.x series"
pymysql instrumentation does not work with 1.x series as it lists <1.0 as the compatible versions. I've tested the instrumentatoin with a simple application that uses PyMySQL 1.0 and it seems to work. We should update the instrumentation to support <2.0.

original issue: https://github.com/open-telemetry/opentelemetry-python/issues/2259

[2021-11-06 02:10] #773 closed

[2021-11-06 11:48] #791 closed

[2021-11-08 11:00] saumya2700 opened #800 "Opentelemetry-python support for Faust"
**Is your feature request related to a problem?**
We are using latest version of opentelemetry python lib to generate traces, and our python app is using faust kafka stream.
Traces are not generating for python app where we are using faust. I read that faust is not yet supported. If it is already supported in recent releases can you please direct me to that documentation.

**Describe the solution

[2021-11-08 23:29] #787 closed

[2021-11-09 06:02] phillipuniverse opened #795 "FastAPI/Starlette - Inconsistent placement of the OpenTelemetryMiddleware"
The `Starlette` application class (which is the parent of the `FastAPI` application class) hardcodes the `ServerErrorMiddleware` to appear as the [very first middleware](https://github.com/encode/starlette/blob/6af5c515e0a896cbf3f86ee043b88f6c24200bcf/starlette/applications.py#L68-L92). This means that if there is an error in some downstream middleware, handling the request with `ServerErrorMiddle

[2021-11-09 13:39] ocelotl opened #796 "Increase the usage of augmented assignment statements"
This issue corresponds with [this one](https://github.com/open-telemetry/opentelemetry-python/issues/2258).

[2021-11-09 14:19] kant777 opened #798 "unable to get any auto instrumentation to work for a GRPC server written in python"
Hi All,

I am unable to get the auto instrumentation to work for the following server written in python  https://github.com/lightstep/hipster-shop/blob/master/src/emailservice/email_server.py

I ran the server using the following command

[code]

I was successfully able to invoke the server using https://github.com/lightstep/hipster-shop/blob/master/src/emailservice/email_client.py and I can see t

[2021-11-09 14:41] kant777 commented on #798
can you please provide steps you took to produce this jinja span?

[2021-11-09 14:49] owais commented on #798
I just ran the example you shared with otel packages version mentioned in [this comment](https://github.com/open-telemetry/opentelemetry-python-contrib/issues/798#issuecomment-964093143)

[2021-11-09 15:07] phillipuniverse commented on #795
The workaround for now is to add an `opentelemetry_pre_instrument` entrypoint. Here is my patching function:

[code]

Then you need an entrypoint for `fastapi` under `opentelemtry_pre_instrument`. In my case I am using Poetry so my `pyproject.toml` looks like this:

[code]

With this change I am able to see trace/span ids in logger invocations from `ServerErrorMiddleware`.

Also let me just say, I

[2021-11-10 22:44] #789 closed

[2021-11-10 23:42] #796 closed

[2021-11-11 03:09] phillipuniverse opened #803 "Add traceresponse header support for ASGI applications (Starlette, FastAPI)"
This was added to a lot of HTTP frameworks in #436 but it looks like FastAPI and Starlette missed the cut. Could have been there was not support for those frameworks just yet.

[2021-11-11 14:17] ashu658 commented on #445
I would like to pick this up as my first issue! Please let me know if its okay. Would appreciate any guidance on getting started with this.
cc @owais

[2021-11-11 14:23] owais commented on #447
@ashu658  ^

[2021-11-11 14:25] ashu658 commented on #446
Hi @owais
I would like to work on this as my first issue!

[2021-11-11 15:58] owais commented on #446
Done

[2021-11-11 18:42] owais opened #808 "Release to test.pypi.org before releasing to pypi.org"
The publish job should be updated so that it attempts to release to test.pypi.org first and only releases to pypi.org if the test release succeeds. This will prevent us from issuing broken releases where some packages go through but others don't.

[2021-11-11 20:11] owais commented on #808
We already do this :)

[2021-11-11 20:11] #808 closed

[2021-11-12 06:46] mvkrishna86 opened #810 "error with logging instrumentation - AttributeError: 'ProxyTracerProvider' object has no attribute 'resource'"
**Describe your environment**

LoggingInstrumentor().instrument() is throwing an error
[code]

**Steps to reproduce**
Below packages installed and trying to instrument with below two lines:

[code]

**What is the expected behavior?**
What did you expect to see?
logging should be instrumented properly.

**What is the actual behavior?**
What did you see instead?
logging should be instrumented proper

[2021-11-12 11:55] owais commented on #810
You need to set up the SDK and tracing pipeline before you can use any instrumentors. Please refer to this: https://opentelemetry-python.readthedocs.io/en/latest/getting-started.html

[2021-11-12 11:56] owais commented on #810
[code]

[2021-11-12 15:26] ocelotl commented on #810
This is right, but we should not fail like this (with an attribute error) if SDK or tracing has not yet been set.

[2021-11-15 12:18] owais commented on #810
We shouldn't. I meant to bring it up in weekly SIG this Thursday.

[2021-11-15 18:21] talboren opened #811 "TypeError: http_status_to_status_code() got an unexpected keyword argument 'server_span'"
**Describe your environment**

python 3.7-slim

**pip freeze**

#13 0.770 aiosignal==1.2.0
#13 0.770 alembic==1.7.5
#13 0.770 anyio==3.3.4
#13 0.770 asgiref==3.4.1
#13 0.770 asn1crypto==1.4.0
#13 0.770 async-timeout==4.0.1
#13 0.770 asynctest==0.13.0
#13 0.770 attrs==21.2.0
#13 0.770 azure-common==1.1.27
#13 0.770 azure-core==1.20.1
#13 0.770 azure-storage-blob==12.9.0
#13 0.770 backoff==1.10.0
#1

[2021-11-15 19:39] owais commented on #811
You seem to be mixing 0.24 and 0.26 releases of instrumentation packages. They must be on the same version. Either downgrade the 0.26 ones to 0.24 or upgrade everything to 0.26.

[code]

[2021-11-15 19:40] owais commented on #811
I'm surprised how pip even installed these as we set requirements explicitly to the corresponding version. For example, https://github.com/open-telemetry/opentelemetry-python-contrib/blob/main/instrumentation/opentelemetry-instrumentation-wsgi/setup.cfg#L45

[2021-11-15 19:58] talboren commented on #811
Very weird, guess it has something to do with requirements order and some dependency of another package since we do not enforce any specific version.
will look in to this tomorrow morning and post updates.

Thanks!

[2021-11-15 20:11] owais commented on #811
I'd highly recommend to pin all opentelemetry packages with versions less than 1.0 or things will keep breaking unexpectedly for you :)

[2021-11-16 07:54] talboren commented on #811
Thanks for all your help!

[2021-11-16 07:54] #811 closed

[2021-11-17 12:22] sanketmehta28 commented on #448
Hi @owais : I would like to work on this as my first contribution to Opentelemetry.
Can you please assign it to me?

[2021-11-17 15:23] ashu658 opened #813 "Changing order of instrumentation changes the span start timestamp"
**Environment**
opentelemetry-api/sdk: 1.7.1
opentelemetry-instrumentation-flask/wsgi/requests: 0.26b1

**Steps to reproduce**

**Setup**: A flask app with both wsgi and flask instrumentations enabled.
**Flask app used** (wsgi instrumentor called first)
[code]

In the app above two traces are sent one for wsgi and other for flask. Start timestamp of spans of wsgi is later than that of flask spans.

[2021-11-17 17:24] owais commented on #448
Assigned. @ashu658 was planning to work on #445 as well. Please coordinate so you don't work on the same tickets.

[2021-11-18 10:29] sanketmehta28 commented on #448
Sure, We are from the same team. we will coordinate with each other.

[2021-11-19 11:55] #771 closed

[2021-11-29 19:08] yossicohn commented on #609
@owais, @lonewolf3739
@zionsofer and myself found a workaround on this.
I think the documentation should add this workaround, as it is a major use case when using celery, since
usually a worker (first service) publish a task that would be comsumed by another service (second worker).
if this is workaround is ok we can use it to the documentation.

**Workaround**
We have found that adding the task d

[2021-11-29 20:56] jlugao opened #818 "Instrumentation not working with HTTPX 0.21.1 async client"
**Describe your environment**

I am using python 3.9 and
[code]

**Steps to reproduce**
clone https://github.com/jlugao/httpx-opentelemetry-bug
pip install requirements.txt
python sample.py

**What is the expected behavior?**
It should print 200 and send data to jaeger

**What is the actual behavior?**
[code]

[2021-12-01 08:06] owais commented on #609
SpanKind should definitely NOT be SERVER. This looks like a limitation in the APM backend you are using.

I don't think users should have to worry about the workaround. Ideally, instrumenting with Otel should require zero code changes especially to existing non-otel related code. IMO this is a bug in the Celery instrumentation and should be fixed so it works for all users.

[2021-12-02 10:08] BaruchReut commented on #389
Is it still available? Can I pick it up?

[2021-12-03 01:48] gregbuehler opened #820 "urllib instrumentation fails for local file access"
When reading local files the status code is not specified and is None. This isn't handled by the instrumentation and causes an exception.

https://github.com/open-telemetry/opentelemetry-python-contrib/blob/444e0a13127304d3a04ccd44445b2e6caed3f770/instrumentation/opentelemetry-instrumentation-urllib/src/opentelemetry/instrumentation/urllib/__init__.py#L212-L217

[2021-12-03 05:12] proffalken opened #821 "Span/Trace ID is always zero in log files when running with Django"
**Describe your environment**
Running [github.com/makemonmouth/mventory](https://github.com/MakeMonmouth/mventory/tree/feature/opentelemetry) either via `manage.py` or `uwsgi` does not produce correct trace/span ID's.

**Steps to reproduce**
1. Clone the project and install via `pip install -r requirements.txt`
2. Run `./manage.py runserver`
3. Browse to http://localhost:8000

**What is the expect

[2021-12-03 06:09] proffalken commented on #821
I've made *some* progress by moving the initialisation code out of `manage.py` and into https://github.com/MakeMonmouth/mventory/blob/feature/opentelemetry/mventory/wsgi.py

This gets me the traceID's into the logs and they are showing up in Loki, however it only seems to be for errors and warnings, not for successful responses:

[code]

[code]

[2021-12-03 09:46] owais commented on #820
Thanks for reporting this. Could you please share the exception traceback and a reproducible code example?

[2021-12-03 16:47] gregbuehler commented on #820
Traceback:
[code]

[2021-12-03 16:55] gregbuehler commented on #820
It's not minimal, but reproduction is as easy as specifying a local file as the schema for https://github.com/Yelp/swagger_spec_validator.

[2021-12-03 17:09] lzchen commented on #821
How are you setting up your tracing pipeline? I can't seem to find it in your sample.

[2021-12-03 17:11] lzchen commented on #820
Is "returning a non-int status code' a common thing amongst instrumentations? If not, maybe we should treat this as a special use case and address it only for urlib.

[2021-12-03 21:27] proffalken commented on #821
This could well be where I'm going wrong then! :rofl:

I'm using the OTLP HTTP exporter sending directly to Grafana's Tempo over a TLS Connection for the traces, and using the Django Loki Logging module to send the logs directly to Grafana's Loki.

I'm then trying to stitch it all together in Grafana, but because the traceID in the log is `0`, Tempo can't see the trace IDs.

As an example, I have

[2021-12-03 21:47] proffalken commented on #821
FWIW, I've gone back to flask and stripped everything back to a single file.

The app, env vars, and requirements.txt are all available in [this Gist](https://gist.github.com/proffalken/e8a777a1f622701d9c59164f6d47cbf5), and the result is exactly the same - the Trace and Span ID are `0` in the logs, so I'm guessing I'm doing something wrong with my logging config?

[2021-12-04 19:49] owais commented on #820
I think in the interest of never crashing, `http_status_to_status_code` should be defensive and return non-error in case it is passed invalid input.

[2021-12-07 02:40] rltoSD opened #824 "Missing Prometheus Remote-Write Exporter Code"
As mentioned here in issue #2291 on [opentelemetry-python ](https://github.com/open-telemetry/opentelemetry-python/issues/2291), the code for the Prometheus Remote-Write Exporter is missing from the repo. This is a big issue because the source code is not located anywhere on github.

AWS Engineers had contributed to developing the PRW exporter
https://aws.amazon.com/blogs/opensource/building-a-pro

[2021-12-07 17:26] proffalken commented on #810
@owais I'm seeing a similar thing in #821, I believe that I've set things up properly, if I use the ConsoleSpanExporter then I get the traces output to the CLI, but as soon as I switch to OTLPHTTP my TraceID's are *always* `0`.

Could there be a bigger issue here?

[2021-12-07 17:43] proffalken commented on #821
OK, I've stripped this down even further, based it on the [Getting Started Guide]() and I'm still not getting trace ID's in the logs:

[code]

The trace ID's are echoed to the console but are not in the application logs:

[code]

and yet the traces are being sent correctly to Tempo:

![image](https://user-images.githubusercontent.com/262545/145079590-33fe5cf0-16be-40c2-99ab-c807350f3499.png)

[2021-12-07 18:24] ocelotl commented on #824
This is a duplicate of [#2291](https://github.com/open-telemetry/opentelemetry-python/issues/2291), I suggest closing this issue, @open-telemetry/opentelemetry-python-contrib-approvers.

We should not have an issue tracking the missing Prometheus exporter in contrib because the [Prometheus exporter will not exist in contrib but in core](https://github.com/open-telemetry/opentelemetry-python-contri

[2021-12-07 19:52] lzchen commented on #821
Taking a look at your most recent sample code, it looks like the log messages produced are originating from the `werkzeug` library (which is what Flask uses), which defaults logging messages to INFO, which is why you see initial launch messages such as `* Running on http://127.0.0.1:5000/ (Press CTRL+C to quit)`. The LoggingInstrumentor will modify the root logger format to include trace_id and sp

[2021-12-07 20:16] proffalken commented on #821
Yup, this works perfectly, thanks @lzchen!

[2021-12-08 02:18] #824 closed

[2021-12-08 03:06] justmobilize opened #827 "numerous `TypeError: __call__() missing 1 required positional argument: 'func'` when Django 500s"
**Describe your environment** Describe any aspect of your environment relevant to the problem, including your Python version, [platform](https://docs.python.org/3/library/platform.html), version numbers of installed dependencies, information about your cloud hosting provider, etc. If you're reporting a problem with a specific version of a library in this repo, please check whether the problem has

[2021-12-10 05:02] RunzhongHuang opened #831 "FastApi auto-instrumentation send extra spans for a single API execution"
Hi open-telemetry community,

I have a python project with fastapi auto-instrumentation which export the spans to zipkin server, and I have a simple "GET" API which returns a "hello". But I notice it generates 3 spans instead of 1.

![image](https://user-images.githubusercontent.com/32660899/145491308-edc51d76-a150-4296-a787-56d5ee4bb7da.png)

As you can see, the top one is related to the request

[2021-12-15 13:10] kubawach opened #833 "Release opentelemetry-python-contrib"
Dear @open-telemetry/opentelemetry-python-contrib-maintainers could we get a new release of the package?
There's been few changes since the last release (https://github.com/open-telemetry/opentelemetry-python-contrib/compare/v0.26b1...main) - I'm especially interested in AWS lambda flush timeout, so that it could be used in https://github.com/open-telemetry/opentelemetry-lambda/blob/main/python/sr

[2021-12-16 17:32] codeboten commented on #833
@owais is this something you're planning on doing?

[2021-12-17 17:04] #833 closed

[2021-12-19 16:30] mohamed-cds commented on #831
i'm also experiencing the same issue when using fastapi + xray.

![image](https://user-images.githubusercontent.com/85885638/146682719-66b46a23-5584-4416-9502-146dd230a539.png)

[2021-12-20 08:33] owais commented on #831
At first glance it seems to be the case because of the async nature of FastAPI. If you look at `type` attribute, it hints that two distinct events are being recorded.

[code]

and

[code]

It appears that first span represents sending back headers or initiating a response while the second one represending sending the response body.

[2021-12-20 11:48] #446 closed

[2021-12-21 07:47] ashu658 commented on #447
@owais Can you assign this issue to me?

[2021-12-21 15:00] mohamed-cds commented on #831
Just reviewed my logs and i'm seeing what you mean. Is the practise to tie all of these together downstream where you're storing your data ?

[code]

[2021-12-21 18:24] owais commented on #831
They are all part of the same trace so generally backends do store them together or close to each other if that is what you meant.

[2021-12-21 18:26] mohamed-cds commented on #831
That makes sense, thanks for your help! I see them all grouped when i added Xray as a data source in Grafana.

[2021-12-23 16:14] makeavish opened #840 "FastAPI auto-instrumentation sends extra trace for a single API execution"
**Describe Problem**
I have a sample python project with FastAPI auto-instrumentation which export the traces to OTLP server, and I have a simple "GET" API which returns a "Hello": "World". But I notice it generates 2 traces instead of 1 for same API request. I was able to fix this issue after using `TracerProvider` from python otel sdk.

**Describe your environment**
fastapi==0.68.1
python-dotenv

[2021-12-23 18:36] marcorichetta commented on #367
This should be closed, right? @codeboten

[2021-12-23 18:55] lonewolf3739 commented on #840
Are you sure it is two traces not two spans under same trace?

[2021-12-24 16:53] makeavish commented on #840
@lonewolf3739 Yes I am sure that there are two traces.
Actually each request is generating 6 spans, 3 each for single trace.

[2021-12-25 09:48] lonewolf3739 commented on #840
@makeavish I was unable to reproduce the issue [here](https://github.com/lonewolf3739/contrib-issue-840) using your sample code. It doesn't generate two traces but only one trace with three spans.  This is duplicate of #831. Please follow discussion there. Feel free to re-open if you can reproduce the issue of two traces for one request.

[2021-12-25 09:48] #840 closed

[2021-12-25 21:52] #803 closed

[2021-12-26 15:46] makeavish commented on #840
@lonewolf3739 I see that you used `TracerProvider()` to get console spans, but as I said in description that when using `TracerProvider()` it is working fine (2nd Example).
Please run the first code snippet of my description as it is without using `TracerProvider()`
Also, to print spans on console, use this command to run the sample fastAPI app: `opentelemetry-instrument --traces_exporter console

[2021-12-26 17:17] lonewolf3739 commented on #840
@makeavish Setting sdk `TracerProvider` shouldn't change behaviour here. Based on your updated description -- you are instrumenting twice, once by `opentelemetry-instrument` and other by calling `instrument_app(...)` hence the two server traces. If you are going to use auto-instrumentation tool please avoid the semi-manual instrumentation calls such as `FastAPIInstrumentor.instrument_app`. Remove

[2021-12-27 12:51] makeavish commented on #840
Thanks @lonewolf3739, I understood my mistake.
Also how to set OTLP exporter endpoint when instrumenting via semi-manual way? For auto instrumentation, I was setting `OTEL_EXPORTER_OTLP_ENDPOINT` environment variable.

[2021-12-27 13:59] lonewolf3739 commented on #840
I am not sure I understood your question. If you do not use the `opentelemetry-instrument` command then you have to set the SDK `TracerProvider` otherwise everything will be no-op.

[2021-12-29 10:35] raphaelauv commented on #831
if you want disable them , we would need that -> https://github.com/open-telemetry/opentelemetry-python-contrib/pull/815

[2021-12-29 23:06] ij1 opened #842 "Pymemcache instrumenter version selector is for very old package version"
**Is your feature request related to a problem?**
Any recent pymemcache package triggers an error due to version selector in its instrumenter:
DependencyConflict: requested: "pymemcache ~= 1.3" but found: "pymemcache 3.5.0"

**Describe the solution you'd like**
Up the pymemcache instrumenter's version selector.

**Describe alternatives you've considered**
Either no telemetry from pymemcache or maj

[2022-01-03 15:26] lonewolf3739 commented on #842
Are there any major breaking changes in version 2.x and 3.x? If not, it should be easier to bump the supported versions.

[2022-01-03 16:18] lzchen commented on #810
@proffalken
Is your issue related to this issue's topic? As well, have you looked at the [explanation](https://github.com/open-telemetry/opentelemetry-python-contrib/issues/821#issuecomment-988220469) for the linked issue? Perhaps it may solve your use case.

[2022-01-03 16:41] lzchen commented on #367
@marcorichetta
I believe `httpx` is the only instrumentation that still needs implementing.

[2022-01-03 17:22] proffalken commented on #810
@lzchen - apologies, I'd forgotten that I'd commented here, the linked issue resolved my particular problem.

[2022-01-04 18:16] lzchen commented on #445
@ashu658
We have split this issue up into different issues pertaining to individual instrumentations. Feel free to comment on the ones you want to work on and we will assign them to you :D

[2022-01-04 20:54] RunzhongHuang commented on #831
@owais thanks for the explanation about these types, and I totally understand why the internal asgi interactions are captured within the same trace (e.g., debugging purpose).

I think the reason I raise this question is because these extra spans become confusing in the zipkin GUI (in the example I provided only has 2 extra spans, however in one of my another project it generated more estra since i

[2022-01-05 19:43] jlugao commented on #818
can anyone help me out with this? I'd be happy to create a PR for this if I have some guidance on what should I look for in the codebase

[2022-01-05 22:23] s4ke commented on #298
Is there any information why this happens?

[2022-01-06 05:18] ashu658 commented on #445
sure @lzchen

[2022-01-07 08:25] hterik opened #844 "Monkey patching vs upstream in-library instrumentation?"
I got curious about the recommended way to add instrumentation to a new third party library.

Looking at many of the instrumentors here, they are based on monkey patching, which is generally frowned upon, for many good reasons.

Is this the recommended approach? Or is it purely by necessity? - For example upstream library do not want to accept adding more dependencies? (With log4j in recent memory

[2022-01-07 12:51] owais commented on #844
The ideal outcome would be for library maintainers to implement OpenTelemetry out of the box but we do not have the resources right now to go out and evangelize. There has interest from some projects (e.g, FastAPI).

If you are a library author, I would highly encourage you to add support for OpenTelemetry upstream. We'd be more than happy to answer any question and guide the implementation.

Indi

[2022-01-07 19:51] sjs994 opened #845 "[Process Request] Request PyPi and testPyPi tokens for releasing sqlcommenter-python library"
SQLCommenter is a library donated by Google to OpenTelemetry. We are in a process to of migrating the source code from [google-cloud-sqlcommenter](https://github.com/google/sqlcommenter) to [opentelemetry-sqlcommenter](https://github.com/open-telemetry/opentelemetry-sqlcommenter).

SQLCommenter contains middleware/plugins that adds the capability of instrumenting SQL queries with code that execute

[2022-01-07 21:45] ocelotl commented on #818
It seems like the [this call](https://github.com/encode/httpx/blob/0.21.1/httpx/_client.py#L1702) uses a single `request` argument while our instrumentation for httpx [expects `method` and `url`](https://github.com/open-telemetry/opentelemetry-python-contrib/blob/main/instrumentation/opentelemetry-instrumentation-httpx/src/opentelemetry/instrumentation/httpx/__init__.py#L266-L267) as arguments.

I

[2022-01-07 21:53] jianyuan commented on #818
I believe it's caused by this change: https://github.com/encode/httpx/pull/1840. The latest version of `httpx` that is compatible with this library is `0.19.0`.

[2022-01-07 22:13] ocelotl commented on #844
Yes, this. Contributors may do so if they prefer but making it a requirement may put obstacles on them that we can't help overcome.

[2022-01-07 22:29] lzchen commented on #845
@sjs994
Apologies for not being there during when this was brought up in the SIG. Is this simply going to be another instrumentation for OpenTelemetry?

[2022-01-08 07:19] sjs994 commented on #845
@lzchen the end goal is to integrate these instrumentation with OpenTelemetry, which is supposed to be the next discussion (The library is going to deal with *database instrumentation and tracing* and might require some discussion on the specs).

For now, the code lives in 2 places in github, within [google](https://github.com/google/sqlcommenter) and  [opentelemetry](https://github.com/open-telem

[2022-01-09 08:45] OHeimlich opened #846 "Partial celery task time limit is not support"
Python 3.8

**Steps to reproduce**
- Create celery task with only one of the time limit soft/hard
Or use this test to reproduce:

`instrumentation/opentelemetry-instrumentation-celery/tests/test_utils.py`

[code]
**What is the expected behavior?**
The time limit that was specify should be instrumented

**What is the actual behavior?**
Exception is raised and no time limit is instrumented
[code]

[2022-01-09 22:20] Olegt0rr opened #848 "aiohttp instrumentation: Function create_trace_config has no span_name argument."
## Docs usage example
Ref: https://opentelemetry-python-contrib.readthedocs.io/en/latest/instrumentation/aiohttp_client/aiohttp_client.html#usage
[code]

## Bug
Function `create_trace_config` has no `span_name` argument.

[code]

[2022-01-09 22:34] Olegt0rr commented on #848
Also looks weird that current solution starts span with name `f"HTTP {http_method}"` and then prompts to change it through `request_hook` callback

https://github.com/open-telemetry/opentelemetry-python-contrib/blob/d01efe5c5023110447de1741107e53b009b5886e/instrumentation/opentelemetry-instrumentation-aiohttp-client/src/opentelemetry/instrumentation/aiohttp_client/__init__.py#L200-L210

[2022-01-10 10:39] owais commented on #848
Proposed patch looks good to me. Happy to merge a PR if one is sent :)

[2022-01-10 23:00] ocelotl opened #852 "Remove support for 3.6"
As mentioned [here](https://github.com/open-telemetry/opentelemetry-python/issues/2360).

[2022-01-11 12:47] CoLa5 opened #855 "opentelemetry-instrumentation-grpc - code()/details()-bug in ServicerContext"
**Describe your environment**

python version: 3.7.12
grpcio: 1.43.0

**Steps to reproduce**

Call inside of a RPC-method-implementation of a grpc service the methods:

- `context.code()`
- `context.details()`

which are supported since grpcio *v1.38.0* ([s. here](https://github.com/grpc/grpc/commit/ff79a925ed0ceeeb2ec17c24108ebaa929a54ce3#diff-3fb08b8cbf0eddf0b675ae542e4d9b728370f0fb82572c400b32b

[2022-01-11 14:56] ankitnayan opened #856 "Django ORM auto-instrumentation support"
Does opentelemetry auto-instrument Django ORM database calls? Since, most of the Django users use the in-built ORM, it would be very useful to extend DB instrumentation to ORM

[2022-01-11 18:05] codeboten opened #858 "investigate failing botocore tests"
The botocore tests are failing blocking the build. See the discussion in this PR for more details: https://github.com/open-telemetry/opentelemetry-python-contrib/pull/851#pullrequestreview-849553843

[2022-01-11 20:35] phillipuniverse commented on #856
This is available not as Django ORM instrumentation but for the particular underlying database driver. For instance `opentelemetry-instrumentation-psycopg2` for Postgres, `opentelemetry-instrumentation-pymysql` for MySQL, the SQLite one you already mentioned, etc.

For postgres specifically you might run into https://github.com/open-telemetry/opentelemetry-python-contrib/issues/610 if you are usin

[2022-01-11 23:30] lzchen commented on #848
@owais
I thought we were trying to move away from using a span name callback and utilize the request/response hooks instead?

Like here: https://github.com/open-telemetry/opentelemetry-python-contrib/issues/409

[2022-01-11 23:41] owais commented on #848
@lzchen  This isn't a callback and since it is documented, it looked like a mistake but you're right, we already support request/response hooks which solve this problem. May be we should just update the docs instead.

[2022-01-11 23:47] owais commented on #856
We have instrumentation for individual DB drivers like @phillipuniverse said but I don't see why we the existing Django instrumentation cannot cover the ORM as well. Might be useful to have for additional insight or use with DB backends we don't have instrumentation for.

[2022-01-12 06:45] ankitnayan commented on #856
Right, and I think django ORM is heavily used by teams working on django. Not having db spans in trace will leave a huge gap on instrumentation.

[2022-01-13 11:33] sanketmehta28 commented on #448
You can close this issue as the PR mentioned above is merged into main branch

[2022-01-13 14:15] kubawach opened #861 "New release"
Dear @open-telemetry/opentelemetry-python-contrib-maintainers , any chances of getting a new release of the contrib? It's been 27 days since the last one and there are some particularly important features pending release.
Thanks in advance!

[2022-01-13 17:11] #448 closed

[2022-01-13 17:26] lzchen commented on #861
@kubawach
We are following our monthly release cadence. New release will most likely be out sometime next week.

[2022-01-13 17:47] kubawach commented on #861
Thanks, will keep waiting then :)

[2022-01-13 17:47] #861 closed

[2022-01-13 18:49] lzchen opened #862 "Prototype retry/redirect logic for http instrumentations"
As part of the effort to make http semantic conventions stable, this [otep](https://github.com/open-telemetry/oteps/pull/174) covers a list of topics required to be in scope for the first 1.0. Part of this is to support redirect logic as defined by the otep. To help get the approvals for this design, it is necessary to prototype this design to see if it is feasible in Python.

[2022-01-13 23:00] Alan-R opened #863 "DataDog trace exporter should support span events"
**Is your feature request related to a problem?**
I create events using add_event() in OpenTelemetry, and they don't appear in DataDog.
exporter/opentelemetry-exporter-datadog/src/opentelemetry/exporter/datadog/exporter.py says:

**Describe the solution you'd like**
I'd like for it to support span events.
One possibility would be to translate them into dummy spans.

**Describe alternatives you've

[2022-01-14 00:16] owais commented on #863
@majorgreys FYI ^

[2022-01-14 13:40] Alan-R commented on #863
If a "suitable" PR would be considered which translated events into dummy spans, I would investigate creating and contributing one. Creating one looks pretty straightforward.

[2022-01-14 18:19] owais commented on #863
@Alan-R I think we need to involve someone from Datadog here so they can weigh in what works for their product. I don't think the Python SIG can make this decision as this is a very vendor specific component. If you are a customer, might be worth it to let your support engineers know about this and request this as a feature.

[2022-01-14 20:04] Alan-R commented on #863
I pointed them to this in a support email right after posting this. We'll see what they want to do. I gather that majorygrays is likely a maintainer for this code. From looking at the GUI, there doesn't seem to be any GUI element to display events, so they may not have something equivalent in native DataDog.

[2022-01-15 00:32] Olegt0rr commented on #848
Okay, I'll revert changes and update the docs.

Should we remove `url_path_span_name` since it's not usable anymore?

[2022-01-15 23:43] ij1 commented on #842
While I've only recently migrated to pymemcache myself, going through the changelogs seemed like no changes to major API functions (there are tweaks to function parameter but I guess they're not meaningful from telemetry PoV).

[2022-01-18 17:38] ocelotl commented on #856
Is this an issue to track the addition of ORM auto-instrumentation support in Django? If so, please update the description and title, @ankitnayan :v:

[2022-01-18 17:44] lzchen commented on #848
@Olegt0rr

Yes it doesn't seem like `url_path_span_name` is used so feel free to remove it. I think updating the docs to remove `span_name` is enough for this issue.

[2022-01-18 21:20] Olegt0rr commented on #848
@lzchen, ready :)

[2022-01-19 00:59] joshuahlang opened #868 "Calling `flask.copy_current_request_context` results in error logged from OTEL context.detach/Flask instrumentation"
[code]

**Steps to reproduce**
Install the latest requirements in a `venv`:
[code]

Use the following code to create a running Flask application. `curl http://localhost:5000/` and not the logged error of `Failed to detach context` [from here](https://github.com/open-telemetry/opentelemetry-python/blob/main/opentelemetry-api/src/opentelemetry/context/__init__.py#L159).
[code]

**What is the expecte

[2022-01-21 16:24] #447 closed

[2022-01-23 15:15] sanketmehta28 commented on #451
Hi @owais : Can you please assign it to me?

[2022-01-25 06:40] ashu658 commented on #450
@owais Can you assign this issue to me?

[2022-01-25 10:02] kubawach opened #874 "New contrib release"
Hi @open-telemetry/opentelemetry-python-contrib-maintainers! Asking again for a new contrib release - it's been almost 6w since the last one (17th Dec).

[2022-01-25 15:31] #449 closed

[2022-01-25 17:07] owais commented on #874
Aiming for today/tomorrow @kubawach

[2022-01-25 23:43] #846 closed

[2022-01-26 07:04] mariojonke commented on #810
Imo, the instrumentation shouldn't make any assumptions about the SDK at all since it does not define a dependency to it. Furtheremore, there might be 3rd party SDKs in the wild that might handle things like resources differently.

[2022-01-26 09:07] #874 closed

[2022-01-26 20:25] sanketmehta28 commented on #455
@owais: I think this issue can be closed as PR: https://github.com/open-telemetry/opentelemetry-python-contrib/pull/843
has been merge to resolve this issue only

[2022-01-26 20:39] sanketmehta28 commented on #451
I can see that we already have resolved the same type of issue for ASGI in [PR ](https://github.com/open-telemetry/opentelemetry-python-contrib/pull/843/)
As fastapi internally uses asgi middleware, it automatically resolves the same for FastAPI. (unittest is the proof)
So should we close this issue?

[2022-01-26 20:41] sanketmehta28 commented on #454
@owais : can you please assign it to me?

[2022-01-27 16:56] #455 closed

[2022-01-27 16:59] owais commented on #451
Can we add a test to FastAPI package to verify the behaviour so we catch any breakage in future?

[2022-01-27 17:07] sanketmehta28 commented on #451
Test case has already been added as a part of the PR mentioned in above comment

[2022-01-27 17:14] owais commented on #451
Oh nice! I thought it would contain test for ASGI package. Sounds good. I'll close this one but may be we should add a test case to ASGI package as well?

[2022-01-27 17:14] #451 closed

[2022-01-27 17:21] sanketmehta28 commented on #451
yes Agreed.

[2022-01-27 19:17] owais commented on #451
The issue has been resolved already. You can open a new issue or just submit a PR without an issue if you'd like.

[2022-01-27 23:44] phillipuniverse opened #881 "New Pika 0.28b0 instrumentation requires packaging, not declared in transitive dependencies"
**Describe your environment**

I just upgraded `opentelemetry-instrumentation-pika` in my environment to 0.28b0. The commit at 26aa17f8e93c43e80a204cde14d6bac680918c27 and #837 introduced [this line](https://github.com/open-telemetry/opentelemetry-python-contrib/commit/26aa17f8e93c43e80a204cde14d6bac680918c27#diff-366eb17355e97103aefd16dc014927d69f78b2e4650c362b950c206ecaa34465R19):

[code]

This

[2022-01-28 00:51] phillipuniverse commented on #881
The fix is to add `packaging` into your venv.

[2022-01-28 09:30] #881 closed

[2022-01-28 23:10] #457 closed

[2022-01-29 20:31] julianocosta89 commented on #810
Hello all,
QQ related to the same topic.

Is the logging instrumentation supposed to  work with the auto-instrumentation?

I'm asking because when I use the `opentelemetry-instrument` in my sample I get this exact same error.
Just checking if maybe I'm doing something wrong, or if that's a limitation.

I have this sample with the logging instrumentation commented out, just in case someone wants to

[2022-01-31 21:15] gregbuehler opened #888 "Pyramid tween only handles HTTPException"
**Describe your environment**
Seeing this exhibited in Pyramid 1.10 and as far back as Pyramid 1.7.

**Steps to reproduce**
Raise a non-HTTPException.

**What is the expected behavior?**
Tweens should process normally.

**What is the actual behavior?**
An error for use of `response_or_exception` before assignment is raised.

**Additional context**
The problem exists here https://github.com/open-te

[2022-02-01 06:50] KypT commented on #827
Having the same issue here, @justmobilize have you found any workaround for this problem?

[2022-02-01 13:08] KypT commented on #827
Only disabling standard `AdminEmailHandler` with combination with the parameters:
[code]
seems to work for me

[2022-02-01 13:34] owais commented on #827
Duplicate of #288

[2022-02-01 13:34] owais commented on #827
Closing this. Please add further comments to the other issue.

[2022-02-01 13:34] #827 closed

[2022-02-01 13:38] owais commented on #288
I think it should be very safe to just add `__name__` to the context manager. I don't like having to do this in context manager for Otel just because one instrumentation needs it but I don't see any downsides either. PRs welcome as always :)

[2022-02-01 13:45] owais commented on #888
Proposed fix makes sense. PRs welcome :)

[2022-02-01 16:56] codeboten opened #891 "Jinja2 test failing"
Jinja2 instrumentation tests are failing:
https://github.com/open-telemetry/opentelemetry-python/runs/5024203734?check_suite_focus=true

[code]

[2022-02-01 18:19] #891 closed

[2022-02-02 18:08] #848 closed

[2022-02-02 18:13] lzchen opened #893 "Add missing license and manifests to the instrumentation packages."
Continued from https://github.com/open-telemetry/opentelemetry-python-contrib/pull/616

[2022-02-02 18:53] #820 closed

[2022-02-02 22:13] Maraket opened #894 "Using opentelemetry-instrument breaks Sentry SDK"
**Describe your environment**
* Python 3.6.8
* Centos 7
* Supervisord
* Sentry_sdk 1.4.3
* Environment Variables Set:
** OTEL_SERVICE_NAME=testthing
** SENTRY_URL=<secure sentry url>

**Steps to reproduce**
Using the below proof of concept python script:
[code]

When the script is executed as `python3 proof.py` the output is:
[code]

Though when executing `opentelemetry-instrument python3 proof.py

[2022-02-03 00:33] owais commented on #894
The issue is here: https://github.com/open-telemetry/opentelemetry-python-contrib/blob/main/instrumentation/opentelemetry-instrumentation-falcon/src/opentelemetry/instrumentation/falcon/__init__.py#L151

We wrap the Falcon API class into a partial function so when it is initialized, it receives some default params. This does not break the public Falcon API as it remains a callable but it breaks Se

[2022-02-03 01:11] Maraket commented on #894
As a side note, using a virtual environment (which is the fix we are going for in the interim) should solve this problem as if you are using falcon you would likely be running your application via uwsgi which seems to not suffer this issue

[2022-02-03 01:24] owais commented on #894
Would it be possible for you to apply these changes to your local copy of `opentelemetry-instrumentation-falcon` and verify if this fixes the problem?

https://github.com/open-telemetry/opentelemetry-python-contrib/pull/895/files

[2022-02-03 06:12] Maraket commented on #894
It's changed to a new error:
[code]

A similar error message is occuring now in the uwsgi app now though:
[code]

[2022-02-03 08:36] owais commented on #894
Yes, of course. I made a silly mistake just before my last push. Fixed now. Please test again if possible. Thanks!

[2022-02-03 08:38] #450 closed

[2022-02-03 10:54] ashu658 commented on #452
@owais please assign this issue to me.

[2022-02-03 12:11] ashu658 commented on #452
Starlette uses asgi middleware which already has the changes required for conditional server span creation. I have added unit tests for starlette.

[2022-02-03 16:27] #452 closed

[2022-02-03 16:33] sanketmehta28 commented on #451
Here is the PR for ASGI unit test: [PR](https://github.com/open-telemetry/opentelemetry-python-contrib/pull/899)

[2022-02-03 17:13] owais commented on #845
Was this resolved or do you still need help @sjs994 ?

[2022-02-03 17:17] sanketmehta28 commented on #455
Unit test has been added with this [PR](https://github.com/open-telemetry/opentelemetry-python-contrib/pull/899)

[2022-02-03 18:00] #810 closed

[2022-02-03 19:00] sjs994 commented on #845
Thanks @owais. We will close this ticket.
We are going ahead to try some POCs to integrate the changes into `opentelemetry-python-contrib` repository instead of publishing from the independent repository.

[2022-02-03 20:02] lonewolf3739 commented on #845
@sjs994 I believed that getting this https://github.com/open-telemetry/opentelemetry-sqlcommenter/tree/main/docs/specifications approved from TC review and moved to spec was necessary before adding the components to contrib repos. Is that still the plan?

[2022-02-03 20:12] sjs994 commented on #845
@lonewolf3739 from [discussion](https://github.com/open-telemetry/opentelemetry-java-contrib/issues/205#issuecomment-1018136934) with opentelemetry-java maintainers, it seem we can put sqlcommenter behind an experimental flag.

If that is possible with opentelemetry-python-contrib repository, we can start the effort in parallel instead of waiting for the specs to be fully approved.

[2022-02-03 21:32] Maraket commented on #894
@owais  seems to be working

[2022-02-04 01:53] lonewolf3739 commented on #845
Thanks, it's great to see you decided to choose this route. We can certainly enable this as an experimental feature.

[2022-02-04 14:41] hjwp opened #901 "opentelemetry-instrumentation-* incompatible with poetry"
arguably not a bug, but something y'all should be aware of, if you want to support users of poetry:

[code]

[2022-02-04 16:55] owais commented on #901
We should investigate if opentelemetry-instrumentation-sqlalchemy (and any other otel packages) can work with packages <21.0 and update the requirements. If not, might be worth looking into removing the dependency completely if possible.

[2022-02-04 22:44] cowfoodbagman opened #902 "lambdas triggered from dynamodb are failing"
When lambdas are triggered from dyanmodb messages the event will look like `{"Records": [{"eventSource": "aws:dynamodb" ...}]}`
https://docs.aws.amazon.com/lambda/latest/dg/with-ddb.html
As a result, I am seeing these error messages:
[code]
https://github.com/open-telemetry/opentelemetry-python-contrib/blob/main/instrumentation/opentelemetry-instrumentation-aws-lambda/src/opentelemetry/instrumenta

[2022-02-07 06:09] jha-hitesh opened #904 ""Failed to detach context" error in Open Telemetry tornado instrumentation"
**Describe your environment**
opentelemetry-api==1.9.1
opentelemetry-sdk==1.9.1
opentelemetry-instrumentation-tornado==0.28b1

**Steps to reproduce**
add the instrumentation just before initialising tornado app. call an api and response is received by client but server raises Failed to detach context
ERROR:opentelemetry.context:Failed to detach context

**What is the expected behavior?**
no error

[2022-02-08 09:34] ashu658 opened #906 "Capture HTTP request/response headers as span attributes"
**Is your feature request related to a problem?**
Python agent is not able to capture custom headers as of now. The specifications for capturing request/response headers is defined here [http-request-response-header](https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/trace/semantic_conventions/http.md#http-request-and-response-headers)

**Describe the solution yo

[2022-02-08 09:54] dubeamit opened #934 "Tracing not working python socketio"

[2022-02-08 12:43] ashu658 commented on #904
@jha-hitesh I cannot reproduce the issue. Can you help me with some more details on your environment? (Tornado version you are using etc)

Below is my environment I used for reproduction

This is my pip freeze output
[code]

Sample app used:
[code]

Let me know anything to add here to repro the bug.

[2022-02-08 16:08] jha-hitesh commented on #904
@ashu658 apologies for not mentioning more details before, i am using tornado 5.1.1, i ran your setup and it worked without error but after downgrading to tornado5.1.1 the server started rasing error along with response to client,
 although as per the readme [here](https://github.com/open-telemetry/opentelemetry-python-contrib/tree/main/instrumentation) tornado5.1.1 is supported for auto instrumen

[2022-02-08 16:15] gregbuehler opened #907 "Support for pymemcache 2.x and 3.x"
The `pymemcache` integration is currently locked to version 1.x. Current version is ~=3.5.

https://github.com/open-telemetry/opentelemetry-python-contrib/blob/0b9e96dae0bfcafa1e0b28dc695e3697fbcf2864/instrumentation/opentelemetry-instrumentation-pymemcache/src/opentelemetry/instrumentation/pymemcache/package.py#L16

[2022-02-08 17:05] lonewolf3739 commented on #907
duplicate of #842

[2022-02-09 06:32] ashu658 commented on #904
Thanks for the help @jha-hitesh. I am able to reproduce it with tornado 5.1.1
This issue does not come with tornado >= 6. I think the issue comes because `contextvars` does not work perfectly with tornado's `gen.coroutine` as mentioned in this [issue](https://github.com/tornadoweb/tornado/issues/2731). `contextvars` has problems with resetting the context with `gen.coroutine`. The fix for this is

[2022-02-09 07:17] sanketmehta28 commented on #454
Hi @owais: you can close this one as [PR ](https://github.com/open-telemetry/opentelemetry-python-contrib/pull/903) has been merged for the same

[2022-02-09 15:50] #454 closed

[2022-02-09 15:51] #445 closed

[2022-02-09 15:52] owais commented on #906
It would be ideal if we could have same env vars for all Otel SDKs. Does the spec recommend anything?

[2022-02-10 06:50] ashu658 commented on #906
Sure we can have the same env vars for all SDKs. We can only keep the prefix 'OTEL' to distinguish these env vars are used by otel sdks.
No, the spec doesn’t recommend anything. I see you have already asked for the specifications of env vars [here](https://github.com/open-telemetry/opentelemetry-specification/pull/1898#discussion_r700374972) but I don't think there has been further discussion arou

[2022-02-10 17:19] owais commented on #904
Are there any hacks we can put in place to support 5.x?

[2022-02-10 19:36] codeboten opened #910 "Add note to contributing guide about instrumentation name"
A followup to https://github.com/open-telemetry/opentelemetry-python/issues/2457, instrumentation names should use a canonical identifier used anywhere the instrumentation needs to obtain a tracer.

[2022-02-11 05:01] ashu658 opened #911 "Flask: Capture request/response headers as span attributes"
part of #906

[2022-02-11 05:03] ashu658 opened #912 "Falcon: Capture request/response headers as span attributes"
part of #906

[2022-02-11 05:05] ashu658 opened #913 "Django: Capture request/response headers as span attributes"
part of #906

[2022-02-11 05:06] ashu658 opened #914 "Pyramid: Capture request/response headers as span attributes"
part of #906

[2022-02-11 05:06] ashu658 opened #915 "Tornado: Capture request/response headers as span attributes"
part of #906

[2022-02-11 05:07] ashu658 opened #916 "FastAPI: Capture request/response headers as span attributes"
part of #906

[2022-02-11 05:07] ashu658 opened #917 "Starlet: Capture request/response headers as span attributes"
part of #906

[2022-02-11 05:07] ashu658 opened #918 "WSGI: Capture request/response headers as span attributes"
part of #906

[2022-02-11 05:08] ashu658 opened #919 "ASGI: Capture request/response headers as span attributes"
part of #906

[2022-02-11 05:09] ashu658 commented on #906
sure :)

[2022-02-11 09:16] ashu658 commented on #911
please assign this issue to me.

[2022-02-11 09:18] ashu658 commented on #904
Will look into it.

[2022-02-14 14:20] TonyRoussel opened #920 "Is there plans to have pika SelectConnection adapter to be autoinstrumented ?"
**Is your feature request related to a problem?**
When using a SelectConnection adapter, the "receive" spans are not generated, and the trace context is not propagated from message header (even if traceparent header is there)

**Describe the solution you'd like**
When autoinstrumenting pika, the tracing behavior would be the same when you use BlockingConnection or SelectConnection

**Describe alte

[2022-02-14 17:06] sanketmehta28 commented on #913
Please assign this issue to me

[2022-02-14 18:10] simondale00 opened #921 "FastAPI spans names don't include path on 3xx or 4xx responses"
**Describe your environment**

* Python 3.9.6
* Opentelemetry libraries:
[code]

**Steps to reproduce**

Install the following libraries
[code]

Copy/paste the following code to `app.py`
[code]

Run the application
[code]

Make the following `cURL` requests to the application
[code]

**What is the expected behavior?**

For each request above, I expect to see a named span with the path being called

[2022-02-14 21:31] simondale00 opened #922 "SQLAlchemy instrumentation sets `otel.library.name` as the vendor, not the library name"
**Describe your environment**

* Python 3.9.6
* `opentelemetry.instrumentation.sqlalchemy==0.28b1`

**Steps to reproduce**

Create an application that leverages SQLAlchemy and MySQL (or any vendor; I just used MySQL)
Install `opentelemetry.instrumentation.sqlalchemy==0.28b1`
Make a request to your backend application.
Observe the resulting spans.

**What is the expected behavior?**

The `otel.libr

[2022-02-16 20:57] ruimartinsptl commented on #818
I think that it was solved here: https://github.com/open-telemetry/opentelemetry-python-contrib/pull/866

[2022-02-16 23:52] #632 closed

[2022-02-18 07:08] ashu658 commented on #918
Please assign this issue to me.

[2022-02-20 12:10] #894 closed

[2022-02-22 18:25] sanketmehta28 commented on #919
Hi @owais , Can you assign this to me? I had a discussion with @ashu658 . I will look into this issue.

[2022-02-22 20:22] #572 closed

[2022-02-25 00:04] gregbuehler opened #927 "Support metrics for request queuing"
As a service owner I'd like to know if there is a delay in receiving requests upstream from my service (e.g. firewalls, load balancers, etc).

**Describe the solution you'd like**
Given the presence of the header `X-Request-Start` or `X-Queue-Start` containing the timestamp of request transmission, we can calculate how long it took for our service to receive the request. This helps service owners

[2022-02-26 02:49] NathanielRN opened #930 "[Regression] urllib3 downstream instrumentation not getting suppressed (with requests, boto3 upstream)"
## Description

I thought that in #563 I had stopped calls to downstream Python packages from getting instrumented after instrumenting the AWS SDK.

However, my colleague @yimipeng discovered that DynamoDB calls still have `HTTP` traces from `urllib3` when he instruments `botocore`.

For example, when using OTel Python instrumentation he sees this service map:

![no_botocore_suppression](https://u

[2022-02-28 16:33] codeboten opened #933 "Restore prometheus remote write exporter"
This issue tracks the work to restore the prometheus remote write exporter. It is a follow up to issue https://github.com/open-telemetry/opentelemetry-python/issues/2291 which restores the prometheus exporter in the core repo.

[2022-02-28 17:12] ocelotl commented on #818
@jlugao can you confirm, please?

[2022-02-28 20:41] NathanielRN commented on #930
Actually, I just tried this with an app that has `requests` and `flask` instrumentation. I get 2 `HTTP GET` traces because the `urllib3` instrumentation is not being suppressed:

[code]

Not sure if `requests` by default suppresses downstream calls, but if it does it would seem that `urllib3` is not getting suppressed?

[2022-03-01 21:22] lzchen opened #936 "Make requests span attributes available to samplers for http instrumentations"
Like https://github.com/open-telemetry/opentelemetry-python-contrib/pull/931, we should do this for all http instrumentations/

From [spec](https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/trace/semantic_conventions/http.md#common-attributes)

[2022-03-02 02:26] codeboten opened #937 "opentelemetry-instrumentation-urllib3"

[2022-03-02 02:26] codeboten opened #938 "opentelemetry-instrumentation-urllib"

[2022-03-02 02:26] codeboten opened #939 "opentelemetry-instrumentation-aiohttp-client"

[2022-03-02 19:01] srikanthccv commented on #936
@codeboten this should supported for the http server instrumentations also right?

[2022-03-02 19:02] srikanthccv commented on #430
Closing in favour of #936

[2022-03-03 23:38] codeboten opened #943 "opentelemetry-instrumentation-django"

[2022-03-03 23:38] codeboten opened #944 "opentelemetry-instrumentation-tornado"

[2022-03-03 23:38] codeboten opened #945 "opentelemetry-instrumentation-wsgi"

[2022-03-03 23:38] codeboten opened #946 "opentelemetry-instrumentation-httpx"

[2022-03-07 08:02] zzhutianyu opened #947 "elasticsearch span_name not correctly"
**Steps to reproduce**
Describe exactly how to reproduce the error. Include a code sample if applicable.

**What is the expected behavior?**
Our index is created on a rolling basis
Therefore, we will use a specific time to query the index when querying, and when the plugin generates span_name, it will bring the unified index, so that span_name cannot be described as an operation. As follows
[code]

[2022-03-07 11:37] njdub opened #948 "Support for Snowflake Connector package"
Snowflake is Cloud-based data warehousing service for structured and semi-structured data (9# position according to https://db-engines.com/en/ranking/relational+dbms)

Would you please consider adding support for https://pypi.org/project/snowflake-connector-python/

[2022-03-08 15:11] RunzhongHuang commented on #831
Hi @raphaelauv , I noticed the PR #815 is closed without merge. I assume that meaning this little patch is not available in the release. Then I would like to ask what could be the other possible approachs to disabled these internal spans?

[2022-03-08 20:19] phillipuniverse opened #951 "Add aio-pika instrumentation"
**Describe the solution you'd like**
It would be great to have `aio-pika` be instrumented alongside [the `pika` instrumentation](https://github.com/open-telemetry/opentelemetry-python-contrib/tree/main/instrumentation/opentelemetry-instrumentation-pika).

**Describe alternatives you've considered**
I'm not sure if it's possible to do end-to-end asyncio flows with the core `pika` library, this migh

[2022-03-09 05:31] ashu658 commented on #915
Please assign this issue to me.

[2022-03-09 05:31] ashu658 commented on #915
Please assign this issue to me.

[2022-03-09 11:52] #911 closed

[2022-03-10 16:28] codeboten opened #956 "NonRecordingSpan causes errors in wsgi"
The following error arises from the `tracecontext` integration tests in the core repo:

[code]

It appears the problem came from this change: https://github.com/open-telemetry/opentelemetry-python-contrib/commit/2f5bbc416ab33f4856e1990a5e5682fcedc90f5f

[2022-03-10 17:28] codeboten opened #958 "Audit all packages to ensure NoOpTracerProvider works"
An issue was found in the wsgi instrumentation by integration tests in the core repository. The issue should have been caught by unit tests in the instrumentation using the NoOpTracerProvider.

The outcome of this issue is to ensure each instrumentation contains a test using the NoOpTracerProvider and that it does not rely on the OpenTelemetry SDK:

- [ ] Audit and test opentelemetry-instrumentati

[2022-03-10 17:28] codeboten opened #959 "Audit and test opentelemetry-instrumentation-wsgi"

[2022-03-10 17:28] codeboten opened #960 "Audit and test opentelemetry-instrumentation-urllib3"

[2022-03-10 17:28] codeboten opened #961 "Audit and test opentelemetry-instrumentation-urllib"

[2022-03-10 17:28] codeboten opened #962 "Audit and test opentelemetry-instrumentation-tornado"

[2022-03-10 17:28] codeboten opened #963 "Audit and test opentelemetry-instrumentation-starlette"

[2022-03-10 17:29] codeboten opened #964 "Audit and test opentelemetry-instrumentation-sqlite3"

[2022-03-10 17:29] codeboten opened #965 "Audit and test opentelemetry-instrumentation-sqlalchemy"

[2022-03-10 17:29] codeboten opened #966 "Audit and test opentelemetry-instrumentation-sklearn"

[2022-03-10 17:29] codeboten opened #967 "Audit and test opentelemetry-instrumentation-requests"

[2022-03-10 17:29] codeboten opened #968 "Audit and test opentelemetry-instrumentation-redis"

[2022-03-10 17:29] codeboten opened #969 "Audit and test opentelemetry-instrumentation-pyramid"

[2022-03-10 17:29] codeboten opened #970 "Audit and test opentelemetry-instrumentation-pymysql"

[2022-03-10 17:29] codeboten opened #971 "Audit and test opentelemetry-instrumentation-pymongo"

[2022-03-10 17:30] codeboten opened #972 "Audit and test opentelemetry-instrumentation-pymemcache"

[2022-03-10 17:30] codeboten opened #973 "Audit and test opentelemetry-instrumentation-psycopg2"

[2022-03-10 17:30] codeboten opened #974 "Audit and test opentelemetry-instrumentation-pika"

[2022-03-10 17:30] codeboten opened #975 "Audit and test opentelemetry-instrumentation-mysql"

[2022-03-10 17:30] codeboten opened #976 "Audit and test opentelemetry-instrumentation-logging"

[2022-03-10 17:30] codeboten opened #977 "Audit and test opentelemetry-instrumentation-kafka-python"

[2022-03-10 17:30] codeboten opened #978 "Audit and test opentelemetry-instrumentation-jinja2"

[2022-03-10 17:30] codeboten opened #979 "Audit and test opentelemetry-instrumentation-httpx"

[2022-03-10 17:32] codeboten opened #980 "Audit and test opentelemetry-instrumentation-grpc"

[2022-03-10 17:33] codeboten opened #981 "Audit and test opentelemetry-instrumentation-flask"

[2022-03-10 17:33] codeboten opened #982 "Audit and test opentelemetry-instrumentation-fastapi"

[2022-03-10 17:33] codeboten opened #983 "Audit and test opentelemetry-instrumentation-falcon"

[2022-03-10 17:33] codeboten opened #984 "Audit and test opentelemetry-instrumentation-elasticsearch"

[2022-03-10 17:33] codeboten opened #985 "Audit and test opentelemetry-instrumentation-django"

[2022-03-10 17:33] codeboten opened #986 "Audit and test opentelemetry-instrumentation-dbapi"

[2022-03-10 17:33] codeboten opened #987 "Audit and test opentelemetry-instrumentation-celery"

[2022-03-10 17:33] codeboten opened #988 "Audit and test opentelemetry-instrumentation-botocore"

[2022-03-10 17:33] codeboten opened #989 "Audit and test opentelemetry-instrumentation-boto"

[2022-03-10 17:33] codeboten opened #990 "Audit and test opentelemetry-instrumentation-aws-lambda"

[2022-03-10 17:33] codeboten opened #991 "Audit and test opentelemetry-instrumentation-asyncpg"

[2022-03-10 17:33] codeboten opened #992 "Audit and test opentelemetry-instrumentation-asgi"

[2022-03-10 17:34] codeboten opened #993 "Audit and test opentelemetry-instrumentation-aiopg"

[2022-03-10 17:34] codeboten opened #994 "Audit and test opentelemetry-instrumentation-aiohttp-client"

[2022-03-10 18:02] #956 closed

[2022-03-11 18:39] #902 closed

[2022-03-11 19:30] #915 closed

[2022-03-14 04:53] ashu658 commented on #912
Please assign this issue to me.

[2022-03-14 07:19] nicholasgribanov opened #997 "Tornado instrumetnation status_code 4ever 500 if error exsist"
Here https://github.com/open-telemetry/opentelemetry-python-contrib/blob/main/instrumentation/opentelemetry-instrumentation-tornado/src/opentelemetry/instrumentation/tornado/__init__.py#L372-L379, when span finished, status_code is setting to 500, if error exists and status code from handler not equals 404.
Is it correct behavior ?
I see, it needed for setting description in Status. But, in this m

[2022-03-15 14:32] seanpile opened #998 "AttributeError: 'NonRecordingSpan' object has no attribute 'kind'"
Recent PR #952 seems to have introduced a regression in our code; when using a non-recording span, the flask instrumentation is breaking.  See the stacktrace below:

[code]

My expectation is that using a non-recording span should be fine to use safely, and not cause downstream errors.  I'm using the following libraries:

- opentelemetry-api==1.10.0
- opentelemetry-exporter-otlp-proto-grpc==1.10.0

[2022-03-15 17:50] #998 closed

[2022-03-16 06:04] alucarddelta opened #1002 "Using CeleryInstrumentor and linking Celery task trace back to requested trace"
Hi,

I have a FastAPI frontend (with FastAPIInstrumentor set up) that sends tasks to a Celery backend using CeleryInstrumentor. However I having issues with linking the traces together to see an end to end request.

When I view the trace information in Jaeger, the trace appears as 2 separate services, an API service and a Celery service. There is no information linking the 2 together to show 1 ful

[2022-03-16 14:48] RaguRamG commented on #578
Is there a fix for this issue?

[2022-03-16 21:27] srikanthccv commented on #997
@nicholasgribanov It was unclear from the description what is the problem here? Can you explain what is the issue and how does the proposed solution fixes the issue?

[2022-03-17 02:44] alucarddelta commented on #1002
@srikanthccv Yes, in my api I do call the celeryinstrumentor, I have this located in the main.py file which launches the FastAPI application.

[code]

[2022-03-17 02:57] srikanthccv commented on #1002
Ideally trace context propagation should happen automatically. If you can share a repo with some minimal reproducible application that would greatly help debug the issue.

[2022-03-17 14:52] srikanthccv opened #1008 "Policy for instrumentation libraries supporting multiple major versions of library"
I think it is time we write down some clear policy for providing instrumentation support for third-party libraries that have multiple major (most probably incompatible) versions. It is not uncommon that users have different versions of same lib running in production systems within project/team/org. This is partly inspired by https://github.com/open-telemetry/opentelemetry-python-contrib/pull/935.

[2022-03-17 16:31] lzchen commented on #958
Discussed in 3/17 SIG:

Perhaps we can modify testbaseutils for loading only an api so instrumentations can test only against the api classes

[2022-03-17 17:58] rjduffner commented on #1008
Second this.

Ya longer term support is an interesting problem. In #935 I dropped older versions but in #1000, I actually am trying to add it.

The reasons are selfish for sure but some policy would be helpful.

[2022-03-17 20:58] lzchen commented on #1008
@srikanthccv
Please bring this up in the next SIG meeting

[2022-03-17 21:48] lzchen commented on #445
@owais
Resurfacing this due to a recent discussion in 3/17 SIG.
Recently there were a couple of PRs that required the checking of `SpanKind` in the instrumentations themselves. Besides from the [regeression](https://github.com/open-telemetry/opentelemetry-python-contrib/issues/956) issue that was found, this brought up the way in we are checking for whether or not a user has instrumented with mult

[2022-03-18 07:34] nicholasgribanov commented on #997
@srikanthccv thank's for a fast answer.
In case, if I want to sampling spans on collector-level by processing with like this config:

      [
        {
          name: error_policy,
          type: numeric_attribute,
          numeric_attribute: { key: "http.status_code", min_value: 500, max_value: 599 }
        }
      ]
I wait spans only with http-status more when 500. But, now, it doesn't work.

[2022-03-18 10:32] srikanthccv commented on #998
Note to people who run into this issue: did a hot fix release for affected packages.

[2022-03-18 13:43] jsmolina opened #1009 "Context not propagated when running in ThreadPoolExecutor"
**Describe your environment**
fastapi backend server with latest versions and requested using "traceparent" header:
[code]

Usage:
[code]

**Steps to reproduce**

- Instrumented aiohttp
- instrumented botocore.

**What is the expected behavior?**
Expected: botocore correlates on same request. It appears on grafana tempo using same TraceID from traceparent headers.

**What is the actual behavior?**

[2022-03-18 19:51] ocelotl commented on #958
Sorry, can you provide more context, please?

[2022-03-18 19:52] rdpravin1895 commented on #737
Currently, whats the best way to propagate tracing context across threads? I have been looking for it, but cannot find any reference snippet

[2022-03-18 20:00] rdpravin1895 opened #1010 "Propagate trace information across threads"
Is there a way to propagate trace information from a parent thread to a child thread (running through ThreadPoolExecutor)? Or should they be injected manually by extending the ThreadPoolExecutor class? Has anyone tried this?

If #737 is implemented, that would suffice, but wanted to know if there is a workaround. Also, bit surprised that there are literally no github issues or stackoverflow questi

[2022-03-18 20:12] owais commented on #737
Passing context as an function argument to the thread and then setting the received context on the other side. There is no automated solution.

[2022-03-18 20:20] codeboten opened #1011 "Restore instrumentation/system-metrics"
The `opentelemetry-instrumentation-system-metrics` package exists against the old metrics API/SDK. This issue is to restore the package and update it to use the new API/SDK.

[2022-03-18 22:14] ocelotl commented on #1008
@srikanthccv so, just to write a few things down:

Let's say we have an instrumentation for library `X`: `opentelemetry-instrumentation-x`.
Library `X` has several different and incompatible versions: 1, 2, and 3.

So, what you want is to define a policy regarding how will we write instrumentations for libraries that can work for different versions of the libraries?

For example, you want to defin

[2022-03-19 01:50] srikanthccv commented on #1008
Yes. in one of the linked PRs, author is bumping the minimum supported version to `> 2, < 4` from `1.x`. Another one is proposing to lower the minimum supported version from `2.x` to `1.x`. This is arbitrary and motivated by their needs. A comprehensive policy to address this problem is needed. We may decide to not support the all the major versions 1, 2, 3 for library `X`. Or we may decide to sup

[2022-03-19 09:28] srikanthccv commented on #958
All the instrumentation tests inherit this [`TestBase`](https://github.com/open-telemetry/opentelemetry-python/blob/main/tests/opentelemetry-test-utils/src/opentelemetry/test/test_base.py#L27). One thing we could do is to not  set up provider [here]( https://github.com/open-telemetry/opentelemetry-python/blob/0f31cbc/tests/opentelemetry-test-utils/src/opentelemetry/test/test_base.py#L30-L37) and s

[2022-03-20 15:23] DiptoChakrabarty commented on #938
Hi I want to take this up

[2022-03-21 08:37] jsmolina commented on #1009
as a workarround I subclassed RandomIdGenerator and created the trace_id and span_id from current request headers, but there's some misbehaving here.

[code]
...
[code]

[2022-03-21 12:15] srikanthccv opened #1016 "Flaky benchmark tests"
Example run: https://github.com/open-telemetry/opentelemetry-python-contrib/runs/5620007023?check_suite_focus=true

[2022-03-21 12:28] srikanthccv commented on #1016
@NathanielRN aws extension benchmarks seems to be failing when they are no related changes.

[2022-03-21 16:38] jsmolina commented on #1009
![image](https://user-images.githubusercontent.com/447481/159310999-0ae4cec7-9f5f-42d0-ab74-e7a9baa4097d.png)

[2022-03-21 17:21] jsmolina commented on #1009
It's fully related to:
https://github.com/open-telemetry/opentelemetry-python-contrib/issues/1010

[2022-03-21 22:34] ocelotl commented on #997
Ok, I see there is a discrepancy. I actually wonder why do we change the status code from 4XX to 500, @owais, do you have any input?

[2022-03-21 22:48] ocelotl commented on #1010
Hey, @rdpravin1895, thanks for reporting. Since #737 would solve this issue, I am closing this one in order to avoid duplication. Please add any other comments you may have regarding this in #737 :v:

[2022-03-21 22:48] #1010 closed

[2022-03-21 23:01] ocelotl commented on #1008
I wonder if we can keep as many branches in the `opentelemetry-instrumentation-x` repo as supported major versions of `X` exist. For example, let's say there `X` has 3 versions, 1, 2, 3, all of them being actively developed. We choose to support 1 and 3. So we have 2 branches in `opentelemetry-instrumentation-x`, branch `1` and branch `3`. We keep making releases for versions `1` and `3` of `X` in

[2022-03-21 23:16] ocelotl commented on #958
Got it, thanks :v:

[2022-03-22 00:35] srikanthccv commented on #1008
Keeping aside the implementation part for now, I would like us to focus on the criteria for what to support. For example how did you arrive at supporting 1 and 3 for `X`?

[2022-03-22 01:16] ocelotl commented on #1008
- It's an example, only. What I would want is a policy that allows us to support arbitrary versions of a library, not a policy that forces us to support all of them. I imagine a situation where for any reason we would like to skip support for a particular version can happen.

So, I think the policy should be support arbitrary versions of the different instrumentations on a case by case basis.

[2022-03-22 10:24] jsmolina commented on #1009
I found a working solution

I created a method
[code]

Then the boto3 methods are called passing current context:
[code]

[2022-03-22 10:34] #1009 closed

[2022-03-22 10:35] jsmolina commented on #737
I did it by passing context and then re-attaching it:
[code]

Then the boto3 methods are called passing current context:
[code]

[2022-03-23 00:48] zzhutianyu commented on #947
# 1018

[2022-03-23 10:23] rdpravin1895 opened #1020 "How to call response_hooks with auto-instrumentation?"
Is there a way to set response_hooks for instrumentors during auto-instrumentation? Currently, I am setting it this way for django manual instrumentation:

[code]

But how can I achieve the same with auto-instrumentation or sitecustomize?

[2022-03-23 21:08] rjduffner commented on #1008
Note that https://github.com/open-telemetry/opentelemetry-python-contrib/pull/935 has been updated to not remove support for older versions of pymemcache.

[2022-03-24 15:47] ocelotl commented on #1020
I don't think it is possible right now, it would be necessary to implement a way of getting the response hook somehow from environment variables that can be set prior to auto instrumentation execution. I am making this issue a feature request to track that.

[2022-03-24 17:56] #947 closed

[2022-03-29 06:03] sanketmehta28 commented on #916
Hi @owais Can you assign it to me?

[2022-03-29 06:06] sanketmehta28 commented on #919
Hi @ocelotl : Can you please close this as PR is meged?

[2022-03-29 14:06] #919 closed

[2022-03-29 17:55] sanketmehta28 commented on #916
Hi @owais I guess by mistake you have assigned this to @ashu658 instead of me.
Can you please assign it to me?

[2022-03-29 17:58] sanketmehta28 commented on #917
@owais : Can you please assign it to me?

[2022-03-31 10:16] ashu658 commented on #906
Raised a PR proposing env vars https://github.com/open-telemetry/opentelemetry-specification/pull/2461. Please have a look.

[2022-03-31 10:22] ashu658 opened #1023 "Add usage examples for capturing http request/response headers"
part of #906
Adding example for capturing http request/response headers for each instrumentation.

[2022-03-31 10:24] ashu658 commented on #906
Created #1023 for adding docstrings for instrumentations where changes are already merged.

[2022-03-31 17:27] sanketmehta28 opened #1025 "API to collect custom headers from request and response object are not consistent in ASGI and WSGI frameworks"
In WSGI instrumentation, api [add_custom_request_headers](https://github.com/open-telemetry/opentelemetry-python-contrib/blob/b1bf8d4a5470facb6e63f33ff57a144b20e2a319/instrumentation/opentelemetry-instrumentation-wsgi/src/opentelemetry/instrumentation/wsgi/__init__.py#L218
), it is not in sync with api [collect_custom_request_header_attributes](https://github.com/open-telemetry/opentelemetry-pytho

[2022-04-01 01:46] goatsthatcode commented on #1002
Hey I'm running into this issue as well, I tried to reproduce it in [a sample app](https://github.com/goatsthatcode/opentelemetry-instrumentation-celery-example) I just made (that pretty closely follows the dependency versions of everything) and I'm unable to reproduce it there, but I am experiencing a similar issue in the original codebase I based this off of.

The issue I have in my case though

[2022-04-01 06:15] alucarddelta commented on #1002
I have created a project demonstrating the issue.
https://github.com/alucarddelta/issue_opentelm_celery_linking

Test1 - FastAPI -> Celery Worker -> FastAPI
Test2 - FastAPI -> Fast API (checks that FastAPI instrument is working)
Test3 - FastAPI -> Celery Worker -> same Celery Worker (different task) -> FastAPI
Test4 - FastAPI -> Celery Worker -> different Celery Worker -> FastAPI

[2022-04-01 06:29] alucarddelta commented on #1002
Example of the same Task1.  Where App1 is not linking to "run/no_modification" task and /test1_b does have it linked, but has a disconnected span.

![image](https://user-images.githubusercontent.com/20882097/161207331-2b1c6ba4-9108-4a77-a142-3d22b0333605.png)

[2022-04-01 17:56] #888 closed

[2022-04-04 13:21] carlosjgp opened #1026 "[autoinstrumentation-pika] Wrong property set as destination"
**Describe your environment**
[code]
[code]

**Steps to reproduce**
[code]

[code]

**What is the expected behavior?**
Attribute MESSAGE_DESTINATION uses the `destination` property

**What is the actual behavior?**
Attribute MESSAGE_DESTINATION uses the `task_name` property

**Additional context**
`task_name` is used instead of `destination` to set the message destination
https://github.com/open-t

[2022-04-04 14:27] jahed-uddin-82 opened #1027 "from opentelemetry.instrumentation.wsgi.collect_request_attributes does not work for ASGI"
Hi,

I understand that ASGI is now supported by opentelemetry, but I am getting the following error:

[code]

The code in question:

[code]

It seems the `collect_request_attributes` is expecting the `environ` attribute which is not present in ASGI requests.

[2022-04-04 14:48] nicholasgribanov commented on #997
Any updates ?

[2022-04-04 19:54] tuchandra commented on #818
FWIW I can't reproduce this with `opentelemetry-instrumentation-httpx = "^0.29b0"`.

[2022-04-05 15:14] alucarddelta commented on #1002
Inside the worker, I'm able to set_attribute on the CeleryInstrumentor span. So it does appear the span is created and is accessible as expected. But the linking to the FastAPI issue remains.

[code]

[2022-04-05 16:17] lzchen commented on #818
@jlugao
Will be closing the issue for now. Feel free to open back up if you are still having issues.

[2022-04-05 19:05] #913 closed

[2022-04-05 22:46] goatsthatcode commented on #1002
@alucarddelta I was able to identify and reproduce this issue now in my own example code above and looking over your example code and I think we are experiencing the same issue. (you are using send_task, I'm using signature but I think the net effect is the same based on looking over your example).

what I see happening is that the worker tasks need to be discoverable by the calling service (e.g.

[2022-04-06 12:55] srikanthccv commented on #1002
@goatsthatcode I think I also hit a wall with similar findings. I can't recall specific details exactly as it has been some time I looked into this issue but I was stuck at this point https://github.com/celery/celery/discussions/7189.

[2022-04-06 15:35] codeboten opened #1033 "[instrumentation-system-metrics] add support for pypy3"
Some of the metrics gathered in `opentelemetry-instrumentation-system-metrics` are different in pypy3. For example, the following method fails on pypy3:

`module 'gc' has no attribute 'get_count'`

Instead, getting counts for garbage collection is done via GC hooks. See the following for more details:
https://doc.pypy.org/en/latest/gc_info.html

The work in this issue is to make the instrumentatio

[2022-04-06 15:38] codeboten opened #1034 "[instrumentation-system-metrics] Remove labels configuration"
As per Aaron's comment, the labels configuration parameter is no longer needed as views offer the same functionality.

It looks like this just adds extra attributes to all measurements. We should probably remove this?

We can do it in a separate PR though as this is just restoring the package

_Originally posted by @aabmass in https://github.com/open-telemetry/opentelemetry-python-contrib/pull/101

[2022-04-06 15:42] codeboten opened #1035 "Provide guidance for consistent instrumentation name"
Currently just about every instrumentation library uses `__name__` as its instrumentation name. It would be good to provide guidance in the contributing documentation around what parameter should be used here.

Are we recommending a single name for all the modules/classes in an instrumentation or are we ok with different instrumentation names for different modules within the same instrumentation l

[2022-04-06 17:31] codeboten opened #1036 "[instrumentation-system-metrics] implement `uninstrument()`"
As per Leighton's comment:

I would assume `uninstrument()` would cause the automatic collection to stop? Perhaps add a TODO?

_Originally posted by @lzchen in https://github.com/open-telemetry/opentelemetry-python-contrib/pull/1012#discussion_r844151533_

[2022-04-06 17:54] #1011 closed

[2022-04-06 22:00] gregbuehler opened #1037 "Ignore exception attributes for a given route or status (Pyramid)"
It would be convenient to provide a way to specify routes and/or status codes are not exceptional.

A common pattern within Pyramid is to raise the desired response for certain business flows (e.g. raise a 301 to force a redirect, raise a 204 after deleting an entity, etc) rather than properly return. Because the response was raised and handled as an `HTTPException` the span is decorated with exce

[2022-04-07 16:11] codeboten opened #1039 "[instrumentation-requests] Restore metrics"
The requests instrumentation used to produce metrics: https://github.com/open-telemetry/opentelemetry-python-contrib/blob/metrics/instrumentation/opentelemetry-instrumentation-requests/src/opentelemetry/instrumentation/requests/__init__.py

This issue is to restore that functionality.

[2022-04-07 16:14] codeboten opened #1040 "Restore metrics in instrumentations"
This is an issue to track all the instrumentations that contained metrics in the `metrics` branch which need to be ported over to the new API:
- [ ] https://github.com/open-telemetry/opentelemetry-python-contrib/issues/1039

For example usage of the metrics api, see the system-metrics instrumentation: https://github.com/open-telemetry/opentelemetry-python-contrib/tree/main/instrumentation/opentele

[2022-04-07 16:16] codeboten opened #1041 "[instrumentation-urllib] Restore metrics"
The urllib instrumentation used to produce metrics: https://github.com/open-telemetry/opentelemetry-python-contrib/blob/metrics/instrumentation/opentelemetry-instrumentation-urllib/src/opentelemetry/instrumentation/urllib/__init__.py

This issue is to restore that functionality.

[2022-04-07 16:16] codeboten opened #1042 "[instrumentation-grpc] Restore metrics"

[2022-04-07 16:16] codeboten opened #1043 "[instrumentation-django] Restore metrics"
The django instrumentation used to produce metrics: https://github.com/open-telemetry/opentelemetry-python-contrib/blob/metrics/instrumentation/opentelemetry-instrumentation-django/src/opentelemetry/instrumentation/django/__init__.py

This issue is to restore that functionality.

[2022-04-08 16:30] #914 closed

[2022-04-08 21:59] sanketmehta28 opened #1047 "Add instrumentation for Faust stream processing library"
**Describe the solution you'd like**
It would be great to have auto instrumentation for [Faust](https://github.com/robinhood/faust): python streaming library along side kafka-python.

**Describe alternatives you've considered**
I have considered using tracing SDK to manually instrument it

**Additional context**
Faust ports the idea of kafka streaming to python. It has a great demand in stream pro

[2022-04-09 11:14] srikanthccv commented on #1047
duplicate of #800

[2022-04-09 13:53] sanketmehta28 commented on #1047
closing this as this is duplicate of #800

[2022-04-09 13:53] #1047 closed

[2022-04-11 09:19] srikanthccv commented on #609
@blumamir You might want to check this proposed WIP fix by a contributor https://github.com/goatsthatcode/opentelemetry-python-contrib/pull/1. I think there are multiple Github issues created for this same problem.

[2022-04-11 17:50] lzchen commented on #936
@nstawski
Feel free to comment on the instrumentation issues so we can assign them individually.

[2022-04-11 18:10] #916 closed

[2022-04-11 18:41] #1023 closed

[2022-04-12 08:26] blumamir commented on #1002
I am able to reproduce the issue with this minimalistic snippet:
[code]

When I instrument and run this code, I get only one "publish" span for the "foo" task. The task published as `signature("tasks.bar")` does not generate any "publish" span and does not inject any propagation context into the headers.

[2022-04-12 14:29] Galactic21 opened #1049 "Auto-instrumentation in python applications attached to Nginx"
Good afternoon, I would like to know if it is possible to do auto-instrumentation in applications that are attached to Nginx which is also associated with Passenger. I would like to do self-instrumentation in Django, Flask and Fast-API applications that contain these conditions mentioned above.
Best regards.

[2022-04-12 15:07] #938 closed

[2022-04-12 16:59] aabmass opened #1050 "opentelemetry-instrument command can cause recursive creation of subprocesses"
**Describe your environment**

Python3.9, linux.

**Steps to reproduce**
Using `opentelemetry-instrument` with any exporter or instrumentation which invokes a python subprocess **during initialization**. For example, the `opentelemetry-exporter-gcp-trace` exporter may invoke the `gcloud` (written in python) command in a subprocess to get project information and authentication tokens. The subproces

[2022-04-12 18:21] owais commented on #541
Since this was closed, we've reworked how we handle instrumentation <> library dependencies and I think it should be possible to support both with the same instrumentation. Would be great if someone could experiment and figure out if it is doable easily.

[2022-04-12 18:40] owais commented on #1049
By attached to Nginx, do you mean that sit behind Nginx and receive traffic from it? That should not affect auto-instrumentation in any way. If you can control how your python process is started, you should be able to use auto-instrumentaiton.

[2022-04-12 18:54] cdvv7788 commented on #541
I can give it a try this weekend. However note that the package discourages the usage of `psycopg-binary` for anything that is not testing https://pypi.org/project/psycopg2-binary/

[2022-04-12 19:23] owais opened #1051 "Document how to use Django with ASGI"
ASGI support for Django was added in the PR #391 but we never documented the usage.

Users may have to install `opentelemetry-instrumentation-django[asgi]` in order to take advantage of asgi support. This should be documented at https://opentelemetry-python-contrib.readthedocs.io/en/latest/instrumentation/django/django.html

[2022-04-13 03:42] srikanthccv commented on #541
relevant discussion  and some proposal here https://github.com/open-telemetry/opentelemetry-python-contrib/issues/610.

[2022-04-13 17:08] #997 closed

[2022-04-13 19:08] goatsthatcode commented on #1002
This is a great example. I'm going to update the above PR to try and adapt this into a unittest since I wasn't sure it would reproduce the issue with the app being initialized in the same module namespace.

[2022-04-14 17:33] srikanthccv opened #1053 "Issue to track Sanket's work for contrib approver"
He has been contributing actively for quite sometime and expressed interest in becoming contrib [approver](https://github.com/open-telemetry/community/blob/main/community-membership.md#approver) on 14th April SIG meeting. @sanketmehta28 Please use this issue to list/track your contributions.

[2022-04-14 18:07] srikanthccv opened #1054 "Issue to track Ashu's contributions for contrib approver"
Ashutosh has been contributing actively for quite sometime and expressed interest in becoming contrib [approver](https://github.com/open-telemetry/community/blob/main/community-membership.md#approver). @ashu658  Please use this issue to list/track your contributions.

[2022-04-14 18:37] ashu658 commented on #1039
@codeboten Can you assign this issue to me?

[2022-04-14 19:58] codeboten commented on #1039
@ashu658 done!

[2022-04-16 22:14] AlexanderLW commented on #578
I am also facing this same issue but for creating a cursor using the RealDictCursos cursor factory.
`cur = client.cursor(cursor_factory=psycopg2.extras.RealDictCursor)`

No tracing is being submitted, but when I turn this off for the whole app (and comment out the breaking code now that it's getting tuples) I start seeing my traces appear.

Is there any fix for this or can anyone comment on this i

[2022-04-16 22:27] RaguRamG commented on #578
@AlexanderLW, @srikanthccv   I have gone through the code. We have to add the {'cursor_factory': psycopg2.extras.RealDictCursor} in connection params.

you must have had conn_params in your code like below.
self._conn_parms = {'host': host, 'post': port, 'username': username, 'password': password, 'cursor_factory': psycopg2.extras.RealDictCursor}

It will fix the issue.

[2022-04-17 15:48] AlexanderLW commented on #578
Thanks @RaguRamG !

For anyone else that runs into this, I moved the cursor_factory to the connection, and then I had to **remove** the cursor_factory from any and all cursor declarations. Doing that allowed my traces to appear as I would expect.

[2022-04-18 05:26] ashu658 commented on #1054
Thanks @srikanthccv for opening this issue 😄
Here is the list of my contributions:
PRs authored:
#1032
#1022
#1003
#952
#950
#928
#925
#898
#897
#889
#867
#828
Reviewed PRs:
#1032
#1004
Currently working on:
#1040 (My first issue to understand python metrics SDK)

Please let me know if any more info is needed.

[2022-04-18 16:50] lzchen commented on #1054
+1 for my nomination :)

[2022-04-18 16:59] srikanthccv commented on #1054
+1 from me.

[2022-04-18 17:03] lzchen opened #1058 "Modify release script to ignore deprecated Datadog exporter"

[2022-04-18 18:30] ocelotl commented on #1054
@ashu658 I sent you an invite :v:

[2022-04-18 23:05] ocelotl opened #1060 "Rename Measurement to Observation"
From [this](https://github.com/open-telemetry/opentelemetry-python/pull/2617#issuecomment-1101830863) comment.

[2022-04-19 04:43] ashu658 commented on #1054
Thanks for the invite @ocelotl and thanks for the support @srikanthccv @lzchen
Looking forward to contribute more to the project. 😄

[2022-04-19 09:44] sanketmehta28 commented on #1053
Hi @srikanthccv ,
Thank you for this opportunity.
Here is my contribution:
#832
#869
#899
#903
#1004
#1024
#1032
#1046

PRs I have reviewed:
#1022
#925

Issues Created:
#1025
#1047

Current Issues:
#1043

[2022-04-19 13:04] srikanthccv commented on #1053
+1 from me. Appreciate your contributions to the SIG.

[2022-04-19 13:16] sanketmehta28 commented on #917
@ocelotl : Can you close this issue as PR is already merged?

[2022-04-19 13:39] #917 closed

[2022-04-19 16:09] lzchen commented on #1053
+1 from me :D

[2022-04-19 19:28] #1058 closed

[2022-04-19 19:50] sanketmehta28 commented on #1053
Received and Accepted with both hands. Thank you guys for this honour.
Looking forward to contribute more going forward!!

[2022-04-20 06:15] juissi-t opened #1063 "Tornado: trace and span ID logging not working when raising HTTPErrors"
**Describe your environment**

- Platform Linux
- Python 3.9.1
- Tornado 6.1
- OTel API + SDK + exporter 1.10.0
- OTel Tornado instrumentation 0.29b0

**Steps to reproduce**

When raising a Tornado `HTTPError`, there are no trace or span IDs in the logs. Traces end up in the collector just fine.

I can reproduce the issue with the following example by using these environment variables:

- OTEL_EXP

[2022-04-20 16:11] #1053 closed

[2022-04-20 16:11] #1054 closed

[2022-04-21 10:52] #1050 closed

[2022-04-21 14:25] jonathan-s opened #1068 "Running opentelemetry-instrument sets the service.name to unknown_service"
**Describe your environment**

Python 3.7.2
opentelemetry-api==1.11.0
opentelemetry-distro==0.30b0
opentelemetry-exporter-otlp-proto-http==1.11.0
opentelemetry-instrumentation==0.30b0
opentelemetry-instrumentation-flask==0.30b0
opentelemetry-instrumentation-requests 0.30b0
opentelemetry-instrumentation-wsgi==0.30b0
opentelemetry-proto==1.11.0
opentelemetry-sdk==1.11.0
opentelemetry-semantic-conven

[2022-04-21 15:04] codeboten commented on #1068
Can you try using the `--service_name` or `OTEL_SERVICE_NAME` to set the name? "unknown_service" is the default set by the SDK if no service name is set.

[2022-04-21 15:14] jonathan-s commented on #1068
@codeboten What I find perplexing is that I am setting the service name here in the resource.

[code]

Which I provide to `tracer_provider`. Even if I were to set the service name through the SDK, that doesn't answer why the custom attributes are dropped when running through the `opentelemetry-instrument` SDK.

[2022-04-21 15:37] srikanthccv commented on #1068
The global provider can only be set once and it is set as a part of auto-instrumentation by `opentelemetry-instrument`. So your call to set tracer provider is rejected with warning _Overriding of current TracerProvider is not allowed_. You could set the `OTEL_RESOURCE_ATTRIBUTES=a=b,c=d` to get the auto-instrumention to pick the custom resource attributes.

[2022-04-21 15:39] codeboten commented on #1068
@jonathan-s ah i see... the attribute names should be coming from the semconv package. Here's an example:

[code]

[2022-04-21 16:10] codeboten commented on #1068
🤔 @jonathan-s now I'm really confused... I just tried the code locally and got the following resource attributes:

[code]

[2022-04-21 16:15] codeboten commented on #1068
@jonathan-s ah i see... I was missing the `opentelemetry-distro` package locally, which is causing the tracer provider to be configured as per @srikanthccv's comment.

[2022-04-21 16:49] jonathan-s commented on #1068
@codeboten Good stuff! I got that `opentelemetry-distro` from this tutorial section > https://opentelemetry.io/docs/instrumentation/python/automatic/#install

So perhaps it might be worth writing a notification / warning section that, that package has that behaviour, if you were to mix things with manual instrumentation.

There is one remaining thing, when running `opentelemetry-instrument` my cus

[2022-04-21 18:15] #1060 closed

[2022-04-21 19:50] jonathan-s commented on #1068
I now see that when the following code is triggered here > https://github.com/open-telemetry/opentelemetry-python-contrib/blob/main/instrumentation/opentelemetry-instrumentation-flask/src/opentelemetry/instrumentation/flask/__init__.py#L380-L410

It's testing `if not app._is_instrumented_by_opentelemetry` and presumably by using `opentelemetry-instrument` to run the application it will set `_is_in

[2022-04-21 21:07] jonathan-s commented on #1068
Trying to uninstrument the app, and then instrument the app again doesn't seem to work either.

[2022-04-21 21:29] max-okumoto commented on #575
Hi.  I ran into the same problem, but I have more information.  If the return status of the handler is a "string", the traceback is hit.   But if I send an integer number, there is no traceback.

@app.route("/readytoserve")
def hc():
    return "GOOD", "200"        <--- causes same traceback

@app.route("/readytoserve")
def hc():
    return "GOOD", 200.         <--- does not trigger

[2022-04-21 21:58] srikanthccv commented on #1068
Good point +1

Flask instrumentation has some quirky detail related the importing in auto-instrumentation, You are probably running into that issue?

Can you share an example what you are trying to do?

[2022-04-21 22:05] srikanthccv commented on #1008
I am going to close this for now since @ocelotl made a strong case for doing it case by case.

[2022-04-21 22:05] #1008 closed

[2022-04-21 22:08] srikanthccv commented on #906
@ashu658 Can be this be closed now?

[2022-04-21 22:30] srikanthccv commented on #863
Given that the exporter is [deprecated](https://github.com/open-telemetry/opentelemetry-python-contrib/commit/1bf9e0c51f800574acfff6e722dc586fe310bd01), I think we can close this issue. @Alan-R Feel free to re-open if you think otherwise.

[2022-04-21 22:30] #863 closed

[2022-04-21 22:35] srikanthccv commented on #668
Fixed in https://github.com/open-telemetry/opentelemetry-python-contrib/pull/866

[2022-04-21 22:35] #668 closed

[2022-04-21 22:37] srikanthccv commented on #637
DataDog exporter is removed from running on ci since it is deprecated. I think we can close this issue.

[2022-04-21 22:37] #637 closed

[2022-04-21 22:40] srikanthccv commented on #625
Fixed in #923

[2022-04-21 22:40] #625 closed

[2022-04-22 06:15] ashu658 commented on #906
Yes @srikanthccv it can be closed.

[2022-04-22 07:59] jonathan-s commented on #1068
@srikanthccv I created this gist > https://gist.github.com/jonathan-s/3117c4a987db741dbb160c23b4b10aa8
The first commit is the code above, the second revision is me trying to uninstrument the app.

Running with `opentelemetry-instrument` won't instrument the app. My reasoning was that perhaps I could uninstrument the app to again instrument the app so I could get the response and request hooks.

[2022-04-22 12:08] srikanthccv commented on #1068
As I mentioned earlier you can't manually the _set_ tracer provider in your code if you are already using the auto-instrumentation. There are number of environment variable that help users configure the behaviour [here](https://opentelemetry-python.readthedocs.io/en/latest/sdk/environment_variables.html) and [here](https://opentelemetry-python.readthedocs.io/en/latest/api/environment_variables.htm

[2022-04-22 12:21] #906 closed

[2022-04-22 12:25] jonathan-s commented on #1068
Thanks @srikanthccv, I think it would be worth mentioning that in the docs too as a caveat what to expect.

[2022-04-22 13:10] jonathan-s commented on #1068
I submitted a patch with a suggestion on how I would phrase it in the documentation here > https://github.com/open-telemetry/opentelemetry.io/pull/1311

[2022-04-22 16:44] jonathan-s commented on #1068
Closing this now, thanks for all the pointers.

[2022-04-22 16:44] #1068 closed

[2022-04-22 16:58] Blueswen commented on #467
I think CancelledError exception is a bug in [asyncio](https://github.com/python/cpython/blob/3.7/Lib/asyncio/locks.py) module of python 3.7.  If you using higher version than 3.7 CancelledError problem will be solved. This bug is fix in python 3.8 with this [commit](https://github.com/python/cpython/commit/2f79c014931cbb23b08a7d16c534a3cc9607ae14), where they use another try  to deal with the Can

[2022-04-23 20:07] duxing opened #1070 "How to instrument multiple remote service as separate resources?"
**Describe your environment**

Not specific to any version of python or OS or cloud provider.

**Steps to reproduce**

Using [`opentelemetry-instrument-redis`](https://github.com/open-telemetry/opentelemetry-python-contrib/tree/main/instrumentation/opentelemetry-instrumentation-redis) to illustrate this problem.

setup:
 - a python `flask` web application that connects to 2 different Redis servers

[2022-04-23 22:06] duxing commented on #1070
a hack I came up with is to override the `service.name` (and other) attributes of the `span` in `request_hook` / `response_hook`.

it doesn't change the `resource` of the `trace`, but it provides a way for `span` to override the `trace`.

downside of this approach is redundancy. this override has to be invoked for every function call (execute command for redis).

having this supported at instrumen

[2022-04-23 23:26] duxing commented on #1070
[here](https://ddtrace.readthedocs.io/en/stable/integrations.html#redis)'s how DataDog solved the same problem:
 - `ddtrace.config.redis["service"]` is used to set the equivalent global resource for `redis`
 - `Pin.override` instrument on a per-client level

[2022-04-24 14:42] osherv opened #1071 "Add request/response hooks to grpc instrumentation"
Enable users of the grpc plugin to register hooks on grpc request and response (server and client, unary and stream). The hooks are called before the stream begins to handle data, allowing the plugin user to register to events.

[2022-04-24 15:00] osherv commented on #1041
Can you please assign this to me? :)

[2022-04-27 05:35] #1025 closed

[2022-04-27 20:22] nstawski commented on #937
I would like to take this issue.

[2022-04-27 20:22] nstawski commented on #939
I would like to take this issue.

[2022-04-27 20:22] nstawski commented on #943
I would like to take this issue.

[2022-04-27 20:22] nstawski commented on #946
I would like to take this issue.

[2022-04-27 20:22] nstawski commented on #945
I would like to take this issue.

[2022-04-27 20:22] nstawski commented on #944
I would like to take this issue.

[2022-04-27 20:43] nstawski commented on #937
Upd: having a closer look at the code, looks like this issue is already addressed and no changes need to be done for it. https://github.com/nstawski/ns-opentelemetry-python-contrib/blob/9e539391b21f741fc0cdc2b139e652199776bca6/instrumentation/opentelemetry-instrumentation-urllib3/src/opentelemetry/instrumentation/urllib3/__init__.py#L174

[2022-04-28 06:25] #937 closed

[2022-04-28 13:13] nemoshlag opened #1073 "Inject trace_configs as an argument to opentelemetry aiohttp_client._instrument instrumentation"
**Is your feature request related to a problem?**

I would like to add data to a span based on on_request_chunk_sent event. Using the request/response hooks doesn't provide a good solution for my use case since it's "too late" in the timeline.

**Describe the solution you'd like**

I would like to pass trace_configs (or a single trace_config) to aiohttp_client opentelemetry instrumentation. It wil

[2022-04-28 13:35] srikanthccv commented on #1073
@nemoshlag Can you share little example of what this change/solution looks like and what are you trying to achieve?

[2022-04-28 14:05] nemoshlag commented on #1073
Hi @srikanthccv sure, pseudo usage from client side:

`def trace_config(...)-> aiohttp.TraceConfig:
    async def on_request_chunk_sent(...):
        # do stuff

AioHttpClientInstrumentor._instument(tracer_provider, request_hook, response_hook, trace_configs=trace_config):`

On opentelemetry instrumentation side:

`def _instrument(tracer_provider: TracerProvider = None, args, kwargs):
    def inst

[2022-04-28 15:37] srikanthccv commented on #1073
Feel free to send a PR.

[2022-04-28 18:16] doppleware opened #1074 "Add code information in span based on semantic conventions in Django instrumentation"
**Is your feature request related to a problem?**
Not a direct problem, but it would make it easier to trace back information to the source code.

**Describe the solution you'd like**
The view function information is already available in the 'process_view' middleware function.
Adding that information using the `code.namespace` and `code.function` semantic convention attributes would greatly ease d

[2022-04-28 20:47] #939 closed, assigned to nstawski

[2022-04-28 21:17] nstawski commented on #946
It looks like httpx also doesn’t need changes:

https://github.com/open-telemetry/opentelemetry-python-contrib/blob/a8edcf6a5234ce31be2b39d4adc7e7d0bb633239/instrumentation/opentelemetry-instrumentation-httpx/src/opentelemetry/instrumentation/httpx/__init__.py#L319
https://github.com/open-telemetry/opentelemetry-python-contrib/blob/a8edcf6a5234ce31be2b39d4adc7e7d0bb633239/instrumentation/opentelem

[2022-04-28 22:08] #946 closed

[2022-04-29 16:50] lkiss80 opened #1077 "dbapi instrumentation breaks psycopg2 when registering types."
**Describe your environment**
I'm using dbapi instrumentation to instrument postgresql.  When I attempt to register jsonb, psycopg2 crashes.  This issue is nearly identical to #143, with the exception that I'm not using `Psycopg2Instrumentor`.

The reason I'm using dbapi instrumentation vs `Psycopg2Instrumentor` is because the latter does not support capturing parameters as span attributes.

**Ste

[2022-04-30 20:02] eladidan opened #1078 "DD propagator fails to inject a NonRecordingSpan"
If the context being injected is of a non-recording span, e.g. if the service is merely forwarding the extracted span without creating a new one, or if the span was not sampled, then it will fail to inject with:

This seems to be a simple issue with using [`span.context`](https://github.com/open-telemetry/opentelemetry-python-contrib/blob/main/exporter/opentelemetry-exporter-datadog/src/openteleme

[2022-05-01 16:41] sanketmehta28 commented on #1078
@eladidan : do you want this to be assigned to you?

[2022-05-03 15:21] nils-borrmann-y42 commented on #831
I stumbled accross the same issue and managed to get rid of these extra spans fairly easily by overriding two methods in the  OpenTelemetryMiddleware:

[code]

[2022-05-03 15:29] maxenglander opened #1083 "Dependency conflicts during `python3 scripts/eachdist.py develop`"
Hello 👋

Was trying to get set up to contribute and ran into dependency conflicts.

My environment:

 * Mac Intel
 * Python 3.8.1

Steps to reproduce:

 1. Checkout [latest commit](https://github.com/open-telemetry/opentelemetry-python-contrib/commit/2671ff53c8643ad55dcf78dad072f2f0b82e84e1)
 1. `mkdir .venv`
 1. `python3 -m venv .venv/default`
 1. `python3 scripts/eachdist.py develop`

Error:

[c

[2022-05-04 02:45] srikanthccv commented on #1083
Ah our docs are not upto date for the eachdist and we generally just use the `tox`. That exporter is deprecated and will not receive any new additions. Did you try using the tox? Please let us know if you run into any issue with it.

[2022-05-04 08:37] Doron-Bargo commented on #933
Hi @codeboten any update on restoring the Prometheus remote write exporter?
I notice it exists under metrics branch but never pushed to the main.

[2022-05-04 11:52] maxenglander commented on #1083
Hi @srikanthccv thanks for the response. I haven't tried running `tox` yet. Shall I update this issue description to something like "Update docs in CONTRIBUTING.md" ?

[2022-05-04 15:18] Blueswen commented on #831
@nils-borrmann-y42 thanks for the workaround, it works perfectly. The CancelledError Exception issue #467 in internal span under python 3.8 could also fixed with this workaround.

[2022-05-04 16:17] srikanthccv commented on #1083
The current title is fine. I just wanted to get you unblocked before the eachdist script is fixed.

[2022-05-09 03:18] phillipuniverse commented on #775
This propagator is deprecated in favor of the Datadog agent receiving native Otel traces, closing.

[2022-05-09 03:18] #775 closed

[2022-05-10 15:50] cdvv7788 opened #1085 "Aiopg instrumentation not compatible with latest aiopg (1.2.1)"
**Describe your environment** Describe any aspect of your environment relevant to the problem, including your Python version, [platform](https://docs.python.org/3/library/platform.html), version numbers of installed dependencies, information about your cloud hosting provider, etc. If you're reporting a problem with a specific version of a library in this repo, please check whether the problem has

[2022-05-11 09:38] #922 closed

[2022-05-11 15:48] #786 closed

[2022-05-11 16:41] ericksoen opened #1087 "Automatically capture common HTTP attributes for Load Balancer/API Gateway events"
**Is your feature request related to a problem?**
We invoke our AWS Lambda functions from both an Elastic Load Balancer (ELB) and API Gateway. We perform manual instrumentation to add attributes like `http.status_code`, `http.url`, `http.method`, etc., but do this for _every_ Lambda function that implements OpenTelemetry. This also introduces the possibility that teams deviate from the OpenTelemet

[2022-05-13 21:41] jemisonf opened #1088 "EC2 resource detector hangs for a long time outside of an EC2 instance"
**Describe your environment** Describe any aspect of your environment relevant to the problem, including your Python version, [platform](https://docs.python.org/3/library/platform.html), version numbers of installed dependencies, information about your cloud hosting provider, etc. If you're reporting a problem with a specific version of a library in this repo, please check whether the problem has

[2022-05-16 11:56] akayaz opened #1090 "Auto instrumentation python issues with OtelInstrumentation on k8s"
I just tried to setup an example project based on the bank-of-anthos demo GCP demo application. I'm trying to use the auto instrumentation for the python frontend service but I'm facing a Module not found error

**Describe your environment**
1.21.10-gke.2000
Bank-of-Anthos-GCP Github page (https://github.com/GoogleCloudPlatform/bank-of-anthos)
Python3.7 for the python services

**Steps to reproduc

[2022-05-16 21:44] ocelotl opened #1092 "Make metrics public"
Similar to [this](https://github.com/open-telemetry/opentelemetry-python/pull/2684).

[2022-05-17 04:06] #1092 closed

[2022-05-19 12:52] shaykeren opened #1098 "[instrumentation-django] - empty span name"
**Describe your environment**
opentelemetry-instrumentation-django==0.30b1
django==4.0.4

**Steps to reproduce**
Having the following URL patterns:
`from django.urls import path
from . import views

urlpatterns = [
    path('', views.index, name='index'),
    path('list', views.list, name='list'),
]`
Please note that the path route has an empty value.

**What is the expected behavior?**
The expect

[2022-05-19 15:58] lzchen commented on #430
Re-opening as #936 only covers http instrumentations.

[2022-05-19 22:20] jeremydvoss opened #1102 "Auto-Instrumentation does not produce spans after PR #1066"
I am on Windows 11. Here are my steps to reproduce:
[code]
But, if I move the code block back to the finally, I get the spans:
[code]
Notice that in both cases, I get the `Error in sitecustomize; set PYTHONVERBOSE for traceback: error: incomplete escape \u at position 2` message which may only occur on Windows. I believe it's related to the rf-string, but need to investigate more.

[2022-05-20 15:34] ocelotl commented on #1085
Can you provide a specific example @cdvv7788, please? I ran the `opentelemetry-instrumentation-aiopg` tests which instantiate an `AiopgInstrumentor` using version 1.2.1 and they pass.

[2022-05-20 18:39] BalazsHoranyi opened #1099 "Support for gRPC aio"
I would like to add support for the gRPC AsyncIO API server.
I think it should be relatively straightforward to implement. We just need to subclass the `grpc.aio.ServerInterceptor` instead of `grpc.ServerInterceptor` and add some `async/await` logic.
Something like this seems to work well.

[code]
I am unsure about intercepting the streaming response. Thoughts?

[2022-05-22 16:01] haarakdy commented on #313
I get the same problem when deploying the opentelemetry-exporter-prometheus-remote-write
Please see https://github.com/open-telemetry/opentelemetry-python-contrib/pull/314#issuecomment-1132851423

Is the problem fixed in the master?
How do I install the GIT version of opentelemetry-exporter-prometheus-remote-write using pip?
Thanks!

[2022-05-23 08:22] larytet commented on #313
https://github.com/larytet-py/opentelemetry_exporter_prometheus_remote_write/commit/dd84c6fce4f127b97ac14038d820984968b5a256

[2022-05-23 16:09] akiross commented on #165
I had a similar issue: had opentelemetry-instrumentation-django installed with asgi extras, but still received an error

[code]

Since otel was added to an existing application using django 4 and django-channels 3, it wasn't immediate to find the cause of this, but in the end it was due to misconfiguration of the routing, which did not handle http requests with asgi.

Documentation for asgi and dj

[2022-05-24 05:41] sungwonh opened #1103 "[sqlalchemy] instrumenting multiple sqlalchemy engines"
I have two sqlalchemy engines. One for write operations and one for read only operations.

I am wonder how to instrument two sqlalchemy engines at the same time.

When I called SQLAlchemyInstrumentor().instrument() method for each engine as shown below, spans for the second called engine are not created.

[code]

[2022-05-24 15:58] srikanthccv commented on #1098
What do you expect the span name if not empty?

[2022-05-24 18:48] RunzhongHuang commented on #831
Hi @Blueswen and @nils-borrmann-y42. Thanks for your reply and confirmation in this issue. I have a quick question regard this overrided "OpenTelemetryMiddleware".

The "FastAPIInstrumentor" class didn't expose any parameters to pass "OpenTelemetryMiddleware" object. It directly add the "OpenTelemetryMiddleware" as the middle ware. May I ask how you utilize your "MyOpenTelemetryMiddleware" ? Is th

[2022-05-24 20:24] shaykeren commented on #1098
if an empty route has the same meaning of a route with a value of '/' then I would consider setting both the route and the name to '/'

[2022-05-25 00:26] Blueswen commented on #831
This [gist](https://gist.github.com/Blueswen/f5dcc72d2ce0966fa7f106332adc7433) is my workaround, which copy the entire [FastAPIInstrumentor Code](https://github.com/open-telemetry/opentelemetry-python-contrib/blob/v0.30b1/instrumentation/opentelemetry-instrumentation-fastapi/src/opentelemetry/instrumentation/fastapi/__init__.py) then add custom middleware (line from 167) and import some required m

[2022-05-25 19:03] jeremydvoss opened #1104 "Add sitecustomize.py tests for Auto-Instrumentation"
**Is your feature request related to a problem?**
If so, provide a concise description of the problem:
Yes. There are currently no unit tests for sitecustomize.py. Such tests could have caught the [Windows bug](https://github.com/open-telemetry/opentelemetry-python-contrib/pull/open-telemetry/opentelemetry-python-contrib#1102) I noticed recently.

**Describe the solution you'd like**
What do you w

[2022-05-25 20:50] alanisaac opened #1105 "Sync up with Mark textmap.Getter and textmap.Setter Generic"
Sync up with https://github.com/open-telemetry/opentelemetry-python/issues/2656

As I understand it, contrib packages are [not type checking](https://github.com/open-telemetry/opentelemetry-python/pull/2657#issuecomment-1136219956).  Nevertheless, I thought it would be a good idea to update typing for this change where appropriate.

[2022-05-25 21:12] RunzhongHuang commented on #831
Thank you @Blueswen and @nils-borrmann-y42! I thought the same and seem no other way around, let me test it out on my project.

[2022-05-26 11:14] Tayum opened #1107 "HTTPX instrumentation: ResourceWarning: unclosed socket (httpx.Client, httpx.AsyncClient)"
**Describe your environment**
* Python 3.9.6
* `httpx==0.18.2`
* `opentelemetry-instrumentation-httpx==0.30b1`
  * `opentelemetry-api==1.11.1`
  * `opentelemetry-instrumentation==0.30b1`
  * `opentelemetry-semantic-conventions==0.30b1`
  * `wrapt==1.14.1`
  * `Deprecated==1.2.13`
* `pytest==7.1.2`

**Steps to reproduce**
[code]
[code]

**What is the expected behavior?**
Command successfully comple

[2022-05-27 01:12] dbgoytia commented on #989
Hi @codeboten ! I'll be thrilled to help tackle some of this. I'm new to the codebase though, and might need a bit of guidance to ramp up.

After reading #958, I've still got a couple of questions. Can you please help me clarify what's the expected outcome and how to reproduce the current behaviour?

[2022-05-29 00:32] #1105 closed

[2022-05-31 05:14] vasireddy99 commented on #933
Looks like we now have Prometheus remote write exporter in the `main` (branch)[https://github.com/open-telemetry/opentelemetry-python/tree/main/exporter/opentelemetry-exporter-prometheus].

[2022-05-31 12:30] haarakdy opened #1112 "A non-float values triggers an exception"
I have the following code
[code]

Type cast the value `float(value)` solves the issue. What am I doing wrong? Is it possible to ignore illegal values like None, catch the exceptions, keep going?

I am getting the exception below
[code]

[2022-05-31 12:35] haarakdy commented on #1112
I know what happens. I use the value type "float" and it wont accept int.

[2022-05-31 17:27] lzchen commented on #1112
@haarakdy

The api/sdk for metrics that you are using is outdated. Please update to the latest [rc](https://github.com/open-telemetry/opentelemetry-python/releases/tag/v1.12.0rc1) to try out the updated versions of metrics.

[2022-05-31 17:53] jeremydvoss opened #1113 "subprocess-exited-with-error when running tox tests"
**Describe your environment**
Windows 11
In virtualenv:
 * Python 3.10.4
 * pip 22.1
 * OpenTelemetry 1.12.0rc1 + 0.31b0
 * tox 3.25.0

**Steps to reproduce**
I have been trying to run the existing tests locally, before adding to them. I am following the [instructions here](https://github.com/open-telemetry/opentelemetry-python-contrib#running-tests-locally). However, after running `tox -e generat

[2022-05-31 19:29] lzchen commented on #933
@vasireddy99

The current prometheus exporter that you are linking to is the pull-based prometheus exporter. We have yet to implement the remote-write exporter in the main branch using the updated metrics api/sdks.

[2022-05-31 19:30] codeboten commented on #933
The current exporter that @vasireddy99 linked is the pull based exporter, @Doron-Bargo no one has taken on the work to bring back the remote write exporter. Would love help here if anyone has time for it

[2022-06-01 05:26] haarakdy commented on #1112
@lzchen   I need an installation tip

I am getting an error
[code]

[2022-06-01 05:42] haarakdy commented on #1112
I installed the packages using

[code]
I need a patch in the  `opentelemetry_exporter_prometheus_remote_write==0.17b0`

[2022-06-01 16:12] lzchen commented on #1112
`opentelemetry_exporter_prometheus_remote_write` is currently not supported with the new metrics api/sdk.

See https://github.com/open-telemetry/opentelemetry-python-contrib/issues/933

[2022-06-01 16:19] #1112 closed

[2022-06-06 07:04] tonycody commented on #171
[code]
When gunicorn is used, the link is broken

[2022-06-06 13:59] ocelotl opened #1622 "Add metrics examples: example for system-metrics instrumentation"

[2022-06-06 16:05] Raymundo1 opened #1119 "Poetry version conflict: SolverProblemError: installing opentelemetry-instrumentation-fastapi and opentelemetry-exporter-jaeger"
**Describe your environment**
* Python 3.8.10
* WSL Ubuntu 20.04.3 LTS

**Steps to reproduce**
[code]
during installing opentelemetry-exporter-jaeger, the version conflict error raised.
The package version installed before opentelemetry-exporter-jaeger is
[code]

**What is the expected behavior?**
all packages installed successfully

**What is the actual behavior?**
[code]

**Additional context**

[2022-06-07 12:10] ocelotl commented on #171
Can you give more context, please?

[2022-06-07 13:01] TBBle commented on #385
Should this be reopened, as `uvicorn --workers` (or running `uvicorn` with the `WEB_CONCURRENCY` env-var set, or `--reload` (which also uses pre-forking under the hood) was not resolved, and might need upstream support for the appropriate hook?

Presumably it'd be similar to whatever #676 does, if we had the hook (or monkeypatched the appropriate code in uvicorn).

[2022-06-07 17:20] #1077 closed

[2022-06-07 18:44] rahulgupta92 commented on #373
Is this feature being worked upon or has been implemented? Any suggestions/workarounds for excluding such requests?

[2022-06-07 21:23] ocelotl opened #1120 "System metrics instrumentation missing psutil dependency"

[2022-06-08 10:00] tonycody opened #1122 "java call python tracing broken"
<img width="1949" alt="image" src="https://user-images.githubusercontent.com/6773121/172588517-01e152eb-1884-4bcd-b058-343ba276f4e8.png">

java call python

python pip list
<img width="455" alt="image" src="https://user-images.githubusercontent.com/6773121/172588696-30d5958b-2b57-4ad9-bddd-892ec8cca0ae.png">

python automic instrument
[code]

java debug
<img width="903" alt="image" src="https://us

[2022-06-08 10:58] #1096 closed

[2022-06-08 11:49] ocelotl opened #1123 "Wrong metric reader argument in system metrics example"
The [system metrics example](https://github.com/open-telemetry/opentelemetry-python-contrib/blob/main/instrumentation/opentelemetry-instrumentation-system-metrics/src/opentelemetry/instrumentation/system_metrics/__init__.py#L52) does not use a list of metric readers as an argument to `MeterProvider`.

[2022-06-08 16:39] ocelotl opened #1125 "Non-config keys queried when using system metrics with custom configuration"
Was trying [this](https://github.com/open-telemetry/opentelemetry-python/tree/main/docs/examples/metrics) example but with this code instead:

[code]
Got these errors:
[code]

[2022-06-08 17:12] #1120 closed

[2022-06-08 17:20] lzchen commented on #373
@jan25
Any updates on this?

[2022-06-09 16:39] aabmass opened #1126 "[instrumentation-wsgi] add metric instrumentation for wsgi"
Add support for the [`http.server`](https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/metrics/semantic_conventions/http-metrics.md#http-server) metric semantic conventions in WSGI.

[2022-06-09 20:25] aabmass commented on #1125
@ocelotl I think we should remove the instrumentation level configuration altogether in favor of views

[2022-06-09 20:27] aabmass commented on #1099
This would be awesome, would you be open to submitting a PR @BalazsHoranyi ?

[2022-06-10 12:38] ocelotl commented on #1125
That would be a breaking change :shrug:

[2022-06-10 16:46] lzchen commented on #1125
@aabmass
Probably would have to add some documentation on this as the metric names are not immediately available to the user.

@ocelotl
Shouldn't that be fine since this is experimental?

[2022-06-13 17:42] lzchen commented on #1125
@ocelotl
I'm ok with fixing the bug for now. Maybe add it to this week's agenda topic just to get concensus and start the conversation on how we should handle configuration?

[2022-06-14 08:24] lucky050619 opened #1130 "Auto Instrumentation support for CherryPy Python Framework"
Before opening a feature request against this repo, consider whether the feature should/could be implemented in the [other OpenTelemetry client libraries](https://github.com/open-telemetry/). If so, please [open an issue on opentelemetry-specification](https://github.com/open-telemetry/opentelemetry-specification/issues/new) first.

**Is your feature request related to a problem?**
Unable to set u

[2022-06-14 14:59] #1125 closed, assigned to ocelotl

[2022-06-14 17:08] lzchen commented on #1102
Fixed by https://github.com/open-telemetry/opentelemetry-python-contrib/pull/1100

[2022-06-14 17:08] #1102 closed

[2022-06-14 18:32] yossicohn opened #1131 "Instrumentation for opensearch-py"
**Is your feature request related to a problem?**
Opting out from Elasticsearch to OpenSearch, we lose the capabilities of Elasticsearch Tracing since the OpenSearch has no instrumentation yet.

**Describe the solution you'd like**
OpenSearch instrumentation

**Describe alternatives you've considered**
None

[2022-06-15 09:07] shahargl opened #1133 "Instrument SQLAlchemy engine connection phase"
** Is your feature request related to a problem? **
The SQLAlchemy instrumentation does not trace the actual connection to the database

**Describe the solution you'd like**
I want that `connect` function will also be traced

**Describe alternatives you've considered**
Which alternative solutions or features have you considered?

**Additional context**
We are working with SQLAlchemy (snowflake db)

[2022-06-15 09:15] shahargl commented on #1133
I've created a PR adding this functionality - https://github.com/open-telemetry/opentelemetry-python-contrib/pull/1134
I've tested this only for our infrastructure so I'll be happy if you will help me with testing this (or tell me how to do the tests my self)

[2022-06-15 21:39] nstawski commented on #1037
Having investigated this further, it looks like Pyramid instrumentation is miscategorizing most 200s and 300s exceptions as errors. Created a pull to fix that.

[2022-06-16 11:44] #1103 closed

[2022-06-16 17:32] owais commented on #1037
I if understand correctly, we should ignore 4xx as well and only record 5xx exceptions as errors. According to the spec:

I think we are talking only about server spans here right? In that case only 5xx should be set to the span status as an error unless I misunderstood something.

https://opentelemetry.io/docs/reference/specification/trace/semantic_conventions/http/#status

[2022-06-16 21:20] #930 closed

[2022-06-19 20:12] whardier opened #1139 "Trying to determine when SpanKind with AWS Lambda instrumentation would ever not be consumer or server"
https://github.com/open-telemetry/opentelemetry-python-contrib/blob/62e0a31ff9c95efa0110e7cd1bc23b59bc7bdcc8/instrumentation/opentelemetry-instrumentation-aws-lambda/src/opentelemetry/instrumentation/aws_lambda/__init__.py#L208

is there ever a time when the span kind would remain none?

[2022-06-19 20:23] whardier opened #1140 "AWS Lambda Instrumentation should offer request_hook/response_hook callable arguments."
Currently double-wrapping a function in order to produce similar functionality.

[2022-06-21 07:50] Andarius opened #1141 "Version conflict between opentelemetry-instrumentation-* and opentelemetry-sdk"
**Describe your environment**
Poetry with Python 3.10

**Steps to reproduce**
Run `poetry add opentelemetry-sdk` and then `poetry add opentelemetry-instrumentation-asyncpg`

**What is the expected behavior?**
No version conflict

**What is the actual behavior?**
We are shown a version conflict:
[code]

**Additional context**
Full code:
[code]

[2022-06-21 08:03] srikanthccv commented on #1141
@Andarius You need to either use the 1.12.0rc1 of opentelemetry-sdk or use the opentelemetry-instrumentation-asyncpg (0.30b1). Core and contrib packages are usually in sync but we had metrics release candidates work going on for past couple of weeks hence this conflict.

[2022-06-21 08:08] srikanthccv commented on #1139
cc @NathanielRN

[2022-06-21 08:18] Andarius commented on #1141
Hey @srikanthccv, thanks for the quick reply.
I'm new to opentelemetry so may be doing something wrong here.
I had to start instanciating my own tracer to make it works with the Grafana Agent that listens on port 4317 or 4318.

I tried this first but it did not sent any data:

[code]

What worked was the following:

[code]

Do you know what I'm missing or if it's a bug ?

[2022-06-21 08:26] haarakdy opened #1142 "PushController.tick keeps GIL for the time depeding on the amount of lables and metrics"
I am using PrometheusRemoteWriteMetricsExporter and Logz.io
In my tests OpenTelemetry's tick()  keeps GIL for up to 10ms when the number of metrics is 20, and average number of labels is 6
I measure the GIL availability using a loop like in the class below. The `py-spy record ...` confirms the result.
In my application I  have a constraint for the response latency. The constraint is not very tight

[2022-06-21 12:19] haarakdy commented on #1142
I can quickly reproduce the problem by generating random values labels in the metric. Why does the exporter performance depends on the number of different values of a label?

[2022-06-21 13:55] NathanielRN commented on #1139
@whardier Hey! No the `span_kind` should never remain `None`. Did you see any situation where that was the case?

[2022-06-21 17:34] srikanthccv commented on #1141
@Andarius With SDK tracer provider all operations are no-op and do not emit telemetry. You can join slack or open a separate issue if you want to ask such questions. I believe you original issue is fixed now. Hence closing.

[2022-06-21 22:24] #1126 closed

[2022-06-21 23:10] srikanthccv opened #1143 "Metrics instrumentation sqlalchemy"
Spec https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/metrics/semantic_conventions/database-metrics.md

[2022-06-21 23:12] srikanthccv opened #1144 "Metrics instrumentation urllib3"
HTPP metrics semconv https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/metrics/semantic_conventions/http-metrics.md

[2022-06-21 23:13] srikanthccv opened #1145 "Metrics instrumentation tornado"
HTPP Server semconv https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/metrics/semantic_conventions/http-metrics.md#http-server

[2022-06-21 23:14] srikanthccv opened #1146 "Metrics instrumentation starlette"
HTTP Server semconv https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/metrics/semantic_conventions/http-metrics.md#http-server

[2022-06-21 23:15] srikanthccv opened #1147 "Metrics instrumentation sqlite3"
DB semconv : https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/metrics/semantic_conventions/database-metrics.md

[2022-06-21 23:16] srikanthccv opened #1148 "Metrics instrumentation redis"
DB semconv https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/metrics/semantic_conventions/database-metrics.md

[2022-06-21 23:16] srikanthccv opened #1149 "Metrics instrumentation pyramid"
HTTP metrics semconv: https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/metrics/semantic_conventions/http-metrics.md

[2022-06-21 23:17] srikanthccv opened #1150 "Metrics instrumentation pymysql"
DB semconv: https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/metrics/semantic_conventions/database-metrics.md

[2022-06-21 23:18] srikanthccv opened #1151 "Metrics instrumentaion pymongo"
DB Semconv: https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/metrics/semantic_conventions/database-metrics.md

[2022-06-21 23:19] srikanthccv opened #1152 "Metrics instrumentation pymemcache"
DB semconv: https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/metrics/semantic_conventions/database-metrics.md

[2022-06-21 23:20] srikanthccv opened #1153 "Metrics instrumentation psycopg2"
DB semconv: https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/metrics/semantic_conventions/database-metrics.md

[2022-06-21 23:21] srikanthccv opened #1154 "Metrics instrumentation mysql"
DB semconv:
 https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/metrics/semantic_conventions/database-metrics.md

[2022-06-21 23:22] srikanthccv opened #1155 "Metrics instrumentation flask"
HTPP metrics: https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/metrics/semantic_conventions/http-metrics.md

[2022-06-21 23:22] srikanthccv opened #1156 "Metrics instrumentation fastapi"
HTTP metrics : https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/metrics/semantic_conventions/http-metrics.md

[2022-06-21 23:23] srikanthccv opened #1157 "Metrics instrumentation falcon"
HTTP metrics: https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/metrics/semantic_conventions/http-metrics.md

[2022-06-21 23:24] srikanthccv opened #1158 "Metrics instrumentation dbapi"
DB metrics: https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/metrics/semantic_conventions/database-metrics.md

[2022-06-21 23:26] srikanthccv opened #1159 "Metrics instrumentation celery"
Relevant semconv: https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/metrics/semantic_conventions/instrumentation/kafka.md

[2022-06-21 23:27] srikanthccv opened #1160 "Metrics instrumentation asgi"
HTTP Metrics: https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/metrics/semantic_conventions/http-metrics.md

[2022-06-22 07:15] sungwonh opened #1161 "[redis] Is RedisCluster client supported?"
I wonder if redis instrumentation supports RedisCluster client ([redis.asyncio.cluster.RedisCluster](https://github.com/redis/redis-py/blob/master/redis/asyncio/cluster.py#L102)).

[2022-06-22 14:43] liorzmetis opened #1163 "Sqlalchemy uninstrument function doesnt work as expected"
**Describe your environment** Describe any aspect of your environment relevant to the problem, including your Python version: 3.9

**Steps to reproduce**
 Just create a SQLAlchemy instrumentation and call `uninstrument` function
 Example:
[code]

**What is the expected behavior?**
Don't collect spans

**What is the actual behavior?**
Still recording and collecting spans

**Additional context**
Add

[2022-06-22 16:43] lzchen commented on #1161
@sungwonh
Have you tried testing this with the redis instrumentation?

[2022-06-22 18:52] lidijarad opened #1164 "Add an additional keyword arg to RedisInstrumentor.intrument to ignore root spans 🌈 🙏"
Hello everyone, I'm new to the OTEL community (and python 🌈 ( and writing github issues)).

I've been trying to instrument a python app with the `RedisInstrumentor`.

I have an issue with noisy redis spans in my collector. Ideally, I don't want to collect any spans without a `parent_id` attached.

It would be neat to be able to pass an additional keyword arg (something along the lines of `trace_ro

[2022-06-23 10:14] TheAnshul756 commented on #1155
@srikanthccv Please assign this issue to me.

[2022-06-23 17:52] mmalecki commented on #1160
I started working on this by following WSGI's package's lead. I can't really make any promises as I'm having some trouble setting up my dev environment, but thought I'd drop a note here.

[2022-06-23 19:13] srikanthccv commented on #1160
I am going to assign this to you. If you can't work on it anymore just leave a comment.

[2022-06-24 09:59] ocelotl commented on #1164
Hello, welcome! We are always happy to have new people in our community :slightly_smiling_face:

If you feel like opening a PR, go ahead! This issue makes me wonder if we should have this as a feature for all instrumentations :thinking:

[2022-06-25 01:39] #1039 closed

[2022-06-25 22:31] artemrys commented on #1147
I would like to help with this one, I am a newbie in the open-telemetry world, but I see you marked this one as "good first issue", so can you please assign this one to me?

[2022-06-25 22:33] srikanthccv commented on #1147
Thanks. Feel free to ask any questions here or on our slack channel.

[2022-06-26 12:17] #1073 closed

[2022-06-27 09:42] sungwonh commented on #1161
@lzchen

Yes, I have.

I tried to instrument redis cluster using `opentelemetry-instrumentation-redis@0.28b1`, but the application did not export any traces related redis.

[code]

[2022-06-27 23:11] sungwonh opened #1167 "[Redis] RedisCluster support"
Redis instrumentation does not support RedisCluster ([redis.asyncio.cluster.RedisCluster](https://github.com/redis/redis-py/blob/master/redis/asyncio/cluster.py#L102)).

I tried to instrument RedisCluster using `opentelemetry-instrumentation-redis` as below, but the application did not export any traces related redis.
[code]

It would be very helpful if redis instrumentation supports RedisCluster.

[2022-06-28 14:48] artemrys commented on #1147
Moving here a conversation from Slack:

It seems that there is no work that needs to be done in `sqlite3` package specifically, as there is [no signs of useful attributes](https://github.com/open-telemetry/opentelemetry-python-contrib/blob/a3f60a65926fce2d2a1531aae7dfeb1a5961248c/instrumentation/opentelemetry-instrumentation-sqlite3/src/opentelemetry/instrumentation/sqlite3/__init__.py) for `sqlit

[2022-06-28 14:53] nemoshlag opened #1168 "opentelemetry-semantic-conventions causes version conflicts with older instrumentation libraries"
**Is your feature request related to a problem?**
Whenever opentelemetry-python-contrib is being released - a corresponding opentelemetry-semantic-conventions is created and released as well. For a user who wants to update a single instrumented library, this causes an overlay because the new semantic-conventions lib doesn't support the previous instrumented libraries.

**Describe the solution you'

[2022-06-28 17:37] lzchen commented on #1147
@artemrys

I do not believe metrics have been implemented for any db instrumentations in Python.

[2022-06-28 19:35] theelderbeever opened #1170 "AsyncPG Instrumentation Span Names are too long when using query string"
**Is your feature request related to a problem?**
Not a problem per se however, the `asyncpg` instrumentation uses sets span names as the query string which results in some very messing looking trace names in jaeger, datadog, etc and outright doesn't work with promscale due to long queries exhaust the available bytes for btree indexes.

**Describe the solution you'd like**
- The ability to change

[2022-06-28 19:35] srikanthccv commented on #1168
@nemoshlag Is your primary concern about the backwards compatibility or version conflict that arises when you installing new package?

[2022-06-29 03:44] HassankSalim commented on #1153
@srikanthccv Can assign this to me?

[2022-06-29 10:34] nemoshlag commented on #1168
Hi @srikanthccv thanks 🙏 version conflict is indeed my main issue - I've edited the issue accordingly

[2022-06-30 19:55] codeboten opened #1171 "opentelemetry-instrumentation-system-metrics: remove direction attribute"
Following the spec change here: https://github.com/open-telemetry/opentelemetry-specification/pull/2617

The attribute `direction` is being replaced by the addition of the direction to the metric name.

[2022-07-01 14:28] tpadr commented on #1168
I have same circular dependency issue
[code]

[2022-07-01 14:42] srikanthccv commented on #1168
Install `opentelemetry-instrumentation-fastapi` 0.30b1.

[2022-07-01 17:09] srikanthccv commented on #1148
Ask any question here you need help with.

[2022-07-01 19:19] ZachTB123 opened #1175 "Feature Request: opentelemetry-instrumentation-urllib3 add support for custom span names via callback"
`opentelemetry-instrumentation-urllib3` always uses a default span name [here](https://github.com/open-telemetry/opentelemetry-python-contrib/blob/main/instrumentation/opentelemetry-instrumentation-urllib3/src/opentelemetry/instrumentation/urllib3/__init__.py#L164). It would be nice if a custom name callback was supported like `opentelemetry-instrumentation-requests` does [here](https://github.com

[2022-07-03 16:06] tpadr commented on #1168
@srikanthccv here is my stack of `opentelemetry` libs, and I want updated them to the latest versions:
[code]

When I try install `opentelemetry-instrumentation-fastapi==0.30b1`, I've got an error:
[code]

To fix this, I've tried install `opentelemetry-instrumentation-httpx==0.30b1` at first, but the process goes into infinite amount of time (freeze).
[code]

[2022-07-04 05:48] ashu658 commented on #1149
Can you assign this to me?

[2022-07-04 10:05] haarakdy commented on #933
@codeboten   what is the difference between `prometheus remote write exporter` and the exporter I use currently 0.17b0 ?

[2022-07-04 10:30] TheAnshul756 commented on #1156
@srikanthccv Please assign this issue to me.

[2022-07-04 10:32] ocelotl commented on #1171
From [here](https://github.com/open-telemetry/opentelemetry-python-contrib/tree/main/instrumentation/opentelemetry-instrumentation-system-metrics). Thanks for your interest, I'll assign you to this issue :slightly_smiling_face:

[2022-07-04 18:10] phillipuniverse commented on #951
Fixed by #1095 !

[2022-07-04 18:10] #951 closed

[2022-07-05 06:24] srikanthccv commented on #933
What you are using is based on the old API&SDK design which is no longer supported. There have been some significant changes since then and this issue is to restore the exporter to make it work with new API.

[2022-07-05 07:14] CucumisSativus commented on #920
It also works the other way round. When you are publishing using select connection, the traces are not propagated into the message (the header is not there).

[2022-07-05 12:57] phillipuniverse opened #1179 "Instrumentation issues with coverage module and SQLite in latest 0.32b0 release"
I utilize the automatic instrumentation for my projects during tests. When I run my [tests with coverage](https://coverage.readthedocs.io/en/6.4.1/) I get an error in the last part when the coverage results are being written out:

[code]

An example execution for e.g. a Django project is this:

[code]

The only changes I have in my venv is the change from 1.12.0rc1 to 1.12.0rc2, and the contrib mo

[2022-07-05 13:11] phillipuniverse commented on #1179
It appears to be isolated to the `sqlite3` instrumentation. If I disable it:

[code]

Then the coverage module works correctly and no exception is raised.

[2022-07-05 13:58] haarakdy commented on #1142
Is there a simple way to run the OpenTelemetry in a dedicated Python instance, a dedicated process?

[2022-07-05 17:57] mharoonkwentra opened #1180 "Thread-ConsumeBidirectionalStream caught unexpected exception 'generator' object has no attribute 'add_done_callback' and will exit."
**Notes**
We are trying to use Opentelemetry to instrument grpc to get traces of functions. We observed this error on local once, and we couldn't reproduce it again, but it's always on production server. Furthermore, we are using GCP monitoring suite (stack drive) to check traces.

**Environment:**
Django==3.2.6
Python==3.7

grpcio-tools==1.32.0
grpcio==1.33.2

opentelemetry-api==1.4.1
opentelemet

[2022-07-05 23:46] thisfred opened #1181 "Allow Flask instrumentation to filter on paths"
The FlaskInstrumentor accepts an excluded_urls parameter, which takes a sequence of regular expressions that it compares against

`flask.request.url`, here:

https://github.com/open-telemetry/opentelemetry-python-contrib/blob/main/instrumentation/opentelemetry-instrumentation-flask/src/opentelemetry/instrumentation/flask/__init__.py#L192

In my opinion it would be nicer to be able to filter on the

[2022-07-05 23:55] thisfred commented on #1181
One case in point for changing the existing functionality: if you look at the asgi/fastapi instrumentation, that does indeed compare only to the path part. (And it's also what beeline used to do.)

[2022-07-06 09:50] talboren opened #1182 "FastAPI instrumentor import failure"
**Describe your environment**
Python3.7
FastAPI
Opentelemtry v0.32b0

**Steps to reproduce**
When importing FastAPIInstrumentor
`from opentelemetry.instrumentation.fastapi import FastAPIInstrumentor`
The exception below is being thrown

**What is the actual behavior?**
Exception is being thrown when importing FastAPI Instrumentor

**Exception**
[code]

[2022-07-06 14:28] sanketmehta28 commented on #1159
Hi Can you assign it to me?

[2022-07-06 14:28] sanketmehta28 commented on #1146
Hi Can you assign it to me?

[2022-07-06 19:49] rogersd opened #1184 "Add more features for adding HTTP request / response headers to spans."
I already have https://github.com/open-telemetry/opentelemetry-python-contrib/pull/1172 open for this, and I'll be breaking it in to smaller pieces at @lzchen 's request.

**Is your feature request related to a problem?**
Currently, you can only provide a list of full HTTP request / response header names to be added to the span.

There is also no capacity for header value redaction.

**Describe th

[2022-07-06 21:48] whardier opened #1185 "opentelemetry-instrumentation-remoulade is >= 3.7 .. breaks opentelemetry-contrib-instrumentations install on 3.6"
Need to add in a python version exclusion in https://github.com/open-telemetry/opentelemetry-python-contrib/blob/main/opentelemetry-contrib-instrumentations/setup.cfg for remoulade.

[2022-07-06 21:48] whardier commented on #852
LInking: https://github.com/open-telemetry/opentelemetry-python-contrib/issues/1185

[2022-07-08 17:32] jeremydvoss opened #1189 "otlp-proto-grpc default exporter appears to break auto-instrumentation"
**Describe your environment**
Windows 11 - Python 3.10.4 - Local OT 1.12.0rc1-0.31b0
Ubuntu 20/04 - Python 3.8.10 - Local OT 1.12.0rc1-0.31b0

**Steps to reproduce**
Checkout e27f2b866bd840623bb128a1c04296c52b35b919 in core repo. This is the final rc1 commit.
Checkout 51ba801bfda31c3d57902d9f9df938cee1236eb8 in contrib repo. This is the commit that added grpc for auto-instrumentation.
Follow [thes

[2022-07-08 17:33] jeremydvoss commented on #1189
The PR in question is [this](https://github.com/open-telemetry/opentelemetry-python-contrib/pull/1127)

[2022-07-08 19:39] srikanthccv commented on #1189
Fixed https://github.com/open-telemetry/opentelemetry-python/pull/2748. Please use rc2 version.

[2022-07-08 19:39] #1189 closed

[2022-07-08 19:54] jeremydvoss commented on #1189
This problem still exists in rc2. I'm using contrib commit 127518bb55a9a81d39d56a964040e829bab0c1b9 and core commit fe26adaa07f88324c933a75f1a4dd199c9c8b2d7. The problem exists for me for every commit since those I identified in the description.

[2022-07-08 20:36] srikanthccv commented on #1189
Can you share your pip freeze output?

[2022-07-10 14:15] talboren commented on #1182
Can someone have a look on this one? 🙏🏼

[2022-07-10 17:54] srikanthccv commented on #1182
This looks like a regression introduced in https://github.com/open-telemetry/opentelemetry-python-contrib/pull/1106 but I wonder how tests are passing?

[2022-07-11 08:13] mariojonke opened #1190 "HTTP instrumentations 0.32b0 compatibility issue with opentelemetry-api 1.11.1"
The latest release added the `_SUPPRESS_HTTP_INSTRUMENTATION_KEY` to the `opentelemetry.context` module in the `opentelemetry-api`.
Instrumentations `botocore`, `requests`, `urllib`, and `urllib3` are importing this key in their latest version. These packages however claim to be compatible with `opentelemetry-api ~= 1.3`

Since the latest `opentelemetry-api` (1.12.rc2) is only available as release

[2022-07-12 01:37] dbgoytia commented on #1148
Hi @srikanthccv ! I do have a couple of questions regarding this problem. I hope they aren't too obvious. I'm taking as reference MR:[1110](https://github.com/open-telemetry/opentelemetry-python-contrib/pull/1110/files) on the requests library to get some guidance.

---

1. How do I know which metrics are provided by the Meter Provider?

On the example on the requests library, I see we're testing

[2022-07-12 01:46] srikanthccv commented on #1148
1. Yes, the db semantic conventions has set of recommended attributes. We need to include as many as possible.
2. Did you mean the library we are instrumenting? Yes, we need to find a way to derive the information from the redis library by monkeypatching or wrapping it similar to how we do it for tracing.
3. The `TestBase` class instantiates the provider which all instrumentation can use. No speci

[2022-07-12 06:33] TheAnshul756 commented on #1157
@srikanthccv Assign this to me.

[2022-07-12 07:20] TheAnshul756 commented on #1160
@mmalecki If you have not yet started working on it or if you are stuck, I would like to pick this issue. Also this issue is a blocker for #1156 assigned to me.
c.c.: @srikanthccv

[2022-07-12 16:30] mmalecki commented on #1160
Please do @TheAnshul756. I got stuck, sadly.

[2022-07-12 18:02] cartermp opened #1192 "`metrics_exporter none` is required when using `opentelemetry-instrument` without metrics"
This was noted in a PR here: https://github.com/open-telemetry/opentelemetry.io/pull/1545

I'm happy to approve the docs PR in the interim, but without the changes it proposes there will be a runtime error thrown when using `opentelemetry-instrument` as-documented. I think it's kind of surprising - if I'm not using metrics, I wouldn't expect to have to set `metrics_exporter none` to avoid an error

[2022-07-12 23:30] dbgoytia commented on #1148
Got it @srikanthccv, another question, in the spec, there's this line:

[code]

what is that state attribute and where does that come from?

[2022-07-13 00:30] dbgoytia commented on #1148
Thanks a lot for taking the time @srikanthccv, I have an idea but let me know if this is heading the correct direction:

I'm thinking for the first value that's required in the semconv for DB "db.client.connections.usage" to wrap a  "CLIENT LIST" query to Redis, since we can't infer the rest of the data directly from simply doing a get or set operation, as opposed to the requests.get() for example

[2022-07-13 02:22] srikanthccv commented on #1148
Does it include all client connections or just this client? Even if it's just the client at hand, I don't think we should make a call to server and parse the data. I haven't really looked at the redis library but from the quick search there is definitely some information we can get from connection pool class https://redis-py.readthedocs.io/en/stable/connections.html#connectionpool. You might want

[2022-07-13 02:26] srikanthccv commented on #1192
I think I know the issue here. We have released the fix with exporter entry point with default to grpc in rc2 but the pip doesn't install release candidate unless you explicitly pin it to rc. So the users still run with 1.11.1 which had the issue.

[2022-07-13 03:25] dbgoytia commented on #1148
Oh awesome ! That's great. Thanks again for taking the time :). I'll review this docs and come back with more questions.

[2022-07-13 10:47] freudenberg commented on #1085
The error happens since version 1.3.0. `aiopg.utils._PoolContextManager` has been reomved in https://github.com/aio-libs/aiopg/commit/187d13a06581054e1f910961b8238837e7c8bd0b.

[2022-07-13 14:18] ocelotl commented on #1182
@talboren I am having trouble reproducing this, please provide the output of `pip freeze` for a virtual environment where this happens and code that when run throws this exception.

[2022-07-13 14:22] ocelotl commented on #1190
This should be solved once we release metrics as stable instead of as a RC.

[2022-07-13 17:02] dbgoytia commented on #1148
By the way @srikanthccv, forgot to mention but the client_list will include all the connections made from a given connection pool, for example:

[code]

I think this one is more accurate though:
[code]

[2022-07-13 17:26] ocelotl commented on #1192
@cartermp please try installing the latest RC2 and running again.

[2022-07-13 17:43] dbgoytia commented on #1148
So summarizing, for the **ConnectionPool class** we can get the following attributes:

[code]

And for each of those **Connections** we can get the following attributes:
[code]

I believe this way we can get the first value **db.client.connections.usage**, but not sure if we can get the **db.client.connections.usage.state** 🤔.

[2022-07-14 19:35] alec-deason commented on #1182
I'm seeing what appears to be the same exception on python 3.10.5 and this `pip freeze`:

aiofiles==0.7.0
alembic==1.7.5
anyio==3.6.1
asgiref==3.5.2
astroid==2.5.6
attrs==21.4.0
black==22.3.0
certifi==2022.6.15
cfgv==3.3.1
chardet==4.0.0
click==8.1.3
debugpy==1.5.1
Deprecated==1.2.13
distlib==0.3.4
expiringdict==1.1.4
fastapi==0.78.0
filelock==3.7.1
greenlet==1.1.2
gunicorn==20.1.0
h11==0.12.0
htt

[2022-07-14 23:08] srikanthccv commented on #1148
@dbgoytia let's aim for what can be achieved with the present information. We do not have provide all the attributes mentioned in sem conv except the required attributes.

[2022-07-15 16:59] ocelotl commented on #444
Please don't use the eachdist script, we even [removed](https://github.com/open-telemetry/opentelemetry-python/pull/2782) it from our documentation. Just use `tox`.

[2022-07-15 20:19] dbgoytia commented on #1148
Hey @srikanthccv I'd like to ask a question, I'm currently still reviewing the library, and I'm doing a bit of testing, so this might not be the full picture just yet.

Do you think it's a good idea to create a connection inside the [_traced_execute_command wrapper](https://github.com/open-telemetry/opentelemetry-python-contrib/blob/main/instrumentation/opentelemetry-instrumentation-redis/src/open

[2022-07-15 23:28] alec-deason commented on #1182
I solved this by moving forward to 1.12.0rc2 for the various opentelemetry packages. Everything seems to work fine with that version.

[2022-07-16 12:59] engelnico commented on #1182
Thank you so much, that seems to have fixed the problem momentarily. Still very unfortunate that this happened

[2022-07-16 19:10] dbgoytia commented on #1148
Hey @srikanthccv, I'd like to get an early review on the feature to see if I'm heading the right direction: https://github.com/open-telemetry/opentelemetry-python-contrib/pull/1194

I do have a coulpe of questions around it though:

* I feel that I'm not using the UpDownCounter correctly.
* I'm not sure what name should I give the span.
* I'm not sure I'm setting the metric_labels/attributes corre

[2022-07-17 15:39] #1133 closed

[2022-07-17 17:51] talboren commented on #1182
@ocelotl doesn't make sense to me that a release candidate is the solution - shouldn't it be solved somehow?

[2022-07-17 18:02] alec-deason commented on #1182
If I'm understanding what's going on correctly it is actually a versioning problem.  opentelemetry-instrumentation-fastapi==0.32b0 assumes that Getter is generic but in  opentelemetry-sdk==1.11.1 it actually isn't yet, that doesn't get added until 1.12. So maybe there's actually a problem with version bounds somewhere that lead us both to have that broken combination installed.

[2022-07-18 13:48] Heatstealer opened #1195 ""Invalid type Exchange for attribute value. Expected one of `bool, str, bytes, int, float` or a sequence of those types" warning when Celery task runs another celery task"
Celery custom configuration:
[code]
**Steps to reproduce**
Run celery task from another celery task.
[code]
**What is the actual behavior?**
[code]

[2022-07-18 17:40] ocelotl commented on #1195
How is this related to this repo? Did you run this using manual or automatic instrumentation?

[2022-07-19 09:21] Heatstealer commented on #1195
Celery instrumentation run manually according the docs (https://opentelemetry-python-contrib.readthedocs.io/en/latest/instrumentation/celery/celery.html):
[code]
Thsi issue related with `opentelemetry-instrumentation-celery` and Pull Request are suggesting to fix the warnings spam.

[2022-07-19 13:03] dbgoytia commented on #1171
Hi @petertamuk ! I'm currently still working on it but happy to coauthor the solution if you would like 😊

[2022-07-19 19:57] petertamuk commented on #1171
@dbgoytia Appreciate it. @codeboten I believe I have a handle on the issue and a good idea around the fix. Just wanted to confer on the new metric names.

system.disk.io -> (system.disk.read_io, system.disk.write_io)
system.disk.operations -> (system.disk.read_operations, system.disk.write_operations)
system.disk.time -> (system.disk.read_time, system.disk.write_time)
system.network.dropped.packet

[2022-07-19 22:50] codeboten commented on #1171
please look at the specification for the metric names: https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/metrics/semantic_conventions/system-metrics.md#systemdisk---disk-controller-metrics

[2022-07-20 10:57] rahulhacker commented on #1154
@srikanthccv Can I take this ??

[2022-07-20 15:28] lcmartinezdev commented on #561
Sorry for that, is there any ETA on this?

[2022-07-20 17:42] lzchen commented on #561
@lcmartinezdev
There isn't anyone currently working on this. Feel free to open up a pr on this :)

[2022-07-21 22:12] dacevedo12 commented on #553
Would be great to also include aioboto3/aiobotocore for asyncio codebases

[2022-07-22 02:00] alec-deason opened #1201 "HTTPXClientInstrumentor mixes async and non async hooks"
**Describe your environment**
Python 3.10.3
opentelemetry-api==1.12.0rc2
opentelemetry-sdk==1.12.0rc2
opentelemetry-instrumentation-httpx==0.32b0

**Steps to reproduce**
Run this example:
[code]

**What is the expected behavior?**
After instrumentation it should be possible to successfully use httpx in both sync and async contexts.

**What is the actual behavior?**
If a non-async hook is provided

[2022-07-22 02:01] alec-deason commented on #1201
I'm willing to write up a PR with either of the suggestions in "Additional context" or some other option if someone closer to the project wants to weigh in on what the preferred approach would be.

[2022-07-22 02:56] srikanthccv commented on #1201
+1 to formal suggestion.

[2022-07-22 07:13] srikanthccv commented on #1154
@rahulhacker we don't want to make requests to database server and get the data. The client instrumentation should only work with what client library provides.

[2022-07-25 11:45] Oberon00 opened #1202 "boto3sqs: Do not override propagator-determined key"
The boto3sqs instrumentation prepends "otel." to all attributes it adds to SQS messages (relevant code: https://github.com/open-telemetry/opentelemetry-python-contrib/blob/7c75b3867bb81d59037e7a3f5ab5c3dfe1bb5733/instrumentation/opentelemetry-instrumentation-boto3sqs/src/opentelemetry/instrumentation/boto3sqs/__init__.py#L56-L82). This will make it impossible to write a propagator that works with

[2022-07-26 03:14] adriangb commented on #635
This is per design I think: there are spans for each time data is received and sent (i.e. things are going over the wire). I think this is important because it would let you detect if for example the issue is a slow client.

[2022-07-26 12:24] rahuldimri commented on #1051
@owais can I work on this ? Please assign this to me.

[2022-07-26 15:46] petertamuk commented on #1171
@codeboten  Thanks for pointing that out. Just wanted to clarify on the spec.

I dont see system.disk.time however system.disk.operation_time (deprecated) is present. Should these be treated as the same?

Additionally i dont see the metric system.disk.merged (deprecated) and spec is looking for system.disk.merged.read, system.disk.merged.write.

Any suggestions would be appreciated. Thanks

[2022-07-26 18:55] codeboten commented on #1171
It looks like there's a typo in the method below which is looking at the configuration for `system.disk.time` when it should probably look at the configuration for system.disk.merged:

https://github.com/open-telemetry/opentelemetry-python-contrib/blob/7c75b3867bb81d59037e7a3f5ab5c3dfe1bb5733/instrumentation/opentelemetry-instrumentation-system-metrics/src/opentelemetry/instrumentation/system_metr

[2022-07-27 02:38] rahuldimri commented on #1051
Thanks for assigning this to me. I am new to OpenSource community. If you can help me initially that would be great.
Just wanted to know do you have any template for updating the document ?.

[2022-07-27 06:23] rahulhacker commented on #1154
@srikanthccv @dazuma @elskwid @dmathieu
Still not able to get the clear picture, what to do ? Someone can provide some good reference to start...

[2022-07-27 09:25] jiewpeng opened #1205 "[instrumentation-elasticsearch] Add instrumentation of AsyncTransport"
If we use the `AsyncElasticsearch` class instead of `Elasticsearch`, it is not automatically instrumented.

Unless I'm missing something, we should be able to just add

[code]

to the following:

[code]

[2022-07-27 19:50] dazuma commented on #1154
@rahulhacker Please don't tag random people. I'm not a python developer and know next to nothing about this repository.

[2022-07-28 07:44] craigjbass commented on #901
[code]

I don't think poetry understands versions that aren't semver compliant, so the `b0` and `rc2` suffixes are causing issues

[2022-07-28 07:48] craigjbass commented on #901
I was able to successfully install with poetry with this command

[code]

[2022-07-28 11:23] lytao123 commented on #1122
I use Tornado  v6.1, not use Flask

[2022-07-28 13:50] rahulhacker commented on #1154
@srikanthccv  Can u guide me for further??

[2022-07-29 08:20] mariojonke opened #1207 "instrumentation-aiohttp-client: Number of created spans per request increases by 1 with every new request"
Latest release 0.32b0 introduced a bug where an additional span is created every time a new aiohttp ClientSession is created. This leads to 1 span per request when the first session is created, 2 spans when the second session gets created, ... and so on.

When `AioHttpClientInstrumentor.instrument()` the instrumentor intercepts the `ClientSession.__init__` call and injects a TraceConfig instance i

[2022-07-29 09:53] bilbof commented on #385
I've experienced this issue, and this should probably be re-opened as it should be possible to autoinstrument uvicorn applications.

I can confirm that the post fork for uvicorn fixes the issue, but does require app code changes. I did this with a middleware

[code]

The fix I actually went with was to move from `uvicorn app:app --workers 4` to `gunicorn app:app -w 4 -k uvicorn.workers.UvicornWork

[2022-07-29 18:52] lzchen commented on #1051
You can make your doc addition to the [docstrings](https://github.com/open-telemetry/opentelemetry-python-contrib/blob/main/instrumentation/opentelemetry-instrumentation-django/src/opentelemetry/instrumentation/django/__init__.py#L16) of the django instrumentation. Your docs will be reflected in readthedocs if you do this. Follow the structuring and wording of the other types of configuration, I w

[2022-07-29 20:47] sgomez commented on #1085
Maybe that logic was moved to this other file?

https://github.com/aio-libs/aiopg/blob/master/aiopg/pool.py#L58

[2022-07-30 07:32] srikanthccv commented on #385
Please try running with latest rc2 version and let us know if it changes anything.

[2022-07-30 08:25] lytao123 commented on #1122
My problem is solved.

add
`TornadoInstrumentor().instrument()`

[2022-07-31 14:50] bilbof commented on #385
@srikanthccv sure, here's a POC using rc2 which demonstrates the problem: https://github.com/bilbof/fastapi-opentel-demo/tree/main/demos/autoinstrument

[code]

[2022-07-31 17:56] bilbof commented on #385
The problem is caused by Uvicorn using [multiprocessing.spawn] rather than multiprocessing.fork (which [uses os.fork]), so the [OTel post fork hook](https://github.com/open-telemetry/opentelemetry-python/blob/c9222bfc18ec91f041c2f0a9eac8560f61dcb338/opentelemetry-sdk/src/opentelemetry/sdk/trace/export/__init__.py#L207) isn't running.

It'd be great if we could fix this here rather than at uvicorn,

[2022-08-01 06:27] mariojonke commented on #1207
Thinking about it some more i don't quite see the purpose of the newly added `trace_configs` parameter in `AioHttpClientInstrumentor.instrument()`.
A `TraceConfig` is the mechanism that aiohttp provides to trace requests by registering callbacks for all kind of events (start, end, exception, ...). This is what the instrumentor already uses to create and end spans accordingly. From an OpenTelemetry

[2022-08-01 07:04] ashu658 commented on #1149
I am a bit busy these days. Does someone wants to take up this issue?

[2022-08-01 07:07] TheAnshul756 commented on #1149
Hello @ashu658
I'm willing to work on this issue. Can you please assign this to me?

[2022-08-01 07:08] ashu658 commented on #1149
Thanks @TheAnshul756
Assigned!

[2022-08-01 15:32] phillipuniverse opened #1210 "AsgiSetter should override header values instead of appending"
**Describe your environment**

Using FastAPI 0.79 and relying on the `AsgiSetter`. The `AsgiSetter` has a surprising result to always append values instead of overriding previous keys.

https://github.com/open-telemetry/opentelemetry-python-contrib/blob/fbac4245159e51877efa86581724995bd1415a18/instrumentation/opentelemetry-instrumentation-asgi/src/opentelemetry/instrumentation/asgi/__init__.py#L21

[2022-08-03 06:25] Sunilwali679 commented on #893
@lzchen I am seeing the manifest file is missing in the below directory and it should be more . is this required to add the files in the below folder are not

https://github.com/open-telemetry/opentelemetry-python-contrib/tree/main/instrumentation/opentelemetry-instrumentation-confluent-kafka
https://github.com/open-telemetry/opentelemetry-python-contrib/tree/main/instrumentation/opentelemetry-ins

[2022-08-03 06:29] Sunilwali679 commented on #893
@lzchen  License file is missing in https://github.com/open-telemetry/opentelemetry-python-contrib/tree/main/instrumentation/opentelemetry-instrumentation-redis

[2022-08-03 14:35] Sunilwali679 commented on #893
can i work on this ??

[2022-08-03 14:55] nemoshlag commented on #1151
Hi, @srikanthccv can you assign it to me? thanks

[2022-08-04 01:50] lytao123 commented on #1122
code add:
[code]

[2022-08-04 08:12] avzis commented on #373
@lzchen @ymotongpoo
I'm looking for a good first issue, is this still relevant?

[2022-08-04 08:41] ymotongpoo commented on #373
@avzis Yes, I think so. I'm working on Go version in https://github.com/open-telemetry/opentelemetry-go-contrib/pull/2572, and you can port it to Python.

[2022-08-04 18:18] alexandraBara opened #1213 "opentelemetry-autoinstrumentation causes pymsql connection erros"
**Describe your environment** Describe any aspect of your environment relevant to the problem, including your Python version, [platform](https://docs.python.org/3/library/platform.html), version numbers of installed dependencies, information about your cloud hosting provider, etc. If you're reporting a problem with a specific version of a library in this repo, please check whether the problem has

[2022-08-05 07:47] #1155 closed

[2022-08-05 07:51] rahulhacker commented on #1154
@srikanthccv : Please help on the below:
Steps taken to do setup for the MYSql Instrumentation:
1)We have downloaded and uploaded to our servers and trying to run the test cases.
2)But we are facing error while doing so:
                /apps/opentelemetry-python-contrib-main/opentelemetry-python-contrib-main/instrumentation/opentelemetry-
                **instrumentation-mysql/tests$ python3 tes

[2022-08-05 08:05] srikanthccv commented on #1154
@rahulhacker I am not sure what you are trying to do. Please follow this guide for developing locally https://github.com/open-telemetry/opentelemetry-python-contrib/blob/main/CONTRIBUTING.md

[2022-08-05 19:41] petertamuk commented on #1171
I submitted a PR with my changes. Hopefully the way I went about it is inline with what you thinking. Please let me know if there is anything I could have done better. Happy to make updates if needed.

[2022-08-07 06:10] truekonrads opened #1217 "opentelemetry.instrumentation.wsgi is does not support metrics"
**Describe your environment**
Python 3.9.13
[code]

**What is the expected behavior?**
WSGI module works

**What is the actual behavior?**
Errors out

**Additional context**
This is related to https://github.com/open-telemetry/opentelemetry-python/pull/1887 and https://stackoverflow.com/questions/59955751/abcmeta-object-is-not-subscriptable-when-trying-to-annotate-a-hash-variable

[2022-08-07 06:31] srikanthccv commented on #1217
You need to install `opentelemetry-api==1.12.0rc2`

[2022-08-07 08:21] truekonrads commented on #1217
Hello. I can confirm that installing

I can confirm that this works. Is it worth bumping up the dependency on wsgi to >=1.12.0rc2 and also opentelemetry-api=1.12.0rc2 needs opentelemetry-sdk of same or greater version

[2022-08-07 16:10] srikanthccv commented on #1217
Yes, the dependency version needs to reviewed.

[2022-08-08 10:18] shalevr commented on #1145
Can you assign this issue to me?

[2022-08-08 10:20] zqumei0 commented on #539
Hi, can you assign this issue to me? Thanks in advance!

[2022-08-08 10:37] opichals opened #1218 "Some instrumentation are tagged as a `pre-release` which poses as barrier of entry"
**Describe your environment**

python 3.9
pipenv

**Steps to reproduce**

When trying to use some of the instrumentation packages (e.g. opentelemetry-instrumentation-psycopg2) only a [pre-release](https://peps.python.org/pep-0440/#pre-releases) tagged versions are published. This imposes an entry barrier to any pipenv using project because pipenv doesn't allow for per-package pre-release versions

[2022-08-08 12:12] rahuldimri opened #1219 "LICENCE file missing from the opentelemetry-instrumentation-aio-pika"
LICENCE file missing from the below location:

[opentelemetry-instrumentation-aio-pika](https://github.com/open-telemetry/opentelemetry-python-contrib/tree/main/instrumentation/opentelemetry-instrumentation-aio-pika)

[2022-08-08 12:19] rahuldimri opened #1221 "MANIFEST file missing form the opentelemetry-instrumentation-aio-pika/"
Manifest file missing from the location:

[opentelemetry-python-contrib](https://github.com/open-telemetry/opentelemetry-python-contrib)/[instrumentation](https://github.com/open-telemetry/opentelemetry-python-contrib/tree/main/instrumentation)/opentelemetry-instrumentation-aio-pika/

[2022-08-08 12:36] srikanthccv commented on #1219
Duplicate of https://github.com/open-telemetry/opentelemetry-python-contrib/issues/893

[2022-08-08 12:36] #1219 closed

[2022-08-08 12:37] srikanthccv commented on #1221
Duplicate of https://github.com/open-telemetry/opentelemetry-python-contrib/issues/893

[2022-08-08 12:37] #1221 closed

[2022-08-08 12:50] srikanthccv commented on #539
Feel free to ask questions here or on Slack channel/DM if you need any help.

[2022-08-08 17:57] #1160 closed

[2022-08-09 05:49] #1144 closed

[2022-08-09 17:04] petertamuk commented on #1171
@codeboten I should have address all the workflow issues identified in the original PR. Could you please run the workflow so I can check that everything is passing now? Thanks

[2022-08-09 17:43] lzchen commented on #373
@avzis
I'll assign this to you.

[2022-08-09 17:54] lzchen commented on #1218
Instrumentation packages will most likely never be not pre-release until the OpenTelemetry [semantic conventions](https://github.com/open-telemetry/opentelemetry-specification/tree/main/specification/trace/semantic_conventions) have reached a stable state.

[2022-08-11 14:19] srikanthccv commented on #1217
@truekonrads we have released `1.12.0` for core components so pip should find that compatible version unless explicitly pinned to specific version. And the `0.33b0` requires the minimum version of `1.12` so this won't be in that version. I am going to close this issue.

[2022-08-11 14:19] #1217 closed

[2022-08-11 21:37] jeremydvoss opened #1225 "Allow custom loggers in auto-instrumentation"
Before opening a feature request against this repo, consider whether the feature should/could be implemented in the [other OpenTelemetry client libraries](https://github.com/open-telemetry/). If so, please [open an issue on opentelemetry-specification](https://github.com/open-telemetry/opentelemetry-specification/issues/new) first.

**Is your feature request related to a problem?**
Yes. In order t

[2022-08-12 14:42] srikanthccv commented on #1225
All logger instance created by OpenTelemetry uses `__name__` for the name.

https://docs.python.org/3/library/logging.html#logging.getLogger

https://docs.python.org/3/library/logging.html#logging.Logger.propagate

You can get the logger instance created by the module you are interested in collecting and customizing to different n/w or file destinations. In your distro case, you should be able to

[2022-08-12 14:54] srikanthccv commented on #1225
Our logging SDK works by leveraging this federated system of loggers. We attach the OpenTelemetry logging handler to root logger which receives all the logs within application and sends them to the OTLP Collector destination.

https://github.com/open-telemetry/opentelemetry-python/blob/main/docs/examples/logs/example.py#L40

[2022-08-12 15:07] n0nvme commented on #1207
Same problem with 0.33b0 release

[2022-08-12 16:17] srikanthccv commented on #1207
@mariojonke if the last change is not necessary feel free to send a pull request with fix.

[2022-08-12 17:53] jeremydvoss commented on #1225
Isn't it dangerous for us to use __name__? Wouldn't that mean that whenever the client calls getLogger(__name__) that they would be either overwriting our logger settings or be unable to customize their logger since we already created it?

Are you saying that we should make a logger under a name like "opentelemetry.azure"? And that way the message will be passed up to the OT logger as well?

My un

[2022-08-12 18:10] srikanthccv commented on #1225
What's the dangerous thing about it? What _client_ are you referring here? How is `getLogger` related to overwriting config or customizing it? I am suggesting you use the logger instances already created by module.

No, this is not related to azure. I am saying if there is logger instance with name `opentelemtry` all the logs messages by instrumentation, api, sdk, exporter will propagate up and on

[2022-08-12 21:56] jeremydvoss commented on #1225
I understand that. Azure is an example of a group that would want to inject their own custom logger. So, I thought you were saying that we should create our own logger as a child of a "opentelemetry" logger. I can explain more and show a proof of concept at the next meeting. That might clear up some confusion.

[2022-08-15 11:05] ocelotl commented on #901
@craigjbass, thanks for reporting back, I'll close this issue now. Please reopen if needed.

[2022-08-15 11:05] #901 closed

[2022-08-15 18:45] jeremydvoss commented on #1225
Okay. We can edit the properties of the `opentelemetry` level logger. But it can't just be in the distro class. We specifically need the logging statements in sitecustomize. That means it has to be loaded before the distro is loaded. So, I think we will still need a separate entry point for the logger.

[2022-08-15 19:46] srikanthccv commented on #1225
I am not following the specific sitecustomize module customization. The auto instrumentation touches several components from SDK, Exporters, Instrumentations and more. It is equally important to collect the logs from them as well for a meaningful diagnostics. For instance it's important to see if certain library isn't emitting telemetry because of version [conflict](https://github.com/open-telemet

[2022-08-15 21:32] jeremydvoss commented on #1225
Because we also need the log statements from the `sitecustomize.py` and we need information even when the distro fails. For instance, if there is another distro, that is loaded instead (only 1 distro can be loaded). So, it would be very valueble to have handler we add to the `opentelemetry` logger loaded before everything else in `sitecustomize.py`

[2022-08-16 10:33] TheAnshul756 commented on #1159
Hello @sanketmehta28
If you are stuck or have not started working on it yet, can you please assign this to me?
CC @srikanthccv

[2022-08-17 05:37] ymotongpoo commented on #373
So, is @avzis working on this now? Because https://github.com/open-telemetry/opentelemetry-go-contrib/pull/2572 is merged, now I can port it to Python now if necessary.

[2022-08-18 22:36] lzchen commented on #373
@avzis
Are you currently working on this? I can assign it to @ymotongpoo if not.

[2022-08-19 02:06] camerondavison opened #1235 "urllib3 does not work with boto3"
I put the stack trace, my poetry file, and an example python script. but after instrumenting urllib3 boto3 does not work.

https://gist.github.com/camerondavison/010b2cad69dd4bf307a77fa1f0b2549e

It looks like
[code]
we just need to look at the body and call a different method for length if it is a BytesIO

[2022-08-19 02:13] camerondavison commented on #1235
It seems like it works if i add botocore instrumentation, which I imagine is because it suppresses instrumentation after the top level boto call

[2022-08-19 06:49] rahuldimri commented on #1205
Can I work on this request ?

[2022-08-20 14:43] Yamakaky commented on #1189
I have the same issue. I tried to set `OTEL_EXPORTER_OTLP_PROTOCOL=http/protobuf` but this env var doesn't seem to be used in the sdk?

[2022-08-21 13:52] galbash opened #1236 "Adding spellcheck to the CI"
Similar to https://github.com/open-telemetry/opentelemetry-python/pull/2878, for the contrib repo

**Is your feature request related to a problem?**
Yes, would like to ensure spellcheck for the repo

**Describe the solution you'd like**
I would like `codespell` to run as part of the CI

**Describe alternatives you've considered**
None, based it off the fact that the opentelemetry-python repo alrea

[2022-08-22 06:56] Sunilwali679 commented on #893
can u please add as a contributor or co-author to this issue . We are from same community and working on this issue together .

"login": "rahuldimri",
"id": 107100022,

"login": "rahulhacker",
"id": 20458598,

[2022-08-22 07:17] rahulhacker commented on #1154
@srikanthccv:
https://github.com/open-telemetry/opentelemetry-python-contrib/blob/main/instrumentation/opentelemetry-instrumentation-mysql/src/opentelemetry/instrumentation/mysql/__init__.py

we are done setup to run python-contrib to run locally .
as per ur comments we are using below MySQLInstrumentor to connect a mysql db .

class MySQLInstrumentor(BaseInstrumentor):
    _CONNECTION_ATTRIBUTES

[2022-08-22 09:27] melvinkcx commented on #1202
Hi, I stumbled upon this while looking into the right way of "propagating" context across queues and other asynchronous means. It doesn't seem like the spec [here](https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/context/api-propagators.md) covers such use cases. It is apparent that we already have a divergence in handling such propagation.

Just a suggestion,

[2022-08-22 09:32] Oberon00 commented on #1202
This instrumentation is the first I have seen that came up with modifying the key names determined by the propagator. There is discussion on context propagation for messaging in general at https://github.com/open-telemetry/oteps/pull/192, but it doesn't cover the particular details about how to transport the context either. You could add a comment there.

[2022-08-22 09:52] oxeye-nikolay commented on #1202
Hey, I apologize it took me a while to get to it.
I am very happy this is being brought up. It is an issue I was discussing a lot and honestly, no one has brought up the [TextMapPropagator.fields](https://github.com/open-telemetry/opentelemetry-python/blob/v1.11.1/opentelemetry-api/src/opentelemetry/propagators/textmap.py#L185-L196) solution. It still doesn't handle the `AWS/Amazon` prefix issue,

[2022-08-22 13:54] siddhikhapare commented on #1150
@srikanthccv  I want to work on this issue.  I have gone through document of monitoring with python using open telemetry.
https://opentelemetry-python-yusuket.readthedocs.io/en/latest/getting-started.html
I have implemented small sample flask app but metrics was not generated as per endpoints. I guess problem in connecting files of Prometheus and application files.  Can you guide me on this otherw

[2022-08-22 16:55] lzchen commented on #893
@Sunilwali679
I believe those users have to comment on this issue for me to assign them as well.

[2022-08-22 16:58] lzchen commented on #1189
@Yamakaky
Is this issue even related? Are you having the same problem as https://github.com/open-telemetry/opentelemetry-python/issues/2586

[2022-08-22 17:12] lzchen commented on #1150
@siddhikhapare
FYI our getting started has moved to [here](https://opentelemetry.io/docs/instrumentation/python/getting-started/).

What is it you are trying to do specifically? Could you paste a snippet of your code?

[2022-08-22 22:33] Yamakaky commented on #1189
I have the same initial problem, and additionally the env variable doesn't work.

[2022-08-23 06:08] rahulhacker commented on #1154
@srikanthccv Waiting for ur guidance, can u please help me on the above??

[2022-08-23 06:45] rahuldimri commented on #893
As we are working with Sunil on this issue. Please assign this to me.

[2022-08-23 06:48] rahulhacker commented on #893
@lzchen : I am working with @Sunilwali679  on this issue, please assign this to me also

[2022-08-23 07:30] #1202 closed

[2022-08-23 07:41] srikanthccv commented on #893
I think this is a trivial issue that doesn't require any actual code changes. I am not sure what three of you going to do here. Please just someone take this up and create one PR.

[2022-08-23 08:55] avzis commented on #373
hi, yes

[2022-08-23 10:47] cookiefission commented on #1099
We'll need this support before we can adopt opentelemetry so I'm going to try and tackle this one.

[2022-08-23 18:12] lzchen commented on #1189
@jeremydvoss
What was the resolution of the above issue? Could you provide some guidance?

[2022-08-23 18:37] siddhikhapare commented on #1150
@lzchen @ocelotl @srikanthccv I am beginner to use monitoring metrics with Prometheus using open telemetry. I have  implemented flask app with Prometheus. This is my sample example - https://github.com/siddhikhapare/opentelemetry-flask-sample
Can you give me few pointers? Thank you.

[2022-08-24 01:05] ymotongpoo opened #1239 "Typos in gRPC instrumentation example codes"
**Describe your environment**

* Platform: any
* Python version: any
* Library version: main HEAD as of Aug 24th

**Steps to reproduce**
See [documents for gRPC instrumentation](https://opentelemetry-python-contrib.readthedocs.io/en/latest/instrumentation/grpc/grpc.html)

**What is the expected behavior?**
For client instrumentation example, I would see either of the followings:

1. `GrpcInstrumen

[2022-08-24 05:23] #1239 closed

[2022-08-24 08:31] avzis commented on #373
i mean "yes i'm working on it", sorry for not being clear

[2022-08-24 09:33] ymotongpoo commented on #373
oh, I have implemented mostly in #1241 but for unit tests.

[2022-08-24 10:41] avzis commented on #373
ok, so you finish it..
ill take another issue
good luck :)

[2022-08-24 16:57] amitsetty opened #1243 "High cardinality in pymongo getMore"
Due to the way getMore works in pymongo currently the span name for the getMore command leads to a unique span name with a unique Id per each request.
This leads to very high cardinality on spanmetrics

To reproduce use getMore in pymongo on an instrumented application

One solution is to get rid of the id for getMore commands

[2022-08-24 19:17] #1043 closed

[2022-08-25 06:50] Sunilwali679 commented on #1154
@srikanthccv  We are new to OTEL community . Could you confirm are we in right path ? waiting for your guidelines

we are done setup to run python-contrib to run locally .

As per your comments We are using below MySQLInstrumentor to connect a mysql db .

class MySQLInstrumentor(BaseInstrumentor):
_CONNECTION_ATTRIBUTES = {
"database": "database",
"port": "server_port",
"host": "server_host",
"use

[2022-08-25 06:57] srikanthccv commented on #1154
@rahulhacker I mentioned it above here https://github.com/open-telemetry/opentelemetry-python-contrib/issues/1154#issuecomment-1192259771. You shouldn't make additional requests to database. This is a client library instrumentation and it should only provide this client measurements. The DB server metrics are collected using receiver provided here https://github.com/open-telemetry/opentelemetry-co

[2022-08-25 07:09] #893 closed

[2022-08-25 07:36] Sunilwali679 commented on #648
Can i work on this ?

[2022-08-25 07:46] rahulhacker commented on #1154
@srikanthccv Thanks a lot for providing the info, but the reason for choosing this issue and it mentioned in the **label** as "**good for new comers**", but anyhow i will try to see if still can able to work.. an raise PR for the same :)

[2022-08-25 13:23] ocelotl commented on #648
sure :+1:

[2022-08-25 18:52] ocelotl commented on #1185
@whardier just to let you know, we just removed support for 3.6

[2022-08-26 18:22] dacevedo12 commented on #553
Inspired by the sync boto instrumentation I came up with this

[code]

may be useful in the meantime. be aware that _SUPPRESS_HTTP_INSTRUMENTATION_KEY does nothing as it's not currently supported by the aiohttp instrumentation

[2022-08-26 19:39] lzchen commented on #553
@dacevedo12
Feel free to open up a PR :)

[2022-08-27 07:33] #1207 closed

[2022-08-28 05:55] droppedbars opened #1248 "Conflicting dependencies running scripts/eachdist.py develop"
**Describe your environment**
FWIW, on Mint 20.2 using Python 3.8.10

**Steps to reproduce**
Brand new clone and attempt to install the dependencies:
git clone https://github.com/open-telemetry/opentelemetry-python-contrib.git
cd ./opentelementry-python-contrib
python3 -m venv .venv
source ./.venv/bin/activate
python3 -m pip install --upgrade pip
python3 scripts/eachdist.py develop

**What is the

[2022-08-28 06:05] droppedbars commented on #1248
Updated opentelemetry-python-contrib/exporter/opentelemetry-exporter-datadog/setup.cfg:
45:     opentelemetry-semantic-conventions == 0.33b0

allowed the script to run, but then running python3 scripts/eachdist.py test failed with:
ImportError: cannot import name 'escape' from 'jinja2'

[2022-08-28 06:12] droppedbars commented on #1248
Updated instrumentation/opentelemetry-instrumentation-flask/src/opentelemetry/instrumentation/flask/package.py
16: _instruments = ("flask >= 2.0, < 3.0",)

now rerunning eachdist.py develop fails with:

ERROR: Cannot install opentelemetry-instrumentation-flask and opentelemetry-instrumentation-pyramid[test]==0.33b0 because these package versions have conflicting dependencies.

The conflict is caus

[2022-08-28 06:15] droppedbars commented on #1248
Updated instrumentation/opentelemetry-instrumentation-pyramid/setup.cfg
51:     werkzeug == 2.0.3

now can run eachdist.py develop, but eachdist.py test fails with:

====================================================================== FAILURES ======================================================================
_____________________________________________ TestSqlalchemyInstrumentation.test_as

[2022-08-28 06:28] droppedbars commented on #1248
While I expect the required change to the datadog exporter was simply an oversight as all others appear to be on 0.33b0, the other two changes I'm less certain of their impacts (though tests generally look ok) since they change the versions of flask and werkzeug.

The last round of errors I haven't looked too deeply at.

If this is all from some mistake on my part, my apologies, this is my first t

[2022-08-28 07:48] rblejter commented on #1158
Can you assign this issue to me?

[2022-08-29 03:19] droppedbars commented on #1248
Next step did the following two changes:
instrumentation/opentelemetry-instrumentation-sqlalchemy/setup.cfg
51: added "aiosqlite" to the test requirements

instrumentation/opentelemetry-instrumentation-httpx/setup.cfg
50: added "respx" to the test requirements

now it seems to have failures in test_elasticsearch.py and appears to freeze at:
instrumentation/opentelemetry-instrumentation-elasticsear

[2022-08-29 04:37] droppedbars commented on #1248
Just saw the first issue was captured here #1083 and it appears I'm beating down a no longer supported path.

[2022-08-29 09:25] ocelotl commented on #1248
@droppedbars yes, please use `tox` :v:

[2022-08-29 09:25] #1248 closed

[2022-08-29 09:38] #1236 closed

[2022-08-30 02:26] chook opened #1251 "[opentelemetry-instrumentation-aws-lambda] No span is automatically created"
Failing to get a lambda span auto generated an awslambdaric docker image.
Seems that metrics are being generated as seen by:
[code]

**Describe your environment**
Final image includes the following relevant packages:

[code]

**Steps to reproduce**
The entry.sh is
`exec /usr/local/bin/opentelemetry-instrument --service_name=chook--log_level=debug --traces_exporter=console --metrics_exporter=consol

[2022-08-31 13:56] ematan552 opened #1254 "Add consume and publish hooks to aio_pika instrumentor"
**Describe the solution you'd like**
The aio_pika instrumentor currently does not receive any parameters. Adding a functionality to decorate the tags sent to the provider can come in handy. This functionality is already implemented in the pika auto instrumentation library with the publish/consume hooks and I think that a similar behavior should be available in aio_pika too.

[2022-09-01 05:33] levivm commented on #1159
Hello @srikanthccv @TheAnshul756  this means that I can't use Opentelemetry Metrics under Celery ? Right now I'm trying to use it but some metrics are getting lost, I assume it's because the normal exporter doesn't work correctly in celery/worker-based projects, right ?

[2022-09-01 06:35] i2xS opened #1255 "Span doubling-tripling in aiohttp-client after multiple aiohttp.ClientSession Initialization"
**Describe your environment**
opentelemetry-instrumentation-aiohttp-client==0.33b0

**Steps to reproduce**
[code]

**What is the expected behavior?**
Trace shoud contain only 2 spans - the one with name=Parent, and one child from actual request

**What is the actual behavior?**
Trace contains 3 spans. This number increases with more initializations of `aiohttp.ClientSession()` after `AioHttpClient

[2022-09-01 07:22] TheAnshul756 opened #1256 "Uninstrument Existing fastapi instances"
Existing instances shouldn't continue to send any telemetry after the `uninstrument`.

_Originally posted by @srikanthccv in https://github.com/open-telemetry/opentelemetry-python-contrib/pull/1199#discussion_r957094027_

`uninstrument` method of `FastAPIInstrumentor` restore the original `fastapi.FastAPI` class, but all the existing objects of the earlier instrumented class do not get uninstrumen

[2022-09-01 07:27] TheAnshul756 commented on #1256
@srikanthccv please assign this to me.

[2022-09-01 08:16] srikanthccv commented on #1159
@levivm I didn't understand your question. This issue is for adding metrics instrumentation for `opentelemetry-instrumentation-celery`. Today it only supports tracing.

[2022-09-01 08:23] srikanthccv commented on #1255
I believe this was fixed in https://github.com/open-telemetry/opentelemetry-python-contrib/pull/1246

[2022-09-01 08:42] i2xS commented on #1255
yeah, thanks. Did'n find that.

[2022-09-01 08:42] #1255 closed

[2022-09-01 16:16] srikanthccv commented on #1192
@cartermp it is quite sometime since this issue opened and we have released the 1.2 with public metrics. This shouldn't be an issue anymore with the latest release. Please feel free to reopen if it is not resolved.

[2022-09-01 16:16] #1192 closed

[2022-09-01 17:10] srikanthccv opened #1259 "Update package metadata for all packages"
Following this https://github.com/open-telemetry/opentelemetry-python/pull/2867, remove setup.py, setup.cfg in favor of pyproject.toml to specify metadata for all packages. This issue can be used as a overall tracking issue. Feel free to open up individual issues per package and link them to this one.

[2022-09-02 03:28] ofek commented on #1259
Progress:

- `_template/setup.cfg` (PR )
- `exporter/opentelemetry-exporter-datadog` (PR https://github.com/open-telemetry/opentelemetry-python-contrib/pull/1261)
- `exporter/opentelemetry-exporter-richconsole` (PR https://github.com/open-telemetry/opentelemetry-python-contrib/pull/1262)
- `instrumentation/opentelemetry-instrumentation-aio-pika` (PR https://github.com/open-telemetry/opentelemetry-

[2022-09-02 05:16] levivm commented on #1159
@srikanthccv  I want to send metrics not span from a celery worker using OpenTelemetry, but it seems some metrics are getting lost, so, I don't know if it is because OpenTelemetry Metrics is not yet supported to be used along celery ? Thanks in advance for you help.

[2022-09-02 05:24] srikanthccv commented on #1159
The celery instrumentation doesn't have metrics instrumentation yet and this is a tracker issue for it.

[2022-09-02 08:26] TheAnshul756 opened #1312 "is_instrumented_by_opentelemetry is not set in _InstrumentedFastAPI class"
**Steps to reproduce**
If `instrument_app` function is called for already instrumented object of `_InstrumentedFastAPI` then it will add Opentelemtery middleware again in the `user_middleware` list as `is_instrumented_by_opentelemetry` is not set in the `__init__` function of `_InstrumentedFastAPI`.

**What is the expected behavior?**
If a fastapi app is already instrumented, i.e., it already has

[2022-09-04 20:09] awuorm commented on #1143
Hi, I'd like to work on this issue

[2022-09-05 22:58] ofek commented on #1259
@srikanthccv @ocelotl Everything is passing except for `py*-test-instrumentation-grpc` which is failing on all new PRs

[2022-09-06 08:14] srikanthccv commented on #1259
Have seen this happen intermittently. I will look into it.

[2022-09-06 11:19] avzis commented on #1158
Hi, can you assign this to me?
Thanks!

[2022-09-06 12:04] srikanthccv commented on #1158
Feel free to ask any questions here or on slack.

[2022-09-06 13:19] rahulmukherjee68 commented on #1152
hey can you assign this to me.

[2022-09-06 22:50] paulorpdlmillicom opened #1316 "Route included in metrics auto-instrumentation ASGI"
There is a way to get the http.route included in autoinstrumented metrics for FastAPI?

Looking the following docs: https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/metrics/semantic_conventions/http-metrics.md#parameterized-attributes

But the implementation of the recommended attributes doesn't include the http.route attribute:

https://github.com/open-telemet

[2022-09-07 09:50] montaropdf opened #1317 "A more elaborated documentation needed for opentelemetry-exporter-richconsole"
**Is your feature request related to a problem?**
No

**Describe the solution you'd like**
The document for this exporter should elaborate on which functionality, from Rich, are available to the developer to customize the output. Examples are also needed to show how to use the package.

**Describe alternatives you've considered**
/

**Additional context**
/

[2022-09-07 14:53] krnr commented on #1170
psycopg instrumentation uses only [the first word of the statement](https://github.com/open-telemetry/opentelemetry-python-contrib/blob/main/instrumentation/opentelemetry-instrumentation-psycopg2/src/opentelemetry/instrumentation/psycopg2/__init__.py#L218-L219). i think i can do the same with asyncpg.

[2022-09-07 17:21] srikanthccv commented on #1259
I think the [generate](https://github.com/open-telemetry/opentelemetry-python-contrib/runs/8156565370?check_suite_focus=true) workflow is failing for the same reason described here https://github.com/open-telemetry/opentelemetry-python/issues/2920

[2022-09-07 17:40] ofek commented on #1259
https://github.com/open-telemetry/opentelemetry-python-contrib/pull/1318

[2022-09-08 07:15] rahulmukherjee68 commented on #1152
hey @srikanthccv I have some doubts related to semantic convention of db i am posting here feel free comment
1. Is `db.client.connections.usage` for  metric tells how many connection are currenlty in state of used or idle which can be set in upDownCounter ?
 - If it is so then i have solution related to it in pymemcache where we can intercept the `pymemcache.pool.ObjectPool` class which contains a

[2022-09-08 08:30] TheAnshul756 commented on #1159
Hello @srikanthccv
I wanted to know what metric semantic convention to follow for task queues like Celery?

[2022-09-08 10:47] alisonatwork opened #1319 "dbapi instrumentation does not work for MySQLdb/mysqlclient"
**Describe your environment**

Running Python 3 on WSL. Latest OpenTelemetry.

[code]

**Steps to reproduce**

For some reason when wrapping the connect function of MySQLdb, the supplied connections come back not connected.

[code]

**What is the expected behavior?**

I would expect to get a usable connection back.

**What is the actual behavior?**

The connection comes back already closed. It's r

[2022-09-08 11:18] srikanthccv commented on #1159
We will do something similar to this https://flower.readthedocs.io/en/latest/prometheus-integration.html#available-metrics. Since this framework is specific to Python projects it won't probably be added to spec but we can provide these metrics using OTEL Metrics API.

[2022-09-08 11:23] srikanthccv commented on #1152
Yes

Yes

Requests that are yet to be assigned with connection from the pool

[2022-09-08 12:04] alisonatwork commented on #1319
Not sure if it's helpful, but I was able to create a workaround for my case by not wrapping the connection and instead just manually creating a `DatabaseApiIntegration` after connect, then manually wrapping the cursors with `get_traced_cursor_proxy` at query time. It's a bunch of extra (messy) code, though. It would be nice if there was a way for the dbapi instrumentation library to cleanly wrap a

[2022-09-08 13:47] ofek commented on #1259
all pass now

[2022-09-08 15:43] srikanthccv commented on #1259
The generate works is still failing https://github.com/open-telemetry/opentelemetry-python-contrib/runs/8234810892?check_suite_focus=true