[2022-09-09 07:44] rahulmukherjee68 commented on #1146
hey @srikanthccv Can you assign this to me .

[2022-09-09 08:01] sanketmehta28 commented on #1146
@rahulmukherjee68 I have assigned it to you

[2022-09-09 16:37] srikanthccv commented on #1259
@ofek this script [file](https://github.com/open-telemetry/opentelemetry-python-contrib/blob/main/scripts/eachdist.py) needs to be updated to use the global config. We can't merge the PR unless that workflow also passes.

[2022-09-09 17:10] srikanthccv commented on #1317
@montaropdf feel free to send a PR.

[2022-09-09 17:18] srikanthccv commented on #1201
@alec-deason send a PR for the fix :)

[2022-09-09 17:20] srikanthccv commented on #1190
@mariojonke the old versions had incompatibility because of the metrics RC version. This shouldn't be a problem with the latest stable release. Please re-open if the issue still exists.

[2022-09-09 17:20] #1190 closed

[2022-09-09 17:23] srikanthccv commented on #1182
There was a problem with version synchronization b/w core and contrib. This shouldn't be a problem with the latest stable release of the core reop. Please upgrade to the latest version. Re-open if the issue still exists.

[2022-09-09 17:23] #1182 closed

[2022-09-09 17:24] srikanthccv commented on #1181
Can you elaborate why taking URL is painful?

[2022-09-09 17:28] srikanthccv commented on #1170
span name shouldn't be a high cardinal value such as a statement. feel free to send a patch.

[2022-09-09 17:31] srikanthccv commented on #1168
@tpadr I couldn't reproduce the issue with pip, can you share which install tool you are using?

[2022-09-09 17:35] srikanthccv commented on #1142
@haarakdy you are using the old exporter that's no longer supported/maintained. please track the progress here https://github.com/open-telemetry/opentelemetry-python-contrib/issues/933.

Is there a simple way to run the OpenTelemetry in a dedicated Python instance, a dedicated process? Ultimately I want the UpDownCounter.add() API to copy the data to a shared memory, send an event, and return. Ope

[2022-09-09 17:35] #1142 closed

[2022-09-09 17:38] srikanthccv commented on #1122
@tonycody can you answer what the configured propagators are for both python and java?

[2022-09-09 17:40] srikanthccv commented on #1119
@Raymundo1 we had a sync issue with core and contrib earlier. This shouldn't be a problem with the latest stable release. Please upgrade to new versions and let us know if the issue still persists.

[2022-09-09 17:40] #1119 closed

[2022-09-09 17:56] lzchen opened #1321 "Revert #1214 due to specs being blocked"
Based on this [comment](https://github.com/open-telemetry/opentelemetry-python-contrib/pull/1214#issuecomment-1241153045).

[2022-09-09 17:58] #1312 closed

[2022-09-09 21:21] sk- commented on #1316
That feature would be great! However, it's not straightforward to do it, as that label should have low multiplicity. Unfortunately the data to build the `target` is not standard and different frameworks expose different data in the asgi scope.

For fastapi/starlette that `target` can be obtained as:

[code]

In Sanic I couldn't find any data that could serve generating the target. Below is a print

[2022-09-09 22:12] srikanthccv commented on #1316
Does `path_format` return the desired value and low cardinal? If so, feel free to send a patch. The target full URL is already available (example [here](https://github.com/open-telemetry/opentelemetry-python-contrib/blob/3c24adf1b2c95bf8fdca7de146e38922ef9581fe/instrumentation/opentelemetry-instrumentation-asgi/src/opentelemetry/instrumentation/asgi/__init__.py#L323) used in traces) but it doesn't

[2022-09-09 22:54] ofek commented on #1259
https://github.com/open-telemetry/opentelemetry-python-contrib/pull/1322

[2022-09-10 05:22] sk- commented on #1316
@srikanthccv https://github.com/open-telemetry/opentelemetry-python-contrib/pull/1323

[2022-09-10 11:57] ofek commented on #1259
oops need to reopen

[2022-09-12 08:53] TheAnshul756 opened #1325 "FalconInstrumentor().uninstrument() method do not uninstrument existing Falcon Apps"
Similar to #1256  in FastAPI, falcon uninstrument method do not uninstrument existing falcon instrumented apps, which is not the expected behaviour.

[2022-09-12 10:12] TheAnshul756 commented on #1325
@srikanthccv Please assign this to me.

[2022-09-12 12:14] srikanthccv opened #1326 "Fix scripts"
Update the scripts to work with new package metadata changes.

[2022-09-12 12:33] #1149 closed

[2022-09-12 15:41] thisfred commented on #1181
It requires more involved regular expressions to filter out certain paths when you don't actually care about the schema and host parts of the url, because you have to take care you're not matching occurrences of the string you're looking for in those, for instance.

[2022-09-12 20:11] #1156 closed

[2022-09-13 08:19] #1184 closed

[2022-09-13 13:23] avzis commented on #1175
hi, can you assign this to me? thanks :)

[2022-09-13 14:06] huwcbjones commented on #855
I've also noticed that grpc.aio.ServicerContext::abort has details as an optional argument, whereas the otel servicer context mandates it.

https://github.com/grpc/grpc/blob/54dc182082db941aa67c7c3f93ad858c99a16d7d/src/python/grpcio/grpc/aio/_base_server.py#L172-L176

vs

https://github.com/open-telemetry/opentelemetry-python-contrib/blob/4d341e8d95f400f417fb0b668d3a556e8aca3907/instrumentation/op

[2022-09-13 17:07] yurihartmann opened #1328 "opentelemetry instrumentation sqlmodel"
Feature request to instrument the SQLModel that use sqlalchemy base

https://sqlmodel.tiangolo.com/

[2022-09-13 17:11] lzchen commented on #1175
@avzis
We are actually getting rid of span name callbacks in favor of request/response hooks. PTAL at https://github.com/open-telemetry/opentelemetry-python-contrib/issues/411 and implement it using hooks instead of callbacks if you are still interested in working on this.

[2022-09-13 23:44] ofek commented on #1259
complete 😄

[2022-09-14 00:30] srikanthccv commented on #1259
I will close this after this gets merged https://github.com/open-telemetry/opentelemetry-python-contrib/pull/1329

[2022-09-14 01:12] ofek commented on #1259
ah ok, fyi my source was https://github.com/open-telemetry/opentelemetry-python-contrib/pull/853/files

[2022-09-14 10:42] tpadr commented on #1168
@srikanthccv, the issue is not reproducible anymore. I'm using poetry as package manager

[2022-09-14 13:07] montaropdf commented on #1317
To be able to do so I need to understand how to make the package work.

[2022-09-14 14:46] TheAnshul756 commented on #1325
Hello @srikanthccv
Looks like there is no method to manually uninstrument an api/app in falcon similar to [`uninstrument_app` in fastapi](https://github.com/open-telemetry/opentelemetry-python-contrib/blob/main/instrumentation/opentelemetry-instrumentation-fastapi/src/opentelemetry/instrumentation/fastapi/__init__.py#L201). Should I implement one, as it will be required to uninstrument existing in

[2022-09-14 15:53] #1259 closed

[2022-09-14 16:15] ofek commented on #1259
take care!

[2022-09-15 06:59] ymotongpoo opened #1334 "`tox -e generate` fails"
**Describe your environment**

Automated GitHub Action task called `generate` and my local (M1 MBP, macOS 12.6 + Python 3.9.13 & 3.10.6)

* https://github.com/open-telemetry/opentelemetry-python-contrib/actions/runs/3058228653/jobs/4934205080
* https://github.com/open-telemetry/opentelemetry-python-contrib/actions/runs/3050209841/jobs/4917068230

**Steps to reproduce**
Describe exactly how to repr

[2022-09-15 11:01] srikanthccv commented on #1334
@ymotongpoo sorry for the tooling issues, I have fixed this and many other things in https://github.com/open-telemetry/opentelemetry-python-contrib/pull/1330.

[2022-09-15 17:10] sanketmehta28 commented on #1145
Hi @shalevr are you working on this?

[2022-09-15 17:29] sk- opened #1335 "Warning triggered by asgi.OpenTelemetryMiddleware"
**Describe your environment**
Python: 3.10.7
opentelemetry-instrumentation-asgi: 0.33b0
opentelemetry-api	1.12.0
Fastapi: 0.79.0

**Steps to reproduce**
Setup the asgi middleware with fastapi as following:

[code]

**What is the expected behavior?**
We should not see any warnings.

**What is the actual behavior?**
The following warning is raised multiple times.

[code]

**Additional context**
Seem

[2022-09-15 18:12] #1326 closed

[2022-09-15 18:25] srikanthccv commented on #1334
This is fixed on the main and shouldn't be an issue now.

[2022-09-15 18:25] #1334 closed

[2022-09-15 18:31] srikanthccv commented on #1145
There is a PR for this already #1252

[2022-09-15 18:54] srikanthccv commented on #1325
To reduce the scope of this issue just add a private helper which can pop the middleware. The `instrument_app`/`uninstrument_app` can be a feature request to address in separate ticket.

[2022-09-16 18:03] lucasteles opened #1337 "Getting ZeroDivisionError in Swap Utilization"
**Describe your environment**
Python: 3.9
opentelemetry-instrumentation-psycopg2 = "^0.33b0"
opentelemetry-instrumentation-django = "^0.33b0"
opentelemetry-instrumentation-celery = "^0.33b0"
opentelemetry-exporter-otlp-proto-grpc = "^1.12.0"
Running on ECS (Docker)

The problem is with system metrics in this line, the when container is configured without swap memory
https://github.com/open-telemet

[2022-09-16 21:55] srikanthccv opened #1338 "Ensure `uninstrument` works for instrumentation libraries"

[2022-09-19 07:25] #1256 closed

[2022-09-19 11:09] TheAnshul756 opened #1342 "Manual instrumentation in Falcon Framework"
**Describe the solution you'd like**
Currently Falcon only has support for automatic instrumentation and not for manual instrumentation. We can provide support for manual instrumentation in falcon by creating static methods `instrument_app` and `uninsturment_app` in instrumentor class.

[2022-09-19 11:09] TheAnshul756 commented on #1342
@srikanthccv Please assign this to me.

[2022-09-20 10:14] sanketmehta28 commented on #1335
What command do you run to execute the code?

[2022-09-20 11:11] sk- commented on #1335
@sanketmehta28 we use the command `gunicorn -k uvicorn.workers.UvicornWorker --bind 0.0.0.0:5000 app.main:app --workers "$WORKERS"`, and the warning also occurs when using `uvicorn app.main:app --workers "$WORKERS"`.

Both commands produce one warning at startup for each of the `WORKERS`, even in the case we use a single worker.

[2022-09-20 14:23] yulin-li commented on #1337
Got same issue, sent out a PR #1345 to fix

[2022-09-20 16:29] lzchen commented on #1168
Will be closing this issue. Feel free to comment if issue comes up again.

[2022-09-20 16:29] #1168 closed

[2022-09-20 16:47] #373 closed

[2022-09-20 18:17] #1325 closed

[2022-09-21 08:04] TheAnshul756 commented on #1335
@sk-
I suspect your fastapi is already instrumented even before you created your app by auto-instrumentation. To check, you can print the type of app you created using `print(type(app))`. What do you get with this print statement?

[2022-09-21 09:55] ymotongpoo opened #1347 "`python scripts/eachdist.py develop` fails with package version conflict"
**Describe your environment**

[code]

**Steps to reproduce**
1. run `python scripts/eachdist.py develop`

**What is the expected behavior?**

All required packages are installed without any trouble.

**What is the actual behavior?**

The installation process fails with the following error message:

[code]

**Additional context**

The whole log is the following:

[code]

[2022-09-21 09:57] ymotongpoo commented on #1347
It seems this issue is caused by `opentelemetry-exporter-datadog[test]` as its dependency is 0.30b0 but others are depending on 0.33b0.

[2022-09-21 13:02] sk- commented on #1335
Thanks @TheAnshul756 that pointed me to the right direction. I managed to create a small reproduction case

[code]

The culprit seems to be the order in which things are being done. If I move the `exception_handler` before the OTEL middleware, then it works.

Below are all the combinations and whether it works:
- OTEL Middleware, OTEL Setup, Exception Handler: does not work
- OTEL Setup, OTEL Midd

[2022-09-21 13:53] adam-mrozik opened #1348 "include URLs instead of exclude?"
Hey,

I have some big apps in which I want to add opentelemetry. However, I want to iteratively add endpoints I want to be enabled. Currently I only see exclude argument, which would be absurdly long and hard to maintain in my case.
Do you have some ideas if this could be achieved easily?

[2022-09-21 17:02] #1321 closed

[2022-09-21 17:05] ocelotl commented on #1181
If it makes things easier, I am ok with this :+1:

[2022-09-22 07:47] rahulhacker commented on #648
@ocelotl Can u please assign this issue??

[2022-09-22 08:28] TheAnshul756 commented on #1335
Yes, the warning is from the creation of metric data models, and there is nothing wrong with initialising the middleware again and again. The model creation method throws a warning if there is already an existing data model with the same name, unit and detail and does not create another, which is the expected behaviour.
And I agree it is weird from a user's point of view to get a warning if nothin

[2022-09-22 09:20] #1157 closed

[2022-09-22 12:19] ocelotl commented on #1338
@srikanthccv can you provide more information regarding what this issue is about?

[2022-09-22 13:11] srikanthccv commented on #1335
Documenting this behavior would be ideal for this issue. We don't want to introduce additional things to API interface unless necessary.

[2022-09-22 16:17] tbbream commented on #1319
I also just got hit by this trying to upgrade the OpenTelemetry SDK and instrumentation version.

It looks like it broke in the 0.32b0 release with this [commit](https://github.com/open-telemetry/opentelemetry-python-contrib/commit/6876ad857ffcef07b09d3017217d2545e8ed6ece). From what I could tell, the connection is now closed when it is leaving the connect function, which leads to the auto commit

[2022-09-22 23:19] jeremydvoss commented on #677
I see this issue is old but still open. I used to have this issue, but it seems to have stopped. Was there an intentional fix? `from django.conf import settings` was actually [added 2 years ago](https://github.com/open-telemetry/opentelemetry-python-contrib/blame/9a2285a42b059e7e88912ad410c1d585f2622545/instrumentation/opentelemetry-instrumentation-django/src/opentelemetry/instrumentation/django/_

[2022-09-23 06:57] rahulhacker commented on #648
@codeboten Can i work on this issue if no is working on this?

[2022-09-23 07:14] pdavid31 commented on #548
Is there any progress to this?

Unfortunately, I am seeing the same problem using

[code]

[2022-09-26 17:29] ocelotl commented on #648
@Sunilwali679 please let us know if you have already have made progress on this issue, for the time being I'll assign @rahulhacker too..

[2022-09-26 21:42] kchow1985 opened #1353 "conn.commit() raise InterfaceError because connection instrument wrapper has no _sock member"
**Describe your environment** Describe any aspect of your environment relevant to the problem, including your Python version, [platform](https://docs.python.org/3/library/platform.html), version numbers of installed dependencies, information about your cloud hosting provider, etc. If you're reporting a problem with a specific version of a library in this repo, please check whether the problem has

[2022-09-27 07:45] TheAnshul756 opened #1354 "Documenting about warnings reported on multiple middleware stack builds in fastapi"
Documenting this behavior would be ideal for this issue. We don't want to introduce additional things to API interface unless necessary.

_Originally posted by @srikanthccv in https://github.com/open-telemetry/opentelemetry-python-contrib/issues/1335#issuecomment-1255003367_

[2022-09-27 08:11] sungwonh opened #1355 "publishe job for 0.34b0 has failed."
Hello,

Publish job for 0.34b0 has failed.

https://github.com/open-telemetry/opentelemetry-python-contrib/actions/runs/3131270761

[2022-09-27 12:08] AchintyaAshok opened #1356 "0.34b0 opentelemetry-instrumentation-flask _time dependency failure with otel-sdk"
**Describe your environment** Describe any aspect of your environment relevant to the problem, including your Python version, [platform](https://docs.python.org/3/library/platform.html), version numbers of installed dependencies, information about your cloud hosting provider, etc. If you're reporting a problem with a specific version of a library in this repo, please check whether the problem has

[2022-09-27 12:48] srikanthccv commented on #1355
Thanks for creating an issue, We are aware of this and working on getting this resolved earliest possible.

[2022-09-27 13:32] srikanthccv opened #1358 "Decide what to do about the deprecated packages on main"
Their versions are not updated but they remain on the main branch. This means the scripts need to keep a list of packages that needs skipping and special treatment makes them prone to issues.

[2022-09-27 14:08] #1355 closed

[2022-09-27 15:02] srikanthccv commented on #1356
We had an issue with publishing for 0.34b0 so it never really got published to PyPI. Can you try installing now and check?

[2022-09-27 16:12] #1146 closed

[2022-09-27 18:11] #1337 closed

[2022-09-27 18:27] ocelotl commented on #1358
If a package is declared deprecated (this meaning it won't receive any more changes of any kind) we should remove them in the next release. The less code the better and if someone needs that package source code for any reason they can read the changelog and check out the repo at the last version that included that package.

[2022-09-27 21:00] lzchen commented on #1358
@ocelotl
I agree with this, at least remove them from main. If we need further discussion, feel free to add this to Thursday's agenda topics.

[2022-09-28 11:34] TheAnshul756 opened #1360 "Instrumentation support for CherryPy Framework"

[2022-09-28 11:34] TheAnshul756 commented on #1360
Please assign this to me.

[2022-09-28 11:47] srikanthccv commented on #1360
Duplicate of #1130

[2022-09-28 11:47] #1360 closed

[2022-09-28 11:54] srikanthccv commented on #1360
Add a comment there. I will assign it to you.

[2022-09-28 13:01] TheAnshul756 commented on #1130
Please assign this to me.

[2022-09-28 16:02] dominthomas opened #1361 "Latest python auto-instrumentation doesn't work - Requested component 'otlp_proto_grpc' not found in entry points for 'opentelemetry_metrics_exporter'"
**Describe your environment**

- **Python 3.8**
- Container running in k8s
- simple fastAPI app

- OpenTelemetry Auto-Instrumentation Injection done via operator:
https://github.com/open-telemetry/opentelemetry-operator#opentelemetry-auto-instrumentation-injection

- OpenTelemetry auto-instrumentation image version: `0.33b0`

- OpenTelemetry Auto-Instrumentation Package Dependencies: [requirements

[2022-09-28 16:08] dominthomas commented on #1361
It looks like this issue was fixed as part of this PR: #2748
But that doesn't seem to be the case 🤔

[2022-09-28 16:22] srikanthccv commented on #1361
I don't think the operator supports the grpc for the reasons stated in the requirements.txt file. And there is no metrics HTTP library at the moment but that doesn't raise an issue.

[2022-09-28 16:26] dominthomas commented on #1361
Yes, you're right, I did see that comment - so not sure what's causing this.
Is it a case of dsiabling `opentelemetry_metrics_exporter`? Not sure if that's possible or if it's a req for that.

[2022-09-28 16:43] dominthomas commented on #1361
Tried that, same error... looks like it's expecting `otlp_proto_grpc` for metrics regardless.

[2022-09-28 17:09] Limess opened #1362 "Boto3SQS - link producer/consumer traces as parent/child"
**Is your feature request related to a problem?**

Connecting traces across consumer/producer flows.

**Describe the solution you'd like**

Currently when using boto3sqs auto instrumentation, the span created in the consumer of an SQS message will attach metadata to it's `<queue_name> process` span as a link.

https://github.com/open-telemetry/opentelemetry-python-contrib/blob/8e0c8d954bc1ccf4b593

[2022-09-29 16:18] xkortex commented on #831
This feature of creating a span for the initial ASGI scope plus the send/receive events is simultaneously really helpful (I used this to discover some requests were timing out after `receive` but before `send`) but also really noisy (multipart messages send one `receive` span for each packet received, which can get really noisy when a single trace has hundreds of spans. It would be lovely to have

[2022-09-30 07:28] owenhaynes opened #1364 "confluent-kafka-python produce headers could be dict or a list"
Environment

Python 3.10
confluent-kafka[avro]==1.9.2
opentelemetry-instrumentation-confluent-kafka==0.34b0

**Steps to reproduce**
Pass a dict of headers to the producer

**What is the expected behavior?**
To not crash and handle using a list or a dict for the headers

**What is the actual behavior?**
crashes because of calling append on a dict of headers in KafkaContextSetter

**Additional conte

[2022-09-30 08:10] Limess commented on #1362
So having read the specification for messaging more clearly, I believe this library is correct https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/trace/semantic_conventions/messaging.md so I'm going to close this issue.

It's unfortunate that links don't result in a particularly useable view in Jaeger's implementation - so we're likely to fork this module and app

[2022-09-30 08:10] #1362 closed

[2022-09-30 10:54] #1170 closed

[2022-09-30 21:21] jeremydvoss commented on #677
Testing this out, here's what I found:
1. Auto-instrumentation does utilize the DJANGO_SETTINGS_MODULE env var.
2. If the django instrumentation is installed, but django itself is not, then using auto-instrumentation works correctly.
   * sitesutomize catches a dependency conflict because django is not installed and therefore skips the django instrumentation.
3. If Django is installed but the DJAN

[2022-10-02 10:11] gangsd92 commented on #1140
@srikanthccv Can you assign this issue to me please. I'd like to work on this. Also share any context that'd be helpful to get started :) Thanks

[2022-10-02 11:03] srikanthccv commented on #1140
Take a look at the hooks for other instrumentation libraries like flask https://github.com/open-telemetry/opentelemetry-python-contrib/tree/main/instrumentation/opentelemetry-instrumentation-flask#requestresponse-hooks. They provide a way to perform some pre and post request operations on the span. We need to provide the similar feature for lambda instrumentation library.

[2022-10-02 11:27] srikanthccv commented on #154
See https://github.com/open-telemetry/opentelemetry-python-contrib/pull/900

[2022-10-02 11:27] #154 closed

[2022-10-02 11:28] srikanthccv commented on #574
See https://github.com/open-telemetry/opentelemetry-python-contrib/pull/900 and https://github.com/open-telemetry/opentelemetry-python-contrib/pull/1366

[2022-10-02 11:28] #574 closed

[2022-10-02 11:34] srikanthccv commented on #1356
I couldn't reproduce this with the given package versions and application code. Feel free to re-open if this issue is reproducible and share a simple git repo.

[2022-10-02 11:34] #1356 closed

[2022-10-02 11:38] srikanthccv commented on #1225
I believe we decided this is not needed and it can be achieved by adding own handlers without need of this.

[2022-10-02 11:38] #1225 closed

[2022-10-02 11:39] srikanthccv commented on #1185
This shouldn't be an issue anymore since we no longer support 3.6

[2022-10-02 11:39] #1185 closed

[2022-10-02 11:41] srikanthccv commented on #1122
@tonycody is this still an issue? Can you share more details requested? Otherwise please close the issue.

[2022-10-02 11:43] #1078 closed

[2022-10-02 13:00] avzis commented on #992
hi, can you assign this to me? thanks :)

[2022-10-03 02:58] tveastman opened #1368 "SQLAlchemy Instrumentation: `enable_commenter` can't be disabled."
Based on the [documentation](https://opentelemetry-python-contrib.readthedocs.io/en/latest/instrumentation/sqlalchemy/sqlalchemy.html#usage), you'd assume that:

[code]

Would enable instrumentation but disable the statement commenter, but it doesn't work. It looks like you can't disable the sql commenter unless you are providing the `engine` keyword as well, which requires you to have already cre

[2022-10-03 20:49] rogersd commented on #1213
@srikanthccv Was this fixed by https://github.com/open-telemetry/opentelemetry-python-contrib/pull/1346?  I'm still seeing the same error with the `0.34b0` release.

[2022-10-03 21:14] srikanthccv commented on #1213
No, I don't think they are related. I think this was referenced mistakenly.

[2022-10-04 16:10] jeremydvoss opened #1371 "test-instrumentation-celery failing and blocking PRs"
**Describe your environment**
I have a PR out: #1369 . 2 tests are failing. I sent out a plank PR which had the same failures, so I know they are unrelated:
[Contrib Repo Tests / build (py37, instrumentation, ubuntu-20.04) (pull_request)](https://github.com/open-telemetry/opentelemetry-python-contrib/actions/runs/3178821162/jobs/5180695857)
[code]
[Contrib Repo Tests / build (pypy3, instrumentatio

[2022-10-04 18:29] svrnm opened #1372 "Resource Detection for container properties (e.g.`container.id`)"
**Is your feature request related to a problem?**

Detecting the id of the container that holds the service instrumented with otel allows end-users to correlate container issues with service issues.

**Describe the solution you'd like**
I see some of that implemented in the AWS Extension, but I was wondering if there's a way to have this standalone.

**Describe alternatives you've considered**
Inj

[2022-10-05 17:27] vasireddy99 opened #1375 "Recurring python version conflict error after every release"
**Describe your environment**
This issue is created to kick off the discussion and lead to possible solution for the version conflict error.

After a new release in `otel-python` and `otel-python-contrib` the usage of the instrumentation in previous releases is leading to version conflct error. While using the instrumentations of previous release `1.12.0` has broken when using the current Release

[2022-10-05 19:57] tammy-baylis-swi opened #1376 "Sanitization of span attribute `db.statement`"
**Is your feature request related to a problem?**
Yes, there is a security concern. Currently, if an instrumented service executes a database query that is not a prepared statement (i.e. hardcoded or simple string interpolation), then the corresponding span in the resulting trace will have attribute `db.statement` whose value contains the entire expression. For example, `db.statement` would be `"S

[2022-10-05 20:21] #1371 closed

[2022-10-06 10:46] #1083 closed

[2022-10-06 10:46] #1358 closed

[2022-10-06 10:46] #1347 closed

[2022-10-06 18:40] srikanthccv commented on #1375
Feel free to send a PR. I don't see any reason for hard pinning sdk version in distro package since unless they need to use latest changes from SDK release.

[2022-10-06 20:41] rogersd commented on #1353
@ocelotl I'm having this same issue and it appears to be caused by https://github.com/open-telemetry/opentelemetry-python-contrib/pull/1097

This may also be the cause of #1213

Also, should this be changed?

[code]

[2022-10-07 02:39] aabmass commented on #1361
I was able to get it working with @srikanthccv's workaround, in the instrumentation manifest:

[code]

To actually fix the problem, I believe this line is the issue https://github.com/open-telemetry/opentelemetry-python-contrib/blob/a47c45e61b4a7906f826b203f15f0dcf646ee185/opentelemetry-distro/src/opentelemetry/distro/__init__.py#L38

@srikanthccv should we just remove this line until the OTLP/pro

[2022-10-07 03:11] aabmass commented on #1361
https://github.com/open-telemetry/opentelemetry-operator/pull/1147

[2022-10-08 06:58] tonycody commented on #1122
python instrumentation is strongly related to different python package versions. When tracing cannot be obtained, you can try to change the package of a lower version.

[2022-10-08 06:58] #1122 closed

[2022-10-08 07:02] yabigfish commented on #1353
PyMySQL specific

[code]

_sock is a class attribute, also an instance attribute, which is used by the method connection.commit and connection.close and others

Before #1097

[code]

accessing self._sock via wrapt.ObjectProxy to the underlying **instance attribute connection._sock**, which is good.

After #1097

[code]

self._sock is the **class attribute Connection._sock** (by inheriting type(con

[2022-10-08 18:59] #1375 closed

[2022-10-10 15:32] norbertschuler opened #1378 "AwsXRayPropagator is not working without Parent value in X-Amzn-Trace-Id header"
**Describe your environment**

- Python 3.10.7
- Django==4.0.6
- opentelemetry-propagator-aws-xray==1.0.1

**Steps to reproduce**

We wanted to use https://pypi.org/project/opentelemetry-propagator-aws-xray/ to automatically get a trace_id from the Amazon header as described at https://docs.aws.amazon.com/xray/latest/devguide/xray-concepts.html#xray-concepts-tracingheader.

Using a header like `X-

[2022-10-10 21:13] rogersd commented on #1353
@srikanthccv Any thoughts here?

[2022-10-11 02:41] #992 closed

[2022-10-11 21:03] danielloganking commented on #1002
I have recently ran into this behavior and think there may be an additional wrinkle. Specifically I have found that, due to the way `CeleryInstrumentor` registers the span context propagation to the [`before_task_publish`](https://docs.celeryq.dev/en/stable/userguide/signals.html#before-task-publish) signal, the `_trace_before_publish()` callable is only available in contexts where `CeleryInstrume

[2022-10-12 16:22] #1145 closed

[2022-10-12 20:49] danielloganking commented on #1181
I certainly agree this is desirable but I'm not sure this is correct:

I actually found this issue because I was wanting to have this implemented on the asgi side which also relies on the full url [as seen in the code](https://github.com/open-telemetry/opentelemetry-python-contrib/blob/main/instrumentation/opentelemetry-instrumentation-asgi/src/opentelemetry/instrumentation/asgi/__init__.py#L437-L

[2022-10-13 13:04] Lincoln-developer commented on #1071
@srikanthccv getting started on this one........

[2022-10-13 13:11] srikanthccv commented on #1071
Please look at other instrumentation such as flask (`request_hook`, `response_hook`) to see how this is done and what it should give you a good idea. https://github.com/open-telemetry/opentelemetry-python-contrib/blob/main/instrumentation/opentelemetry-instrumentation-flask/src/opentelemetry/instrumentation/flask/__init__.py.

[2022-10-13 13:19] Lincoln-developer commented on #1071
Alright thank Mr @srikanthccv

[2022-10-14 00:59] ericksoen commented on #298
Had to debug a similar issue today with the `download_file` method and wanted to share some of my analysis. I've previously encountered the type of broken trace issue that @wangzlei describes in this issue when working with apps that use multi-threading.

In that scenario, the auto-instrumentation libraries correctly instrument outgoing requests but can't correctly associate the trace context to t

[2022-10-14 07:06] s4ke commented on #298
Thanks @ericksoen this looks like a practicable work around to put into a library function. Tyvm for this investigation!

[2022-10-14 11:50] malthe opened #1383 "Support for PySpark"
From the [documentation](https://spark.apache.org/docs/latest/api/python/):

The primary requirement for instrumentation is that metrics are reported for queries along with metadata such as the `applicationId` which uniquely identifies a given job.

[2022-10-14 18:45] vasireddy99 commented on #1361
+1
I was able to get working by setting [OTEL_METRICS_EXPORTER:NONE](https://github.com/open-telemetry/opentelemetry-lambda/blob/main/python/src/otel/otel_sdk/otel-instrument#L98-L99) from the last couple of releases.

[2022-10-14 23:14] thisfred commented on #1181
Oh, maybe I incorrectly assumed that this:

[code]

meant that `url` wouldn't still include the host and port...

[2022-10-15 04:04] lorchda opened #1384 "Provide documentation prerequisites for AwsEksResourceDetector"
Before opening a feature request against this repo, consider whether the feature should/could be implemented in the [other OpenTelemetry client libraries](https://github.com/open-telemetry/). If so, please [open an issue on opentelemetry-specification](https://github.com/open-telemetry/opentelemetry-specification/issues/new) first.

**Is your feature request related to a problem?**

Problem: Have

[2022-10-15 12:51] danielloganking commented on #1181
Yea it's not immediately obvious but the method gets you the host, port, and _whole_ url.😅 Which [the docstring and method body](https://github.com/open-telemetry/opentelemetry-python-contrib/blob/9beb6b29b08a0c5333cb01139134eab03bbc11c8/instrumentation/opentelemetry-instrumentation-asgi/src/opentelemetry/instrumentation/asgi/__init__.py#L323-L330) do a better job of making clear.

[2022-10-17 12:29] clesleycode opened #1387 "Add `enable_commenter` support to mysql"
Before opening a feature request against this repo, consider whether the feature should/could be implemented in the [other OpenTelemetry client libraries](https://github.com/open-telemetry/). If so, please [open an issue on opentelemetry-specification](https://github.com/open-telemetry/opentelemetry-specification/issues/new) first.

**Is your feature request related to a problem? Describe the solu

[2022-10-18 13:28] Seefooo opened #1389 "Prometheus Remote Write exporter names can have consecutive underscores"
[One more requirement](https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/metrics/data-model.md#prometheus-compatibility:~:text=the%20_%20character.-,Multiple%20consecutive%20_%20characters%20MUST%20be%20replaced%20with%20a%20single%20_%20character.,-The%20Unit%20of). Feel free to open an issue and either do in a follow up PR or I can mark it up for grabs.

_Orig

[2022-10-19 17:29] aabmass commented on #1361
This should be fixed in the latest release https://github.com/open-telemetry/opentelemetry-operator/releases/tag/v0.61.0. However you'll still have to change the OTLP endpoint for traces to use port 4318 as described in https://github.com/open-telemetry/opentelemetry-operator/issues/924, but that is a separate issue.

[2022-10-19 17:29] #1361 closed

[2022-10-20 11:59] jltvieira opened #1392 "Fix ConfluentKafkaInstrumentor usage"
**Describe your environment**
Docker image running `python:3.10.7-slim-bullseye` as base

**Steps to reproduce**
[code]

**What is the expected behavior?**
Instrumentation to work just by adding the lines above.

**What is the actual behavior?**

**Additional context**
The solution is to actually make the import like this:
[code]

[2022-10-20 21:22] nils-borrmann-y42 opened #1393 "aiohttp-client: Allow overriding of span status"
Version 0.34b0

In the aiohttp-client instrumentation, the `response_hook` is [called before setting the status and the status_code of the span](https://github.com/open-telemetry/opentelemetry-python-contrib/blob/75953f3b25c2ffb5427371aaf065671b441aca26/instrumentation/opentelemetry-instrumentation-aiohttp-client/src/opentelemetry/instrumentation/aiohttp_client/__init__.py#L235). This means the us

[2022-10-21 07:36] ehsannm commented on #831
Thumbs up for add more configuration. I need to use the hack that @blueswen shared. Looking forward to add it as a configuration parameter. It seems a very quick and small fix, but ticket is open for over a year now

[2022-10-21 10:40] luke6Lh43 opened #1395 "[opentelemetry-instrumentation-redis] Stop sending db.name argument or rename it to redis[0-15]"
Hi! I've been recently playing with OpenTelemetry for Python (Flask) application and noticed that for Redis **db.name** argument is send to OpenTelemetry collector which seems to be a number of database (integer). This seems to be incorrect as in Redis there is no db name concept (databases are numbered from 0 to 15). Technically, it shouldn't be any problem with that but it may break some OpenTel

[2022-10-21 10:55] norbertschuler commented on #1378
Closing issue as not requested any more.

[2022-10-21 10:55] #1378 closed

[2022-10-21 14:29] kwmlodozeniec opened #1396 "Setting OTEL_TRACES_EXPORTER=none does not stop the trace exporter"
In my environment I set OTEL_TRACES_EXPORTER to none during local development but I still get repeated exceptions in the logs as traces are being exported. Any ideas how to disable the export completely?

My stack uses FastAPI and Requests instrumentation and the exception I'm getting is

[code]

[2022-10-21 14:41] srikanthccv commented on #1396
Please provide a simple reproducible example.

[2022-10-21 14:44] srikanthccv commented on #1395
I guess the best way to provide this information is through `db.redis.database_index` than `db.name`. Feel free to send a pull request.

[2022-10-21 14:46] srikanthccv commented on #831
You are always welcome to send a fix :)

[2022-10-21 15:07] srikanthccv commented on #1393
It's because the semantic conventions enforce it for the HTTP clients https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/trace/semantic_conventions/http.md#status.

[2022-10-21 15:45] kwmlodozeniec commented on #1396
requirements
[code]

`app.py`
[code]

Create the env, place `app.py` in some dir for example `sample`, install dependecies, and run with
[code]

hit the root endpoint and after a few seconds the logs should have this exception
[code]

[2022-10-21 18:46] srikanthccv commented on #1396
No, that works when you use the auto instrumentation and set the env, and it doesn't prevent you from setting the trace pipeline with the exporter manually. What would it mean to use `jaeger` for `OTEL_TRACES_EXPORTER`  with the above code? Does it magically change the exporter from OTLP to Jaeger?

This is working as expected.

[2022-10-21 18:46] #1396 closed

[2022-10-21 19:28] Cruuncher opened #1397 "Span created too late in the request lifecycle - open_session traces have no parent"
**Describe your environment**
Docker Environment

Python Version: Python 3.10.8

Pip Freeze:
[code]

**Steps to reproduce**
1.  Create 3 files in an empty directory:

app.py:
[code]

Dockerfile:
[code]

docker-compose.yaml:
[code]

2. With a running docker daemon run `docker compose up` and wait for output to stablize

3. run `curl localhost:8080` from another terminal and observe logs, specifical

[2022-10-21 20:08] kwmlodozeniec commented on #1396
Okay, so it seems I've misunderstood the mechanism. Is there a way of
disabling the exporter through an env variable? Or would it be a matter of
checking for a config and then instrumenting or not?

On Fri, 21 Oct 2022, 19:46 Srikanth Chekuri, ***@***.***>
wrote:

[2022-10-22 01:27] srikanthccv commented on #1396
If you are not interested in exporting in above program you shouldn't set the tracer provider. Alternatively you may want to look at the `opentelemetry-instrument` auto instrument command which honours the env var.

[2022-10-22 20:49] nils-borrmann-y42 commented on #1393
Which is fine, but otel could still let the user decide to override it in specific cases (which is what most other implementations already do).

[2022-10-22 20:52] nils-borrmann-y42 commented on #831
@srikanthccv Someone already did and the PR was rejected: https://github.com/open-telemetry/opentelemetry-python-contrib/pull/815

[2022-10-23 03:21] srikanthccv commented on #831
It wasn't rejected. It was closed by author without any further explanation. I don't know why they decided to do that. One can drop the spans by other means, such as as custom processor or sampler but I think the configurability on instrumentation is also fine especially because dropping span which is used for propagation breaks the tree structure of trace.

[2022-10-24 12:02] ocelotl commented on #1353
Will look into this, thanks for reporting :v:

[2022-10-24 14:23] jaroslawporada opened #1401 "opentelemetry-instrumentation-urllib log warning on None status code"
**Describe your environment** Describe any aspect of your environment relevant to the problem, including your Python version, [platform](https://docs.python.org/3/library/platform.html), version numbers of installed dependencies, information about your cloud hosting provider, etc. If you're reporting a problem with a specific version of a library in this repo, please check whether the problem has

[2022-10-24 17:46] rogersd commented on #1353
@ocelotl Would be great if the fix could make it in to the next release.  I (and I'm sure many others) am blocked from upgrading until this is fixed.

[2022-10-25 17:04] pgadige commented on #1175
@lzchen PR #576 implements it using hooks. Is there additional work to add on top of these changes?
cc: @srikanthccv

[2022-10-25 17:13] pgadige commented on #976
Can I please work on this?
cc: @srikanthccv

[2022-10-25 19:03] srikanthccv commented on #1175
I believe this is no longer required.

[2022-10-25 19:03] #1175 closed

[2022-10-26 19:01] ocelotl opened #1408 "Fix pytest version"
As done [here](https://github.com/open-telemetry/opentelemetry-python/pull/2987).

[2022-10-26 19:07] ocelotl commented on #1408
Pytest benchmark has fixed the issue that caused the problem mentioned above, closing this issue.

[2022-10-26 19:07] #1408 closed

[2022-10-27 12:48] #1392 closed

[2022-10-27 13:36] shalevr commented on #1401
Can you assign it to me?

[2022-10-28 09:20] pilhuhn opened #1416 "Django instrumentation assumes ASGI is only for Django3+"
**Describe your environment**

My code is on Django 2.x. And I run into https://github.com/open-telemetry/opentelemetry-python/issues/2833
Debugging down shows that the `_is_asgi_request()` in otel_middleware.py is thus determining that a request can't be an ASGI request.

**Steps to reproduce**

Just look at the code. Also when you continue and set `is_asgi_request` to `True` manually, my code wo

[2022-10-28 09:38] pilhuhn commented on #1416
A fix in my case, as we use the channels.http library  / channels package would be:

[code]

[2022-10-28 11:42] sanketmehta28 commented on #1395
Yes @luke6Lh43. This makes sense. I have verified the behavior and while instrumenting the redis, it tries to fetch the "db" attribute from connection_pool object and in case of its absence (which is true in case of redis), it will by default set to '0'.
AFAIK this is not the right behavior (as reflected in jode js or .net agents). You should create a PR and send it for review.

[2022-10-28 11:45] luke6Lh43 commented on #1395
Thank you @sanketmehta28 and @srikanthccv for your comments! I will start working on it in upcoming days :)

[2022-10-28 19:41] MatheusGeiger commented on #610
I managed to make the instrumentation of psycopg2 work normally with psycopg2-binary.

via the flag, `skip_dep_check=True` makes `opentelemetry-instrumentation-psycopg2` not perform dependency checks by adding the `psycopg2 connection wrapper`.

As internally in `psycopg2` the `psycopg2` and `psycopg2-binary` versions use the same python code(import, codebase, functions) and everything worked norm

[2022-10-28 20:06] whardier opened #1420 "FastAPI/Starlette version spec out of alignment."
**Describe your environment** Building a metapackage builder and noticed some potential issues with starlette instrumentation.  Going to avoid providing starlette as part of our metapackager for now (and just assume fastapi instrumentation will be enough for our base)

**Steps to reproduce**
Attempt to compile a requirements file listing the most recent fastapi and most recent instrumentation for

[2022-10-28 20:20] whardier opened #1421 "aiopg version spec out of alignment."
**Describe your environment** metapackaging project that includes opentelemetry instrumentation for our product.

**Steps to reproduce**
Attempt to install aiopg==1.4.0 (released today) along with current opentelemetry instrumentation for aiopg.

**What is the expected behavior?**
Install most recent aiopg package and opentelemetry instrumentation for it.

**What is the actual behavior?**
[code]

[2022-10-30 12:34] avzis commented on #975
hi, can you assign this to me? thanks :)

[2022-10-31 11:22] shalevr commented on #1401
I'm not sure if we should add the response.code to the span in this case.
I think there is no reason to add an attribute that doesn't exist(None)

[2022-10-31 20:00] #933 closed

[2022-10-31 21:22] srikanthccv commented on #1401
This issue is specially about the urllib instrumentation and the fix is to not set the status code where there is None.

[2022-10-31 21:56] #1099 closed

[2022-11-01 13:28] philipcwhite commented on #1179
I have this same issue in Flask.  sqlite3.ProgrammingError: Base Connection.__init__ not called.  When I remove the sqlite3 instrumentation I have no errors (or sql monitoring).  In earlier versions this worked.

[2022-11-01 13:51] phillipuniverse commented on #1179
@philipcwhite we had some ideas over in #1183 but nothing really conclusive, like which calls were no longer being propagated. You might have a better time reproducing the issue?

[2022-11-01 14:13] philipcwhite commented on #1179
Here is my test app.
https://github.com/philipcwhite/flask-auth/tree/main/sqlite3
I set my connections and queries up as a class and this previously worked.  The new release it does not.  Looks like it fails when __init__ is called.

class Data:
    def __init__(self):
        self.con = sqlite3.connect('flask.db')
        self.cursor = self.con.cursor()

[2022-11-02 10:56] pilhuhn opened #1426 "Eachdist expects that that python interpreter is always named 'python'"
**Describe your environment**

UPDATE:
I guess my issues come from the fact that CONTRIBUTING.md only quickly says "First create a virtualenv and activate it. Then run python scripts/eachdist.py develop" , which is easily overlooked. Also it does not really say in which way to create the v-env (this is hidden in README). But even this combo does not work

[code]

Both on macOS and RHEL

[code]

Th

[2022-11-02 13:06] ranrib commented on #1376
There's a bit similar discussion here - https://github.com/open-telemetry/opentelemetry-js-contrib/issues/1237

[2022-11-02 13:23] akiross commented on #165
@pitabwire sure, I didn't add details since I wasn't sure this might be useful in other situations, but in our `application/routing.py` we missed a couple of lines:

[code]

HIH

[2022-11-05 02:54] srikanthccv commented on #1368
Correct, and pass it to `EngineTracer` which enables commenter by default.

[2022-11-05 14:30] srikanthccv commented on #1401
Fixed in #1430

[2022-11-05 14:30] #1401 closed

[2022-11-06 16:39] avzis commented on #1368
hi, can you assign this to me? thanks :)

[2022-11-07 16:00] #1353 closed

[2022-11-07 17:34] #1393 closed

[2022-11-08 04:53] rayate2410 opened #1432 "trace_id and span_id are 0 with channel.consume() generator function"
**Describe your environment**
[code]

**Steps to reproduce**
[code]

**What is the expected behavior?**
I'm using channel.consume method to get the messages from the queue. And expecting the logs should have trace ids and span ids.
If you see below, trace_id and span_id is available if I use basic_consume with callback.
[code]

**What is the actual behavior?**
Actual behavior with channel.consume(

[2022-11-08 06:24] srikanthccv commented on #1213
Please re-open if it's not fixed in #1424

[2022-11-08 06:24] #1213 closed

[2022-11-09 21:33] rogersd opened #1433 "Strip leading comments from SQL queries when generating the span name."
Currently an SQL statement that begins with a comment, such as

[code]

Will have `span.name` set to `/*`, which makes it harder to tell what's going on in the waterfall view for a request.

Instead, the leading comment should be removed so that the operation type is used instead.

[2022-11-10 10:08] Shivanireddie opened #1567 "System Performance Metrics"

[2022-11-10 16:26] TheNomet commented on #1213
Hi @rogersd and @srikanthccv,
I tried to test [opentelemetry-lambda](https://github.com/open-telemetry/opentelemetry-lambda) with pymysql and I still see the error when having `connection.autocommit(True)`.

### How to reproduce
* Clone `opentelemetry-lambda` and ensure that the latest version of opentelemetry is used
* add `PyMySQL==0.10.1` to `python/sample-apps/function/requirements.txt`
* modi

[2022-11-10 16:42] rogersd commented on #1213
Looking at https://github.com/vasireddy99/opentelemetry-lambda/blob/main/python/src/otel/otel_sdk/requirements-nodeps.txt it looks like they're still using `0.35b0` for everything.  Are you modifying that to use the fixed version for these packages?

[code]

[2022-11-10 17:41] lzchen opened #1437 "Automate release workflow"
Similar to [this](https://github.com/open-telemetry/opentelemetry-python/pull/2649) for the core repo, automate the release workflow for contrib. This might be a bit tricky if we want to still require builds needing to pass for release branches (since the whole relationship between the core and contrib releases needing to change SHAs). We can either 1. Not require builds to pass for releases or 2.

[2022-11-10 19:21] #1395 closed

[2022-11-11 08:59] TheNomet commented on #1213
I was looking at the tag section and the latest one I saw was 0.35b0, so I imagined that was the one.
I updated to 35b2 and seems to work now, thank you very much!

[2022-11-11 13:20] rbagd opened #1438 "System metrics instrumentation not working with custom defined configuration"
System metric instrumentation is not functional if configuration on which metrics to be exported is explicitly provided. As a minimal example, this code

[code]

results in

[code]

I am happy to look into fixing this. Removing `*args` and `**kwargs` in `opentelemetry/instrumentation/instrumentor.py:51` actually solves the issue here but I'd like to understand the implications as this implies chan

[2022-11-15 10:32] pridhi-arora commented on #1034
@srikanthccv Can I take this up?

[2022-11-15 10:35] pridhi-arora commented on #985
Are there dedicated steps which can help me achieve this?
cc: @srikanthccv

[2022-11-15 14:25] srikanthccv commented on #1034
Let me know if you need help understanding the issue if it's not already clear.

[2022-11-15 16:16] pridhi-arora opened #1443 "Typo in env variable name ` OTEL_EXPORTER_OTLP_METRRICS_CERTIFICATE`"
It looks like the spelling of metrics is wrong in the env variable `OTEL_EXPORTER_OTLP_METRRICS_CERTIFICATE`
https://github.com/open-telemetry/opentelemetry-python/blob/main/opentelemetry-sdk/src/opentelemetry/sdk/environment_variables.py#L434

**Describe your environment** Describe any aspect of your environment relevant to the problem, including your Python version, [platform](https://docs.pytho

[2022-11-15 16:17] pridhi-arora commented on #1443
@srikanthccv Please take a look at this. Please correct me if I am wrong here.

[2022-11-15 16:48] pridhi-arora commented on #1443
Closing this. As this is the wrong project.

[2022-11-15 16:48] #1443 closed

[2022-11-16 17:29] ocelotl commented on #610
@eugeniyost @justmobilize @Dipenbhatt03 does @MatheusGeiger `skip_dep` soultion works for you?

[2022-11-16 18:02] robotadam commented on #610
@justmobilize is out for a while, but @mmchugh and I also worked on this issue. We haven't tested `skip_dep` but it looks like a good workaround. I will try to carve off time to test later this week and get back to you all.

[2022-11-17 16:49] sanketmehta28 opened #1446 "Resource detection for container properties in Flask"
**Problem**
Detect the container id in Resource in flask framework

**Describe the solution you'd like**
Collect the container.id the application is running in and pass it as resource attribute in the tracer_provider

[2022-11-17 16:50] sanketmehta28 opened #1447 "Resource detection for container properties in Django"
**Problem**
Detect the container id in Resource in Django framework

**Describe the solution you'd like**
Collect the container.id the application is running in and pass it as resource attribute in the tracer_provider

[2022-11-17 16:52] sanketmehta28 opened #1448 "Resource detection for container properties in Falcon"
**Problem**
Detect the container id in Resource in Falcon framework

**Describe the solution you'd like**
Collect the container.id the application is running in and pass it as resource attribute in the tracer_provider

[2022-11-17 16:53] sanketmehta28 opened #1449 "Resource detection for container properties in Pyramid"
**Problem**
Detect the container id in Resource in Pyramid framework

**Describe the solution you'd like**
Collect the container.id the application is running in and pass it as resource attribute in the tracer_provider

[2022-11-17 16:55] sanketmehta28 opened #1450 "Resource detection for container properties in WSGI"
**Problem**
Detect the container id in Resource in WSGI framework

**Describe the solution you'd like**
Collect the container.id the application is running in and pass it as resource attribute in the tracer_provider

[2022-11-17 16:55] sanketmehta28 opened #1451 "Resource detection for container properties in ASGI"
**Problem**
Detect the container id in Resource in ASGI framework

**Describe the solution you'd like**
Collect the container.id the application is running in and pass it as resource attribute in the tracer_provider

[2022-11-17 16:56] sanketmehta28 opened #1452 "Resource detection for container properties in FastAPI"
**Problem**
Detect the container id in Resource in FastAPI framework

**Describe the solution you'd like**
Collect the container.id the application is running in and pass it as resource attribute in the tracer_provider

[2022-11-17 16:57] sanketmehta28 opened #1453 "Resource detection for container properties in Starlette"
**Problem**
Detect the container id in Resource in Starlette framework

**Describe the solution you'd like**
Collect the container.id the application is running in and pass it as resource attribute in the tracer_provider

[2022-11-17 16:57] sanketmehta28 opened #1454 "Resource detection for container properties in Tornado"
**Problem**
Detect the container id in Resource in Tornado framework

**Describe the solution you'd like**
Collect the container.id the application is running in and pass it as resource attribute in the tracer_provider

[2022-11-17 17:03] sanketmehta28 commented on #1372
This is the comment I have received from @srikanthccv for the above issue:

`It is not allowed to be set at a later point in time, but you could implement an entry point kind of thing. I realized this is not supported yet by SDK and spec so I opened this https://github.com/open-telemetry/opentelemetry-specification/issues/2948. I think this is an important discussion that should take place in the

[2022-11-17 17:48] sanketmehta28 commented on #1372
@ocelotl : tagging you here as well

[2022-11-17 18:45] #1426 closed

[2022-11-17 19:51] ocelotl commented on #985
@pridhi-arora are you ok with having this PR assigned to you?

[2022-11-17 20:48] lancetarn opened #1455 "Tornado tests assume metric data_points implement `Iterator`"
This is related to
- https://github.com/open-telemetry/opentelemetry-python/issues/3021
- https://github.com/open-telemetry/opentelemetry-python/pull/3035

The SDK defines data_points as (at most) an `Iterable`, not an `Iterator`. The related PR will convert them to a `Sequence`, which matches a consumer's type definition and will avoid holding a lock in an unrealized generator.

**Steps to reprod

[2022-11-18 01:09] srikanthccv commented on #1372
The ResourceDetection is independent of library instrumentation. You don't need all these issues opened for each framework. Users don't set the tracer provider in each framework separately. It happens once, and the user is expected to provide the `ContainerResourceDetector` when setting the provider manually and via the env(achieved through the entry point) when done through auto instrumentation.

[2022-11-18 01:13] srikanthccv commented on #1446
This is not particularly related to Flask instrumentation. Flask instrumentation works with the tracer provided or obtained from the global provider. Hence closing. See my comment here https://github.com/open-telemetry/opentelemetry-python-contrib/issues/1372#issuecomment-1319422292

[2022-11-18 01:13] #1446 closed

[2022-11-18 01:13] srikanthccv commented on #1447
This is not particularly related to Django instrumentation. Django instrumentation works with the tracer provided or obtained from the global provider. Hence closing. See my comment here https://github.com/open-telemetry/opentelemetry-python-contrib/issues/1372#issuecomment-1319422292

[2022-11-18 01:13] #1447 closed

[2022-11-18 01:14] srikanthccv commented on #1449
This is not particularly related to this instrumentation. Pyramid instrumentation works with the tracer provided or obtained from the global provider. Hence closing. See my comment here https://github.com/open-telemetry/opentelemetry-python-contrib/issues/1372#issuecomment-1319422292

[2022-11-18 01:14] #1449 closed

[2022-11-18 01:14] #1450 closed

[2022-11-18 01:15] srikanthccv commented on #1451
This is not particularly related to ASGI instrumentation. ASGI instrumentation works with the tracer provided or obtained from the global provider. Hence closing. See my comment here https://github.com/open-telemetry/opentelemetry-python-contrib/issues/1372#issuecomment-1319422292

[2022-11-18 01:15] #1451 closed

[2022-11-18 01:16] srikanthccv commented on #1452
Same explanation as others, this is not really related to the instrumentation of specific libraries. We support a new resource detector and it can be used anywhere.

[2022-11-18 01:16] #1452 closed

[2022-11-18 01:16] srikanthccv commented on #1453
See  https://github.com/open-telemetry/opentelemetry-python-contrib/issues/1372#issuecomment-1319422292

[2022-11-18 01:16] #1453 closed

[2022-11-18 01:16] srikanthccv commented on #1454
See comment here https://github.com/open-telemetry/opentelemetry-python-contrib/issues/1372#issuecomment-1319422292

[2022-11-18 01:16] #1454 closed

[2022-11-18 01:20] ElementalWarrior opened #1457 "Include http.target in flask instrumentation metrics attributes"
As part of the semantic conventions, `http.target` should be included in the metrics attributes. However it is only present for span attributes.

https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/metrics/semantic_conventions/http-metrics.md#parameterized-attributes

Currently it isn't part of the `duration_attrs`. Which it probably shouldn't until there is a sol

[2022-11-18 09:52] sanketmehta28 commented on #1372
Hi @srikanthccv , In case of user is not providing the tracer_provider, I was thinking to create one inside `_instrument() `function with `ContainerResourceDetector` passed as argument so that this `container.id` will automatically be available in spans.

I understand that ResourceDetector module is independent of library instrumentation but I wanted to use this module in each framework inside ins

[2022-11-18 13:01] #1433 closed

[2022-11-18 14:01] leameow opened #1458 "Conflict-free Changelog"
**Is your feature request related to a problem?**

Releasing and/or merging pull-request updating the `CHANGELOG.md` produce merge conflict in all currently opened PR. This then often result in maintainers asking submitters to resolve conflict, adding more back-and-forth and wasting a bit of everyone time. If a PR span multiple release, this requires fixing the conflict repeatedly.

**Describe the

[2022-11-18 14:35] ocelotl opened #1459 "httpx tests failing on httpx==0.23.1"

[2022-11-18 19:26] srikanthccv commented on #1372
No, the instrumentation will not set any (tracer/meter/logger)provider on its own for any reason. In the absence of a tracer provider, it will be all no-op, and it's a design decision.

`Resource` is an SDK component, and no SDK related things will be part of the instrumentation.

If you are referring `OTEL_RESOURCE_DETECTORS`, I can't think of a reason why it will not be accepted.

 I don't know

[2022-11-18 19:55] srikanthccv commented on #1458
Thanks, I think it's a good suggestion. However, it's usually not just the merge conflict in CHANGELOG, but the branch is not up to date with the latest main, and we have a policy to only merge if it passes one latest code. Some users don't let the maintainers allow edits which is understandable. If a PR doesn't get merged for a release and is not updated with the latest code, and the author doesn

[2022-11-21 08:43] svrnm commented on #1372
Hey @sanketmehta28 , @srikanthccv , thanks for discussing this. Since I raised this issue a few comments on that matter:

A few other language implementations have the support for resource detectors already in place, and took the following approaches to get them loaded:

* Java: It's part of the javaagent (auto instrumentation), so it is loaded OOTB (under the hood it's probably similar to what JS

[2022-11-21 08:56] avzis opened #1462 "mongo DB instrumentation doesn't capture `db.statement` properly"
According to the [specs](https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/trace/semantic_conventions/database.md#call-level-attributes) - `db.statement` should capture the entire request, and not only the command name.

**Steps to reproduce**
Instrument a client using PymongoInstrumentor.
Send a request to the db.

**What is the expected behavior?**
Produce a s

[2022-11-21 10:02] srikanthccv commented on #1372
This is already supported.

By _included_, you mean they get installed as a part of the distro; it's fine we do this already for instrumentations but including everything, as in all attribute data users have not opted for, is not a good thing. There will also be third-party resource detectors outside this repo which we have no control over, and there needs to be a mechanism to configure them, whic

[2022-11-21 10:16] svrnm commented on #1372
I don't care that much about third-party (aka cloud vendors) resource detectors and more about "standard" ones like container , k8s or other common infrastructure.

I see that you commented on my more lengthy comment over at the spec as well, so let's move that conversation there?

[2022-11-21 11:15] ocelotl commented on #1179
I am back on investigating this one

[2022-11-21 11:22] srikanthccv commented on #1372
From a design perspective, we want a solution that works well for the "standard", or otherwise, that doesn't require rethinking when users come to ask for support for the vendor or even their custom detectors.

Sure, I am conveying this is not a new problem - we already have this addressed for other components and let's follow the pattern.

[2022-11-21 12:19] sanketmehta28 commented on #1372
@srikanthccv , @svrnm : Independent of the ENV var `OTEL_RESOURCE_DETECTORS`, how do you plan to use these detectors in auto-instrumentation? an example will be of great help here.

[2022-11-21 12:23] ocelotl opened #1463 "httpx tests failing on httpx==0.23.1"
Can we leave https://github.com/open-telemetry/opentelemetry-python-contrib/issues/1459 open until we actually fix the instrumentation to work with that version?

_Originally posted by @aabmass in https://github.com/open-telemetry/opentelemetry-python-contrib/pull/1460#pullrequestreview-1186403709_

[2022-11-21 14:14] ocelotl commented on #1319
@alisonatwork @tbbream please give it a try with #1183. I tried @alisonatwork example with the changes in #1183 and it worked without an error being raised.

[2022-11-21 18:58] #1459 closed

[2022-11-22 01:39] #1455 closed

[2022-11-22 05:15] alisonatwork commented on #1319
I have just run the test with the changes suggested in #1183 and now there is a different error:

That shows that the original arguments (host, user, password) are not being passed and it's just trying to connect to the MySQL instance on the local socket as if no connect arguments had been supplied at all. The fix then is to subsequently also add `args` and `kwargs` to all of the `get_traced_conne

[2022-11-22 20:33] myles2007 opened #1465 "Slash-delimited handler paths result in ImportError within AwsLambdaInstrumentor.instrument"
**Describe your environment**

**Runtime:** Python 3.9, amd64
**Dependencies:** Only those that come with the OpenTelemetry layer for AWS Lambda (v1.14.0)
**Cloud Provider**: AWS (specifically, AWS Lambda)

This issue does still appear to exist in `main`, but I have not had a chance to verify. The issue centers around the format of the handler string (it breaks if it is slash-delimited) and the in

[2022-11-24 12:55] avzis commented on #1368
I did the change to pass `enable_commenter` to `EngineTracer`.

But the problem can still happen, because the functionality of `enable_commenter` depends on calling EngineTracer.

If you initiate the instrumentation using an existing engine, the `instrument(engine)` will wrap the engine with `EngineTracer`
But if you initiate the instrumentation without an engine, and create an engine later on, yo

[2022-11-24 16:36] adeadman opened #1467 "PrometheusRemoteWriteMetricsExporter: tls_config["insecure_skip_verify"] results in opposite behavior to what is intended"
[In the code currently](https://github.com/open-telemetry/opentelemetry-python-contrib/blob/2179fb976f6f3413edfad5f5c0ad6f37690f469e/exporter/opentelemetry-exporter-prometheus-remote-write/src/opentelemetry/exporter/prometheus_remote_write/__init__.py#L382) we have the following:

[code]
the `verify` keyword for `requests.post` will skip TLS certificate verification when the parameter is `False`,

[2022-11-29 10:27] ocelotl opened #1469 "Wrong comments in .flake8"
Inline comments in `.flake8` files are [no longer supported](https://github.com/PyCQA/flake8/issues/1750).

[2022-11-29 13:04] #1469 closed

[2022-11-29 14:19] avzis commented on #1364
hi, can you assign this to me?